/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts
      /open-sans-300.woff2) format('woff2'), url(../fonts/open-sans-300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans-400.woff2) format('woff2'), url(../fonts/open-sans-400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/open-sans-600.woff2) format('woff2'), url(../fonts/open-sans-600.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open-sans-700.woff2) format('woff2'), url(../fonts/open-sans-700.woff) format('woff');
}


#loading {
    display:inline;
    padding: 15px 34px !important;
    margin-top: 1px;
}

.element-hidden{
    visibility: hidden
}

.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Impede o scroll do background quando um modal é aberto*/
body.modal-open {
    overflow: auto, /*hidden;*/
    position: relative !important; /* para permitir o scroll => Impedir: fixed; */
    width: 100%;
    background-color: rgba(0, 0, 0,0.5);
}

.vakata-context { 
     z-index:999 !important; 
}