/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts
      /open-sans-300.woff2) format('woff2'), url(../fonts/open-sans-300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans-400.woff2) format('woff2'), url(../fonts/open-sans-400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/open-sans-600.woff2) format('woff2'), url(../fonts/open-sans-600.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open-sans-700.woff2) format('woff2'), url(../fonts/open-sans-700.woff) format('woff');
}


#loading {
    display:inline;
    background: none;
    padding: 15px 34px !important;
    margin-top: 1px;
}

/*.btn-group:hover>.dropdown-menu {
  display: block;
}*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.dropdown-menu{
    z-index : 30000;
}

.element-hidden{
    visibility: hidden
}

/*.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Impede o scroll do background quando um modal é aberto*/
body.modal-open {
    overflow: auto, /*hidden;*/
    position: relative !important; /* para permitir o scroll => Impedir: fixed; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Classes Organizadas em ordem alfabética*/

.barrapesquisa{
  width: 29.33333333%;
}

.botoesAdicionar{
  margin-bottom: 3px;
}

.btn-transparent.btn {
  background: transparent;
  color: #888;
}

.button-bolder{
  color: red !important;
  font-weight: bolder;
}

.botaoGrupoVendendor{
  color: #7e1416;
  font-size:20px; 
  cursor: pointer;
}

.botaoGrupoVendendor:hover{
  color: #c22629;
}



.botaoCheckCociliacaoVendas{
margin-top:170px;
}

.botaoVoltar{
    background-color: #606060;
    color:#fff;    
}

.botaoVoltar:hover{
    background-color: #9E9E9E;
    color:#fff;    
}

.cabecalhoTableAcessoUsuarios{
  text-align: center;
  font-weight: bolder;       
  background-color:#EAEAEA;     
  border: 1px solid #BDBDBD; 
  margin:10px -20px -20px -20px; 
  height: 40px;  
  padding-top: 5px;     
}

.cabecalhoVisualizacaoTableAcessoUsuarios{
  text-align: center;
  font-weight: bolder;       
  background-color:#EAEAEA;     
  border: 1px solid #BDBDBD; 
  margin:-11px -20px -20px -20px;
  height: 40px;  
  padding-top: 5px;     
}

.cabecalhoEmpresas{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
}

.colunasCenter{
  text-align: center;  
}

.colunasLeft{
  text-align: left;
}

.comboBoxFiltros{
  vertical-align: middle;
  width: 85%;
  display: inline;
  margin-right: 5px;
}
.componentesTableAcessoUsuarios{
  text-align: center; 
  background-color:#fff;     
  border: 1px solid #BDBDBD; 
  margin: -11px -20px -20px -20px;
  height: 40px; 
  padding-top: 5px;  
}

.conteudoAcoesUsuarios td{
  vertical-align: middle;
  text-align: center;  
}

.conteudoFiliais{
    margin:8px 10px 0 0;
    color: #6f6e6e;
}

.conteudoEmpresas1{
  vertical-align:middle;
  text-align: center;  
  /*margin:0 4px 10px 4px;
  border-bottom: 1px solid #EAEAEA;*/  
}

.conteudoFiltros{
  text-align: center;
}


.conteudoMinhaConta label{
  font-size: 17px;  
}

.filtros{
  width: 90%;
  display: inline;
  margin-right: 7px;
}

.conteudoConta{
  margin-left: -15px;
}

.conteudoNavegacao{
  margin-top: -30px;
}

.conteudoTabelas{
  text-align: center;
}

.conteudoColunas{
  text-align: center;
}

.conteudoRelatorioAnaliticoCash{
    margin-top: 20px;
    border-bottom: 1px solid #EAEAEA;    
}

.cuponAzulConciliacaoVendas{
    background-color: #eef7fb;
    border-color: #a6e1ec;
    color: #31708f;
    border-left: 5px solid #a6e1ec;  
    border-radius: 0 4px 4px 0; 
    padding: 15px 30px 15px 15px;
    margin-top:40px;
}

.cuponLaranjaConciliacaoVendas{
    background-color: #fcf8e3;
    border-color: #f5d89e;
    color: #8a6d3b;
    border-left: 5px solid #f5d89e;  
    border-radius: 0 4px 4px 0; 
    padding: 15px 30px 15px 15px;
    margin-top:40px;      
}

.cuponVermelhoConciliacaoVendas{
    background-color: #f9f0f0;
    border-color: #e4b9c0;
    color: #a94442;
    border-left: 5px solid #e4b9c0;  
    border-radius: 0 4px 4px 0; 
    padding: 15px 30px 15px 15px;
    margin-top:40px;      
}

.dadosAlterarSenha{
    margin-top: 20px;
    text-align:right;
}

.dadosEmpresa{   
    text-align: left;    
}


.dadosGetaoEmpresas{
    margin:20px 4px 0 4px;
    padding-bottom:20px;
    border-bottom:1px  solid #eaeaea;
    font-size: 15px;
    
}

.dadosRelatorioAnaliticoCash{
    font-weight: bolder;
    margin-right: 10px;
}

.form-controlModuloseFuncionalidades{
  display: block;
  width: 70%;
      
}

.imgPreloader{
  position: absolute;
  margin: auto;
  left: 0; 
  right: 0;
  top: 0;
  bottom: 0;  
  z-index: 15000;
}

.imputsConta{
  margin-top: -7px;
}

.imputsPessoal{
  margin-bottom:5px; 
}



.labelContaDados{
  margin-left: 15px;
}

.labelConta{
  margin
}

.labelPessoal{
  margin-bottom: 12px;
}

.labelPessoalDados{
  margin-bottom: 17px;
}


.linhaTotalRelatorios{
  text-align: center;
  font-weight:bolder;    
}

.minhaConta{
  margin-top: 5px
}

.minhaContaPessoal{
  
}

.modalAcessoDeUsuarios label{
  font-weight: bold;
  margin-top: 15px;
  margin-right: 5px;
}

.modalConfig{
  margin-bottom: 15px;
  margin-top: 15px;    
}

.modalFilialDetalhes{
  border-bottom: 1px solid #eaeaea;
  margin: 10px 10px;    
}

.modalFilialDetalhesFim label{
  font-weight: bold;
  margin-bottom:10px;  
}



.modalFilialDetalhes label{
  font-weight: bold;
  margin-bottom:10px;
}

.modal-input{
  z-index:13000 !important;   
}

.modal-mensagem{
  z-index:14000 !important;   
}

.modal-simples{
  z-index:12000 !important;   
}

.paddingDivs{
    margin-left: 4px;
    margin: 4px;
}

.position-fixed {
  position: fixed;
  z-index:9999 !important; 
}

.rodapeConteudoFiliaias{
    color: #e5e5e5;
    font-size: 13px;
    text-align: center;
    
}

.selecionar-empresa {
    
}
.selecionar-empresa .row{
    margin: 0;
}
.selecionar-empresa .col-sm-2 {
    padding-right: 0;
    text-align: right;
}
.selecionar-empresa span{
    font-weight: bold;
    display: block;
    text-align: right;
    min-width: 200px;
    white-space: nowrap;
}


.StatusSenhaValida{
  background-color: #45B6AF;  
  color: #fff; 
  padding: 3px 6px 3px 6px;
  text-align: center;
  border-radius: .25em; 
}

.StatusSenhaInvalida{
  background-color: #F3565D;  
  color: #fff;  
  padding: 3px 6px 3px 6px;
  text-align: center;
  border-radius: .25em; 
}

.statusSituacaoFiliaisAtivo{
  background-color: #45B6AF;  
  color: #fff; 
  padding: 3px 6px 3px 6px;
  text-align: center;
  border-radius: .25em;     
}

.statusSituacaoFiliaisInativo{
  background-color: #F3565D;  
  color: #fff;  
  padding: 3px 6px 3px 6px;
  text-align: center;
  border-radius: .25em;      
}

.dropDownAtos{
  z-index: 15000;
  left:1000px;    
}
#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}

.tableAcessoUsuarios{
  padding: 15px; 
    
}

/*.table-scrollable{
    overflow: visible;
}*/

.telaManuntencao{
  text-align:center; 
  padding-bottom: 20px;
  padding-top: 20px; 
  font-size:20px; 
  color:#7e1415; 
  font-weight:bold;
}

.telaDeManuntencao{
  background-color: #eaeaea;
  text-align: center;
    
}

.titulosconteudos{
    font-weight: bolder; 
    margin-bottom:10px
}

.tituloEmpresa{
    margin:0 4px 20px 4px;
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    border-bottom: 1px solid #EAEAEA;
}

.tituloFilial{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.titulosModalFilial h4{
  text-align:center; 
  margin-top:1px;
  margin-bottom:15px;    
  color:dimgray;
}

.vakata-context { 
     z-index:11000 !important; 
}

.vertical-center {
   margin: 6px 0 0 15px;    
}
/*img:hover{
 background: red;
}*/

tbody.centralizarVertical > tr > td {
   vertical-align: middle;
}