<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="card-services-conciliacao-bancariaCtrl" 
     ng-init="cardServices_conciliacaoBancariaInit()">    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Card Services<i class="fa fa-caret-right"></i>
             Conciliação<i class="fa fa-caret-right"></i>
             Conciliação Bancária
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="portlet light"> 
        <div class="portlet-title">
            <div class="caption">								
                <span class="caption-subject font-green-sharp bold uppercase">Filtros</span>						
            </div>
            <div class="actions">


            </div>
        </div>
        <div class="portlet-body" ng-show="exibeTela">
            <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                <div class="row">                       
                    <div class="col-md-8 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_ajax_paginate">
                        </div>
                        <div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="table-group-actions pull-right">
                        <span> </span>
                        </div>
                    </div>
                </div>
                <!--div class="table-scrollable"-->
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer conteudoTabelas" 
                           id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                        <thead>
                            <tr role="row" class="heading">
                                <th tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="10%">
                                     Data
                                </th>
                                <th tabindex="1" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="10%">
                                     Filial 
                                </th>
                                <th tabindex="2" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="8%">
                                     Adquirente 
                                </th>
                                <th tabindex="3" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="8%">
                                     Tipo
                                </th>
                                <th tabindex="4" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="1%">
                                     Ações de Filtro
                                </th>                                
                            </tr>
                            <tr role="row" class="filter"> 
                                <!-- DATA -->
                                <td rowspan="1" colspan="1">                                    
                                    <div class="input-group date date-picker margin-bottom-5"
                                         data-date-format="dd/mm/yyyy">
                                        <input type="text" 
                                               class="form-control form-filter input-sm" 
                                               readonly="" 
                                               style="cursor: pointer" 
                                               ng-click="filtro.consideraPeriodo ? exibeCalendarioDataMin($event) : 0" 
                                               placeholder="Início" 
                                               ng-model="filtro.datamin" 
                                               ng-change="alterouDataMin()" 
                                               datepicker-append-to-body="true" 
                                               datepicker-popup="dd MMMM yyyy" 
                                               is-open="abrirCalendarioDataMin" 
                                               ng-required="true" 
                                               show-button-bar="false" 
                                               show-weeks="false" 
                                               required="required">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" 
                                                type="button" ng-disabled="!filtro.consideraPeriodo"
                                                ng-click="exibeCalendarioDataMin($event)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="input-group"> <!--  date date-picker margin-bottom-5" -->
                                        <input type="text" 
                                               class="form-control form-filter input-sm" 
                                               readonly="" 
                                               style="cursor: pointer" 
                                               ng-click="filtro.consideraPeriodo ? exibeCalendarioDataMax($event) : 0" 
                                               placeholder="Fim" 
                                               ng-model="filtro.datamax" 
                                               ng-change="alterouDataMax()" 
                                               datepicker-popup="dd MMMM yyyy" 
                                               is-open="abrirCalendarioDataMax" 
                                               datepicker-append-to-body="true"
                                               ng-required="false" 
                                               current-text="Hoje" 
                                               clear-text="Limpar" 
                                               close-text="Fechar" 
                                               show-button-bar="true" 
                                               show-weeks="false">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" 
                                                    type="button" ng-disabled="!filtro.consideraPeriodo"
                                                    ng-click="exibeCalendarioDataMax($event)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>                                                      
                                </td>
                                <!-- FILIAL -->
                                <td rowspan="1" colspan="1">
                                    <select class="form-control form-filter input-sm comboBoxFiltros"
                                            ng-disabled="filiais.length == 0"
                                            ng-model="filtro.filial"
                                            ng-change="alterouFilial()"
                                            ng-options="filial as getNomeAmigavelFilial(filial) for filial in filiais">
                                        <option style="display:none" value=""></option>
                                    </select>
                                    <i class="fa fa-question-circle"
                                        ng-show="!usuariologado.grupoempresa"
                                        popover-placement="bottom"
                                        popover="É necessário selecionar uma empresa"
                                        popover-trigger="mouseenter"></i> 
                                </td>
                                <!-- ADQUIRENTE -->
                                <td rowspan="1" colspan="1">
                                    <select class="form-control form-filter input-sm comboBoxFiltros"
                                            ng-disabled="!filtro.filial || filtro.filial === null"
                                            ng-model="filtro.adquirente"
                                            ng-change="alterouAdquirente()"
                                            ng-options="adquirente as (adquirente.nmOperadora | uppercase) for adquirente in adquirentes">
                                        <option value="">TODAS</option>
                                    </select>
                                     <i class="fa fa-question-circle"
                                        ng-show="!usuariologado.grupoempresa || !filtro.filial || filtro.filial === null"
                                        popover-placement="bottom"
                                        popover="É necessário selecionar uma filial"
                                        popover-trigger="mouseenter"></i>
                                </td>
                                <!-- TIPO -->
                                <td rowspan="1" colspan="1">
                                    <div class="row">
                                        <select style="width: 80%;"
                                                aria-controls="datatable_products"
                                                class="form-control input-sm input-inline"
                                                ng-model="filtro.tipo"
                                                ng-change="alterouTipo()"
                                                ng-options="tipo as (tipo.nome | uppercase) for tipo in tipos">
                                            <option value="">TODOS</option>
                                        </select>
                                    </div>
                                    <div class="row" style="margin-top:10px;"
                                         ng-class="{'element-hidden' : !isTipoNaoConciliado()}">
                                        <div class="col-sm-3 col-md-3" style="margin-right: -15px;">
                                            <checkbox normal ng-model="filtro.consideraPeriodo"
                                                      ng-change="selecionouCheckboxSemData()"></checkbox>
                                        </div>
                                        <div class="col-sm-9 col-md-9" style="text-align:left;">
                                            <label>Considerar período informado</label>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="1" colspan="1">
                                    <div class="margin-bottom-5">
                                        <button class="btn btn-sm red filter-submit margin-bottom"
                                                ng-click="buscaDadosConciliacao()">
                                            <i class="fa fa-search"></i> 
                                            Buscar
                                        </button>
                                    </div>
                                    <button class="btn btn-sm grey filter-cancel"
                                            ng-click="limpaFiltros()">
                                        <i class="fa fa-times"></i> 
                                        Limpar
                                    </button>
                                </td>
                            </tr>                       
                        </thead>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap_extended">
                        </div>
                        <div class="dataTables_info">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- DADOS DA CONCILIAÇÃO -->
    <div class="portlet light">
        
       <!-- MODAL DETALHAR DOCUMENTOS -->
       <div class="modal fade bs-modal-sm modal-input" 
            id="modalDetalhes" aria-hidden="true">
           <div class="modal-dialog modal-sm" style="width:400px">
               <div class="modal-content">
                   <div class="modal-header">
                       <h4 class="modal-title modal-cabecalho">Detalhes do agrupamento</h4>
                   </div>
                   <div class="modal-body modal-corpo modalAcessoDeUsuarios" style="text-align: center">
                       <div class="row">
                           <div class="col-sm-6">
                                <label>Bandeira</label>
                           </div>
                           <div class="col-sm-3">
                                <label>NSU</label>
                           </div>
                           <div class="col-sm-3">
                                <label>Valor</label>
                           </div>
                       </div>
                       <div class="row" ng-repeat="item in modalDetalhes.grupo">
                           <div class="col-sm-6" style="text-align:center">
                                {{item.Bandeira | uppercase}}
                           </div>
                           <div class="col-sm-3" style="text-align:center">
                                {{item.Documento | uppercase}}
                           </div>
                           <div class="col-sm-3" style="text-align:center">
                                {{item.Valor | currency:'R$'}}
                           </div>
                       </div>
                    </div>
                   <div class="modal-footer">
                       <div class="col-sm-6 col-sm-offset-2">
                           <button type="button" class="btn default" data-dismiss="modal">
                               Fechar
                           </button>
                       </div>                           
                   </div>
               </div>
           </div>
       </div>
        <!-- FIM - MODAL DETALHAR DOCUMENTOS -->
        
        <!-- MODAL ALTERAR DATA DE RECEBIMENTO -->
       <div class="modal fade bs-modal-sm modal-input" 
            id="modalDataRecebimento" aria-hidden="true">
           <div class="modal-dialog modal-sm" style="width:400px">
               <div class="modal-content">
                   <div class="modal-header">
                       <h4 class="modal-title modal-cabecalho">Alterar Data de Recebimento</h4>
                   </div>
                   <div class="modal-body modal-corpo modalAcessoDeUsuarios" style="text-align: center">
                       <div class="row">
                           <input class="form-control input-sm input-inline"
                                  type="text" valid-data 
                                  ng-model="modalDataRecebimento.data"
                                  ng-blur="validaData()"
                                  ng-keypress="($event.which === 13) ? alteraDataRecebimento() : 0">
                       </div>
                    </div>
                   <div class="modal-footer">
                       <div class="col-sm-5">
                           <button type="button" class="btn btn-primary" ng-click="alteraDataRecebimento()">
                               Salvar
                           </button>
                       </div> 
                       <div class="col-sm-5">
                           <button type="button" class="btn default" data-dismiss="modal">
                               Fechar
                           </button>
                       </div>                           
                   </div>
               </div>
           </div>
       </div>
        <!-- FIM - MODAL ALTERAR DATA DE RECEBIMENTO -->
        
        
        <div class="portlet-title">
            <div class="caption">								
                <span class="caption-subject font-green-sharp bold uppercase">Conciliação Bancária</span>
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" 
                   href="javascript:;" 
                   ng-click="fullScreenClick()"
                   title="{{telaEstaEmFullScreen() ? 'Tela Normal' : 'Tela Cheia'}}"></a>
                <div class="btn-group element-hidden"> <!-- NÃO EXIBE PQ AINDA NÃO TEM WEBAPI -->
                    <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                            Export to Excel </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                            Export to CSV </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                            Export to XML </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="javascript:;">
                            Print Invoices </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body" ng-show="exibeTela"> 
            <div class="row">
                <!--EXIBIÇÃO-->
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="dataTables_length">
                        <label>
                            <span class="seperator"></span>Exibindo 
                            <select name="datatable_products_length" aria-controls="datatable_products" 
                                    class="form-control input-xsmall input-sm input-inline"
                                    ng-model="filtro.itens_pagina"
                                    ng-change="alterouItensPagina()"
                                    ng-options="item for item in itens_pagina">                                            
                            </select> registros de {{filtro.total_registros}}
                        </label>
                    </div>   
                </div>
                <!--PAGINAÇÃO-->
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <div class="pagination-panel centralizarPaginacao"> Página 
                        <a href="javascript:;" ng-click="retrocedePagina()"
                           class="btn btn-sm default prev" 
                           ng-class="{disabled: filtro.pagina <= 1}" 
                           title="Página anterior">
                                <i class="fa fa-angle-left"></i>
                        </a>
                        <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                               maxlength="4" style="text-align:center; margin: 0 5px;"
                               ng-model="paginaInformada" valid-integer-number
                               ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                               ng-blur="atualizaPaginaDigitada()">
                            <a href="javascript:;" ng-click="avancaPagina()"
                               class="btn btn-sm default next"
                               ng-class="{disabled: filtro.pagina >= filtro.total_paginas}"
                               title="Próxima página">
                                <i class="fa fa-angle-right"></i>
                            </a>
                            de <span class="pagination-panel-total">{{filtro.total_paginas}}</span>
                    </div>
                </div>  
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <div class="dataTables_length">
                        <button class="btn btn-primary" 
                           ng-disabled="!temElementosPreConciliados()"
                           ng-click="conciliaPreConciliados()">
                           Conciliar Pré-Conciliados
                        </button>
                    </div>
                </div>  
            </div>
         
        
            <div class="table-container" style="margin-bottom:50px">
                
                <!--CUPONS-->
                <div class="row" ng-repeat="dado in dadosconciliacao">
                    <!--1º CUPOM (PREVISÃO CRÉDITO)-->
                    <div class="col-md-5 col-sm-5" 
                         ng-class="{'element-hidden' : dado.RecebimentosParcela === null}">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4 col-sm-12"
                                 ng-class="{'cupomAzulConciliacaoBancaria' : dado.Conciliado === 1, 'cupomVermelhoConciliacaoBancaria' : dado.Conciliado === 3, 'cupomLaranjaConciliacaoBancaria' : dado.Conciliado === 2}">
                                <!--HEAD-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--TITULO DO CUPON -->
                                        <div class="row tituloCumponsConciliacaoBancaria">
                                            <!--TIPO DO CUPON-->
                                            <div class="col-md-12 conteudoCuponsConciliacaobancaria">
                                                Previsão de Crédito
                                            </div>
                                        </div>
                                        <!--SUBTITULO DO CUPON -->
                                        <div class="row tituloCumponsConciliacaoBancariaICard">
                                            <div class="col-md-12 col-sm-12 conteudoCuponsConciliacaobancaria">
                                                
                                            </div>
                                        </div>                                 
                                    </div>
                                </div>
                                <!--BODY-->
                                <!--CAMPO AGÊNCIA E CONTA -->
                                <div class="row">
                                    <!-- nothing....-->
                                </div>                    
                                <!--DIVISÓRIA DOS TIPOS DE CUPONS-->
                                <div class="row">   
                                    <div class="col-md-12 col-sm-12 conteudoCuponsConciliacaobancaria">
                                        ==============================
                                    </div>
                                </div>
                                <!--DATA-->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Data:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados"
                                         ng-bind="getDataString(dado.Data)">
                                    </div>
                                </div>
                                <!--ADQUIRENTE -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Adquirente:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados">
                                        {{dado.Adquirente | uppercase}}
                                    </div>                      
                                </div> 
                                <!--BANDEIRA -->
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <label>Bandeira:</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 alinhamentoDados">
                                        {{(dado.Bandeira | uppercase) || ''}}
                                    </div>                      
                                </div> 
                                <!--VALOR TOTAL-->
                                <div class="row" 
                                     ng-init="incrementaContRecebimentosParcelas(dado.RecebimentosParcela)">
                                    <!--VALOR-->
                                    <div class="col-md-6 col-sm-6">
                                        <label>Valor total:</label>
                                    </div>
                                    <!--RESULTADO DO VALOR-->
                                    <div class="col-md-6 col-sm-6 alinhamentoDados">
                                        <label>{{dado.ValorTotalRecebimento | currency:'R$'}}</label>
                                    </div>                                              
                                </div> 
                                <!--DOCUMENTO-->
                                <div class="row" ng-show="dado.RecebimentosParcela.length === 1">
                                    <div class="col-md-6 col-sm-6">
                                        <label>NSU:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados">
                                        <label>{{dado.RecebimentosParcela[0].Documento}}</label>
                                    </div>                                              
                                </div> 
                                <!--AGRUPADO-->
                                <div class="row" ng-show="dado.RecebimentosParcela.length > 1">
                                    <div class="col-md-10 col-sm-10">
                                        <label>Registros agrupados:</label>
                                    </div>
                                    <div class="col-md-2 col-sm-2 alinhamentoDados">
                                        <button class="btn btnRegistrosCupon"
                                                ng-class="{'blue ' : dado.Conciliado === 1, 'btnPossivelConciliadoConciliacaoBancaria' : dado.Conciliado === 2, 'red': dado.Conciliado === 3}"
                                                ng-click="detalhar(dado.RecebimentosParcela)"
                                                style="color:#fff">
                                            {{dado.RecebimentosParcela.length}}
                                        </button>
                                    </div>                                              
                                </div> 
                            </div>
                        </div>
                    </div>
                    
                    <!--BOTÕES-->
                    <div class="col-md-2 col-sm-2 btnConciliacaoBancaria">
                        <div class="row" ng-init="incrementaTotalPreConciliados(dado.Conciliado === 2)">
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-4"
                                 title="{{dado.Conciliado == 1 ? 'Conciliado' : dado.Conciliado === 2 ? 'Conciliar' : dado.Conciliado === 3 && dado.ExtratoBancario === null ? 'Alterar data de recebimento' : dado.Conciliado === 3 && dado.RecebimentosParcela === null ? 'Sem associação' : ''}}">
                                <a href="javascript:;" class="btn btn-icon-only default"
                                   ng-click="dado.Conciliado === 2 ? concilia(dado) : dado.Conciliado === 3 && dado.ExtratoBancario === null ? exibeModalDataRecebimento(dado) : 0"
                                   ng-disabled="dado.Conciliado === 1 || dado.Conciliado === 3 && dado.RecebimentosParcela === null">
                                    <i class="fa"
                                       ng-class="{'fa-check': dado.Conciliado === 1, 'fa-arrow-right': dado.Conciliado === 2, 'fa-edit': dado.Conciliado === 3 && dado.ExtratoBancario === null, 'fa-times' : dado.Conciliado === 3 && dado.RecebimentosParcela === null}"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!--2º CUPOM(COMPROVANTE CRÉDITO)-->
                    <div class="col-md-5 col-sm-5" 
                         ng-class="{'element-hidden' : dado.ExtratoBancario === null}">
                        <div class="row">
                            <div class="col-md-8 col-sm-12"
                                 ng-class="{'cupomAzulConciliacaoBancaria' : dado.Conciliado === 1, 'cupomVermelhoConciliacaoBancaria' : dado.Conciliado === 3, 'cupomLaranjaConciliacaoBancaria' : dado.Conciliado === 2}">
                                <!--HEAD-->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <!--TITULO DO CUPON -->
                                        <div class="row tituloCumponsConciliacaoBancaria">
                                            <!--TIPO DO CUPON-->
                                            <div class="col-md-12 col-sm-12 conteudoCuponsConciliacaobancaria">
                                                Comprovante de Crédito
                                            </div>
                                        </div>
                                        <!--SUBTITULO DO CUPON -->
                                        <div class="row">
                                            <!--BANCO-->
                                            <div class="col-md-12 col-sm-12 conteudoCuponsConciliacaobancaria"
                                                 ng-bind="exibeBanco(dado.Conta.banco)">
                                            </div>
                                        </div>                                 
                                    </div>
                                </div>
                                <!--BODY-->
                                <!--AGÊNCIA E CONTA -->
                                <div class="row">
                                    <!--AGÊNCIA-->
                                    <div class="col-md-6 col-sm-6">
                                        <label>Agência:&nbsp;</label>
                                        {{(dado.Conta.nrAgencia | uppercase) || ''}}
                                    </div>
                                    <!--CONTA-->
                                    <div class="col-md-6  alinhamentoDados">
                                        <label>Conta:&nbsp;</label>
                                        {{dado.Conta.nrConta | uppercase}}
                                    </div> 
                                </div>                   
                                <!--DIVISÓRIA DOS TIPOS DE CUPONS-->
                                <div class="row">   
                                    <div class="col-md-12 col-sm-12 conteudoCuponsConciliacaobancaria">
                                        =============================
                                    </div>
                                </div>
                                <!--DATA-->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Data:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados"
                                         ng-bind="getDataString(dado.Data)">
                                    </div>                      
                                </div>
                                <!--ADQUIRENTE -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Adquirente:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados">
                                        {{dado.Adquirente | uppercase}}
                                    </div>                      
                                </div> 
                                <!--MEMO -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Memo:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados">
                                        {{(dado.Memo | uppercase) || ''}}
                                    </div>                      
                                </div> 
                                <!--CAMPO NUMERO DOCUMENTO -->
                                <div class="row">
                                    <!-- nothing ...-->           
                                </div> 
                                <!--VALOR TOTAL-->
                                <div class="row"
                                     ng-init="incrementaContExtratoBancario(dado.ExtratoBancario)">
                                    <!--VALOR-->
                                    <div class="col-md-6 col-sm-6">
                                        <label>Valor total:</label>
                                    </div>
                                    <!--RESULTADO DO VALOR-->
                                    <div class="col-md-6 col-sm-6 alinhamentoDados">
                                        <label>{{dado.ValorTotalExtrato | currency:'R$'}}</label>
                                    </div>                                              
                                </div> 
                                <!--DOCUMENTO-->
                                <div class="row" ng-show="dado.ExtratoBancario.length === 1">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Documento:</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados">
                                        <label>{{dado.ExtratoBancario[0].Documento}}</label>
                                    </div>                                              
                                </div> 
                                <!--AGRUPADO-->
                                <div class="row" ng-show="dado.ExtratoBancario.length > 1">
                                    <div class="col-md-10 col-sm-10">
                                        <label>Registros agrupados:</label>
                                    </div>
                                    <div class="col-md-2 col-sm-2 alinhamentoDados">
                                        <button class="btn btnRegistrosCupon"
                                                ng-class="{'blue' : dado.Conciliado === 1, 'yellow' : dado.Conciliado === 2, 'red': dado.Conciliado === 3}"
                                                ng-click="detalhar(dado.ExtratoBancario)"
                                                style="color:#fff">
                                            {{dado.ExtratoBancario.length}}
                                        </button>
                                    </div>                                              
                                </div> 
                            </div>
                        </div>    
                    </div>
                </div>
                <!--FIM CUPONS-->
                <!-- TOTAIS - VALORES -->
                <div class="row" style="margin-top:30px">
                    <!-- RECEBIMENTO PARCELA -->
                    <div class="col-md-5 col-sm-5" style="text-align:center">
                        <label style="font-weight:bolder">
                            TOTAL:&nbsp;{{totais.totalRecebimentosParcela | currency:'R$'}}
                        </label>    
                    </div>
                    <!-- ESPAÇO DOS BOTOÕES -->
                    <div class="col-md-2 col-sm-2">
                    </div>
                    <!-- EXTRATO BANCÁRIO -->
                    <div class="col-md-5 col-sm-5" style="text-align:center">
                        <label style="font-weight:bolder">
                            TOTAL:&nbsp;{{totais.totalExtrato | currency:'R$'}}
                        </label>
                    </div>
                </div>
                <!-- TOTAIS - REGISTROS -->
                <div class="row" style="margin-top:30px">
                    <!-- RECEBIMENTO PARCELA -->
                    <div class="col-md-5 col-sm-5" style="text-align:center">
                        <label style="font-weight:bolder">
                            CARGAS:&nbsp;{{totais.contRecebimentosParcela}}
                        </label>    
                    </div>
                    <!-- ESPAÇO DOS BOTOÕES -->
                    <div class="col-md-2 col-sm-2">
                    </div>
                    <!-- EXTRATO BANCÁRIO -->
                    <div class="col-md-5 col-sm-5" style="text-align:center">
                        <label style="font-weight:bolder">
                            MOVIMENTAÇÕES:&nbsp;{{totais.contExtrato}}
                        </label>
                    </div>
                </div>
            </div>

            <!-- RODAPÉ : Exibição dos resultados e paginação -->
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="dataTables_info" role="status" aria-live="polite">
                        <strong>Exibindo os registros {{filtro.faixa_registros}}</strong>
                    </div>
                </div>
                <!--PAGINAÇÃO-RODAPÉ-->
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <div class="pagination-panel centralizarPaginacao"> Página 
                        <a href="javascript:;" ng-click="retrocedePagina()"
                           class="btn btn-sm default prev" 
                           ng-class="{disabled: filtro.pagina <= 1}" 
                           title="Página anterior">
                                <i class="fa fa-angle-left"></i>
                        </a>
                        <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                               maxlength="4" style="text-align:center; margin: 0 5px;"
                               ng-model="paginaInformada" valid-integer-number
                               ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                               ng-blur="atualizaPaginaDigitada()">
                            <a href="javascript:;" ng-click="avancaPagina()"
                               class="btn btn-sm default next"
                               ng-class="{disabled: filtro.pagina >= filtro.total_paginas}"
                               title="Próxima página">
                                <i class="fa fa-angle-right"></i>
                            </a>
                            de <span class="pagination-panel-total">{{filtro.total_paginas}}</span>
                    </div>
                </div>
                <!-- FIM PAGINAÇÃO -->
            </div>   
        </div>
    </div>
</div>