<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="contaCtrl" ng-init="contaInit()">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Minha Conta
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="portlet light" style="min-height: 350px">        
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green-sharp bold uppercase">Minha Conta</span>
            </div>            
        </div>   
        
        <div style="float:left;">
            <ul class="nav nav-tabs nav-stacked">
                <li ng-class="{ active: tabIs(1) }"> 
                    <a href ng-click=" setTab(1)">                        
                             Pessoal
                    </a> 
                </li>
                <li ng-class="{ active: tabIs(2) }"> 
                    <a href ng-click=" setTab(2)">

                        <font align="right">Contato</font>
                    </a>
                </li>                
            </ul>
        </div>
        <div style="float:left; margin-left:40px">
            <div class="panel" ng-show=" tabIs(1)">
                <div class="row conteudoMinhaConta">
                    <div class="col-sm-6">
                        <div class="row"  style="text-align:right;">
                            <div class="col-sm-12">
                                <label>Nome:</label>             
                            </div> 
                            <div class="col-sm-12">
                                <label>Data de Nascimento:</label>            
                            </div>
                            <div class="col-sm-12">
                                <label>Telefone:</label>            
                            </div>
                            <div class="col-sm-12">
                                <label>Ramal:</label>            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Usuário Atos</label>  
                                <!--input type="text" class="form-control input-inline input-medium" placeholder=""-->
                            </div> 
                            <div class="col-sm-12">
                                <label>15/07/1987</label>   
                                <!--input type="text" class="form-control input-inline input-medium" placeholder=""-->
                            </div>
                            <div class="col-sm-12">
                                <label>(79) 9999-9999</label> 
                                <!--input type="text" class="form-control input-inline input-medium" placeholder=""-->
                            </div>
                            <div class="col-sm-12">
                                <label>0908</label>   
                                <!--input type="text" class="form-control input-inline input-medium" placeholder=""-->
                            </div>
                        </div>                        
                    </div>  
                    <div class="row" style="margin-top:20px">
                        <div class="col-sm-2  col-sm-offset-4">
                            <button class="btn red">Salvar</button>
                        </div>
                        <div class="col-sm-2">                
                            <button class="btn green">resetar</button>                       
                        </div>           

                        <div class="col-sm-2">
                            <button class="btn grey">Cancelar</button>                        
                        </div>      
                    </div>
                </div>
                
            </div>
            <div class="panel" ng-show="tabIs(2)">
                <div class="btn-group">
                    <a class="btn btn-default btn-circle" 
                       href="javascript:;"
                       ng-click="goMinhaContaAlterarSenha()">
                        <i class="fa fa-edit"></i> 
                        Alterar Senha
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
