<!-- 

    Atos Capital - www.atoscapital.com.br
   
    suporte@atoscapital.com.br
 
 
    Administrativo > Gestão de Acessos > Parâmetros de Notícias


    Versão 1.0 - 29/09/2015
-->

<div class="container" ng-controller="administrativo-parametros-noticiasCtrl" ng-init="administrativoParametrosNoticiasInit()">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Gestão de Acessos<i class="fa fa-caret-right"></i>
             Parâmetros de Notícias
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">                
                
                <!-- TOPO : Nome 'Usuários' e botões de 'Opções' e FullScreen -->
                <div class="portlet-title">
                    <div class="caption">
                        <!--i class="fa fa-cogs font-green-sharp"></i-->
                        <span class="caption-subject font-green-sharp bold uppercase">Catálago</span>
                    </div>
                    <div class="actions">
                        <!-- FULLSCREEN -->
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" 
                           href="javascript:;" ng-click="fullScreenClick()"
                           title="{{telaEstaEmFullScreen() ? 'Tela Normal' : 'Tela Cheia'}}"></a>
                        <!-- OPÇÕES -->
                        <div class="btn-group element-hidden"> <!-- NÃO EXIBE PQ AINDA NÃO TEM WEBAPI -->
                            <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                    Export to Excel </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to CSV </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to XML </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Print Invoices </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="portlet-body" ng-show="exibeTela">
                    <select class="form-control">
                        <option value="1">Catálago 1</option>
                        <option value="2">Catálago 2</option>
                        <option value="3">Catálago 3</option>
                    </select>    
                </div>
                <!-- FIM TABELA -->
            </div>
            <!-- END TABLE PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
