<!-- 

    Atos Capital - www.atoscapital.com.br
   
    suporte@atoscapital.com.br
 
 
    Card Services > Consolidação > Movimento TEF


    Versão 1.0 - 19/11/2015
-->

<div class="container" ng-controller="card-services-movimento-tefCtrl" 
     ng-init="cardServices_movimento_tefInit()">    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Card Services<i class="fa fa-caret-right"></i>
             Consolidação<i class="fa fa-caret-right"></i>
             Movimento TEF
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
      <div class="portlet light"> 
        <div class="portlet-title">
            <div class="caption">								
                <span class="caption-subject font-green-sharp bold uppercase">Filtros</span>						
            </div>
            <div class="actions">


            </div>
        </div>
        <div class="portlet-body" ng-show="exibeTela">
            <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">                
                <div class="table-scrollable">
                   <table class="table table-striped table-bordered table-hover dataTable no-footer" 
                           id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="20%" tabindex="0" 
                                    aria-controls="datatable_ajax" 
                                    rowspan="1" colspan="1">
                                     Data
                                </th>
                                <th width="40%" tabindex="1" 
                                    aria-controls="datatable_ajax" 
                                    rowspan="1" colspan="1">
                                     Filial 
                                </th>
                                <!--th width="5%" tabindex="2" 
                                    aria-controls="datatable_ajax" 
                                    rowspan="1" colspan="1">
                                     Adquirente
                                </th>
                                <th width="8%" tabindex="3" 
                                    aria-controls="datatable_ajax" 
                                    rowspan="1" colspan="1">
                                     Bandeira
                                </th-->
                                <th width="20%" tabindex="5" 
                                    aria-controls="datatable_ajax" 
                                    rowspan="1" colspan="1">
                                     Ações de filtro
                                </th>
                            </tr>
                            <!-- CONTEUDO DO FILTRO -->
                            <tr role="row" class="filter">
                                <!-- DATA DA VENDA -->
                                <td rowspan="1" colspan="1"> 
                                    <div class="input-group date date-picker margin-bottom-5"
                                         data-date-format="dd/mm/yyyy">
                                        <input type="text" 
                                               class="form-control form-filter input-sm" 
                                               readonly="" 
                                               style="cursor: pointer" 
                                               ng-click="exibeCalendarioDataMin($event)" 
                                               placeholder="Início" 
                                               ng-model="filtro.datamin" 
                                               ng-change="alterouDataMin()" 
                                               datepicker-append-to-body="true" 
                                               datepicker-popup="dd MMMM yyyy" 
                                               is-open="abrirCalendarioDataMin" 
                                               ng-required="true" 
                                               show-button-bar="false" 
                                               show-weeks="false" 
                                               required="required">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" 
                                                type="button" 
                                                ng-click="exibeCalendarioDataMin($event)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="input-group"> <!--  date date-picker margin-bottom-5" -->
                                        <input type="text" 
                                               class="form-control form-filter input-sm" 
                                               readonly="" 
                                               style="cursor: pointer" 
                                               ng-click="exibeCalendarioDataMax($event)" 
                                               placeholder="Fim" 
                                               ng-model="filtro.datamax" 
                                               ng-change="alterouDataMax()" 
                                               datepicker-popup="dd MMMM yyyy" 
                                               is-open="abrirCalendarioDataMax" 
                                               datepicker-append-to-body="true"
                                               ng-required="false" 
                                               current-text="Hoje" 
                                               clear-text="Limpar" 
                                               close-text="Fechar" 
                                               show-button-bar="true" 
                                               show-weeks="false">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" 
                                                    type="button" 
                                                    ng-click="exibeCalendarioDataMax($event)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>                                            
                                </td>
                                <!-- FILIAIS -->
                                <td rowspan="1" colspan="1" style="text-align: center;">
                                    <select class="form-control form-filter input-sm comboBoxFiltros"
                                            ng-disabled="filiais.length == 0"
                                            ng-model="filtro.filial"
                                            ng-change="alterouFilial()"
                                            ng-options="filial as getNomeAmigavelFilial(filial) for filial in filiais">
                                        <option value="">TODAS</option>
                                    </select>
                                    <i class="fa fa-question-circle"
                                        ng-show="!usuariologado.grupoempresa"
                                        popover-placement="bottom"
                                        popover="É necessário selecionar uma empresa"
                                        popover-trigger="mouseenter"
                                        ></i> 
                                </td>
                                <!-- ADQUIRENTES -- >
                                <td rowspan="1" colspan="1" style="text-align: center">
                                    <select class="form-control form-filter input-sm comboBoxFiltros"
                                            ng-disabled="adquirentes.length === 0"
                                            ng-model="filtro.adquirente"
                                            ng-change="alterouAdquirente()"
                                            ng-options="adquirente as (adquirente.nmAdquirente | uppercase) for adquirente in adquirentes"
                                            >
                                        <option value="">TODAS</option>
                                    </select>
                                </td-->
                                <!-- BANDEIRAS -- >
                                <td rowspan="1" colspan="1" style="text-align: center">
                                    <select class="form-control form-filter input-sm comboBoxFiltros"
                                            ng-disabled="filtro.adquirente === null || bandeiras.length === 0"
                                            ng-model="filtro.bandeira"
                                            ng-change="alterouBandeira()"
                                            ng-options="bandeira as (bandeira.dsBandeira | uppercase) for bandeira in bandeiras"
                                            >
                                        <option value="">TODAS</option>
                                    </select>
                                    <i class="fa fa-question-circle"
                                       ng-show="usuariologado.grupoempresa && filtro.adquirente === null"
                                       popover-placement="bottom"
                                       popover="É necessário selecionar uma adquirente"
                                       popover-trigger="mouseenter"></i>
                                </td-->
                                <!-- AÇÕES -->
                                <td rowspan="1" colspan="1" style="text-align:center">
                                    <div class="margin-bottom-5">
                                        <!-- BOTÃO BUSCAR -->
                                        <button class="btn btn-sm red filter-submit margin-bottom" 
                                                ng-click="buscaRecebimentoTEF()">
                                            <i class="fa fa-search"></i> 
                                            Buscar
                                        </button>
                                    </div>
                                    <!-- BOTÃO LIMPAR -->
                                    <button class="btn btn-sm grey filter-cancel"
                                            ng-click="limpaFiltros()">
                                        <i class="fa fa-times"></i> 
                                        Limpar
                                    </button>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>                
            </div>
        </div>
    </div>
    
    <!-- CONTEUDO -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">                
                
                <!-- TOPO : Nome 'Informações' e botões de 'Opções' e FullScreen -->
                <div class="portlet-title tabbable-line">
                    <div class="caption">
                        <!--i class="fa fa-cogs font-green-sharp"></i-->
                        <span class="caption-subject font-green-sharsp bold uppercase">Recebimento TEF</span>
                    </div>
                    <ul class="nav nav-tabs" style="float:left; margin-left:60%">                                            
                        <li ng-class="{active : tabIs(1)}">
                            <a ng-click="setTab(1)">
                            Analítico  </a>
                        </li>
                        <li ng-class="{active : tabIs(2)}">
                            <a ng-click=" setTab(2)">
                            Sintético  </a>
                        </li>
                    </ul>
                    <div class="actions">
                        <!-- FULLSCREEN -->
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" 
                           href="javascript:;" ng-click="fullScreenClick()"
                           title="{{telaEstaEmFullScreen() ? 'Tela Normal' : 'Tela Cheia'}}"></a>
                        <!-- EXPORTAR -->
                        <!--div class="btn-group">
                            <a class="btn btn-default btn-circle" 
                               href="javascript:;" 
                               data-toggle="dropdown">
                                <i class="fa fa-download"></i> 
                                Exportar 
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right"
                                ng-hide="buscandoRelatorio">
                                <li>
                                    <a href="javascript:;"
                                       ng-click="exportarCSV()">
                                    CSV </a>
                                </li>
                                <li ng-hide="true">
                                    <a href="javascript:;">
                                    Excel </a>
                                </li>
                                <li ng-hide="true">
                                    <a href="javascript:;">
                                    XML </a>
                                </li>
                            </ul>
                        </div-->
                    </div>
                </div>                
                <div class="portlet-body" ng-show="exibeTela">     
                    <div class="panel" ng-show="tabIs(1)">
                        <div class="portlet-body" ng-show="exibeTela">
                            <!-- TABELA -->
                            <div class="dataTables_wrapper no-footer">
                                <!-- EXIBIÇÃO E PESQUISA -->                      
                                <div class="row">
                                    <!-- EXIBIÇÃO --> 
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="dataTables_length">
                                            <label>
                                                <span class="seperator"></span>Exibindo 
                                                <select name="datatable_products_length" aria-controls="datatable_products" 
                                                        class="form-control input-xsmall input-sm input-inline"
                                                        ng-model="filtro.itens_pagina"
                                                        ng-change="alterouItensPagina()"
                                                        ng-options="item for item in itens_pagina">                                            
                                                </select> registros de 
                                                <span ng-show="tabIs(2)">{{filtro.sintetico.total_registros}}</span>
                                                <span ng-show="tabIs(1)">{{filtro.analitico.total_registros}}</span>
                                            </label>
                                        </div>
                                    </div> 
                                    <!--PAGINAÇÃO-->
                                    <div class="col-xs-4 col-sm-4 col-md-3" print-hide>
                                        <div class="pagination-panel centralizarPaginacao"> Página 
                                            <a href="javascript:;" ng-click="retrocedePagina()"
                                               class="btn btn-sm default prev" 
                                               ng-class="{disabled: (tabIs(2) && filtro.sintetico.pagina  <= 1) || (tabIs(1) && filtro.analitico.pagina <= 1)}" 
                                               title="Página anterior">
                                                    <i class="fa fa-angle-left"></i>
                                            </a>
                                            <input type="text" 
                                                   class="pagination-panel-input form-control input-mini input-inline input-sm" 
                                                   maxlength="4" style="text-align:center; margin: 0 5px;"
                                                   ng-model="paginaInformada" valid-integer-number
                                                   ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                                                   ng-blur="atualizaPaginaDigitada()">
                                            <a href="javascript:;" ng-click="avancaPagina()"
                                               class="btn btn-sm default next"
                                               ng-class="{disabled: (tabIs(2) && filtro.sintetico.pagina >= filtro.sintetico.total_paginas) || (tabIs(1) && filtro.analitico.pagina >= filtro.analitico.total_paginas)}"
                                               title="Próxima página">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                             de 
                                            <span class="pagination-panel-total" ng-show="tabIs(2)">
                                                {{filtro.sintetico.total_paginas}}
                                            </span>
                                            <span class="pagination-panel-total" ng-show="tabIs(1)">
                                                {{filtro.analitico.total_paginas}}
                                            </span>
                                        </div>
                                    </div>                                                 
                                </div> 

                                <!--TABELA-->
                                <div class="dataTables_wrapper no-footer">
                                   <div class="table-scrollable">
                                        <table class="table table-striped table-hover table-bordered dataTable no-footer conteudoTabelas" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th style="width:15%" tabindex="0" rowspan="1" colspan="1">
                                                        Data
                                                    </th>
                                                    <th style="width:15%" tabindex="1" rowspan="1" colspan="1">
                                                        Filial
                                                    </th>
                                                    <th style="width:10%" tabindex="2" rowspan="1" colspan="1">
                                                        Bandeira
                                                    </th>
                                                    <th style="width:10%" tabindex="3" rowspan="1" colspan="1">
                                                        Cartão
                                                    </th>
                                                    <th style="width:8%" tabindex="4" rowspan="1" colspan="1">
                                                        Valor(R$)
                                                    </th>
                                                    <th style="width:5%" tabindex="5" rowspan="1" colspan="1" >
                                                        Parcelas
                                                    </th>   
                                                    <th style="width:8%" tabindex="6" rowspan="1" colspan="1">
                                                        Tipo
                                                    </th> 
                                                    <th style="width:5%" tabindex="7" rowspan="1" colspan="1">
                                                        NSU <br>SITEF
                                                    </th> 
                                                    <th style="width:8%" tabindex="8" rowspan="1" colspan="1">
                                                        PDV
                                                    </th> 
                                                    <th style="width:8%" tabindex="9" rowspan="1" colspan="1">
                                                        Autorizador
                                                    </th> 
                                                    <th style="width:8%" tabindex="10" rowspan="1" colspan="1">
                                                        Status
                                                    </th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="relanalitico in relatorio.analitico">
                                                    <!-- DATA + HORA -->
                                                    <td ng-bind="getDataString(relanalitico.dtVenda) + ' ' + relanalitico.hrVenda">
                                                    <!-- FILIAL -->
                                                    <td ng-bind="getNomeAmigavelFilial(relanalitico.empresa)">
                                                    </td>
                                                    <!-- BANDEIRA -->
                                                    <td>
                                                        {{relanalitico.dsBandeira || ''}}
                                                    </td>
                                                    <!-- CARTÃO -->
                                                    <td>
                                                        {{relanalitico.nrCartao}}
                                                    </td>
                                                    <!-- VALOR -->
                                                    <td>
                                                        {{relanalitico.vlVenda | currency:'R$'}}
                                                    </td>
                                                    <!-- PARCELAS -->
                                                    <td>
                                                        {{relanalitico.qtParcelas}}
                                                    </td>
                                                    <!-- TIPO -->
                                                    <td>
                                                        {{relanalitico.tipoProtuto || ''}}
                                                    </td>
                                                    <!-- NSU SITEF -->
                                                    <td>
                                                        {{relanalitico.nrNSUTEF || ''}}
                                                    </td>
                                                    <!-- PDV -->
                                                    <td>
                                                        {{relanalitico.nrPDVTEF || ''}}
                                                    </td>
                                                    <!-- AUTORIZADOR -->
                                                    <td>
                                                        {{relanalitico.tbRedeTEF.dsRedeTef || ''}}
                                                    </td>
                                                    <!-- STATUS -->
                                                    <td>
                                                        {{relanalitico.dsEstadoTransacaoTef || ''}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> 
                                </div> 
                                <!--FIM TABELA-->

                                <!-- RODAPÉ : Exibição dos resultados e paginação -->
                                <div class="row" print-remove>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="dataTables_info" role="status" aria-live="polite">
                                            <strong>Exibindo os registros 
                                                <span ng-show="tabIs(2)">{{filtro.sintetico.faixa_registros}}</span>
                                                <span ng-show="tabIs(1)">{{filtro.analitico.faixa_registros}}</span>
                                            </strong>
                                        </div> 
                                    </div>
                                    <!--PAGINAÇÃO-RODAPÉ-->
                                    <div class="col-xs-4 col-sm-4 col-md-3">
                                        <div class="pagination-panel centralizarPaginacao"> Página 
                                            <a href="javascript:;" ng-click="retrocedePagina()"
                                               class="btn btn-sm default prev" 
                                               ng-class="{disabled: (tabIs(2) && filtro.sintetico.pagina  <= 1) || (tabIs(1) && filtro.analitico.pagina <= 1)}" 
                                               title="Página anterior">
                                                    <i class="fa fa-angle-left"></i>
                                            </a>
                                            <input type="text" 
                                                   class="pagination-panel-input form-control input-mini input-inline input-sm" 
                                                   maxlength="4" style="text-align:center; margin: 0 5px;"
                                                   ng-model="paginaInformada" valid-integer-number
                                                   ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                                                   ng-blur="atualizaPaginaDigitada()">
                                            <a href="javascript:;" ng-click="avancaPagina()"
                                               class="btn btn-sm default next"
                                               ng-class="{disabled: (tabIs(2) && filtro.sintetico.pagina >= filtro.sintetico.total_paginas) || (tabIs(1) && filtro.analitico.pagina >= filtro.analitico.total_paginas)}"
                                               title="Próxima página">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                             de 
                                            <span class="pagination-panel-total" ng-show="tabIs(2)">
                                                {{filtro.sintetico.total_paginas}}
                                            </span>
                                            <span class="pagination-panel-total" ng-show="tabIs(1)">
                                                {{filtro.analitico.total_paginas}}
                                            </span>    
                                        </div>
                                    </div>
                                    <!-- FIM PAGINAÇÃO -->
                                </div> 
                                <!-- FIM RODAPÉ -->
                            </div>
                        </div>   
                    </div>
                    <div class="panel" ng-show="tabIs(2)">
                        <div class="portlet-body" ng-show="exibeTela">
                            <!-- TABELA -->
                            <div class="dataTables_wrapper no-footer">
                                <!-- EXIBIÇÃO E PESQUISA -->                      
                                <div class="row">
                                    <!--EXIBIÇÃO-->
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="dataTables_length">
                                            <label>
                                                <span class="seperator"></span>Exibindo 
                                                <select name="datatable_products_length" aria-controls="datatable_products" 
                                                        class="form-control input-xsmall input-sm input-inline"
                                                        ng-model="filtro.itens_pagina"
                                                        ng-change="alterouItensPagina()"
                                                        ng-options="item for item in itens_pagina">                                            
                                                </select> registros de {{filtro.total_registros}}
                                            </label>
                                        </div>   
                                    </div>
                                    <!--PAGINAÇÃO-->
                                    <div class="col-xs-4 col-sm-4 col-md-3">
                                        <div class="pagination-panel centralizarPaginacao"> Página 
                                            <a href="javascript:;" ng-click="retrocedePagina()"
                                               class="btn btn-sm default prev" 
                                               ng-class="{disabled: filtro.pagina <= 1}" 
                                               title="Página anterior">
                                                    <i class="fa fa-angle-left"></i>
                                            </a>
                                            <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                                                   maxlength="4" style="text-align:center; margin: 0 5px;"
                                                   ng-model="paginaInformada" valid-integer-number
                                                   ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                                                   ng-blur="atualizaPaginaDigitada()">
                                                <a href="javascript:;" ng-click="avancaPagina()"
                                                   class="btn btn-sm default next"
                                                   ng-class="{disabled: filtro.pagina >= filtro.total_paginas}"
                                                   title="Próxima página">
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                                de <span class="pagination-panel-total">{{filtro.total_paginas}}</span>
                                        </div>
                                    </div>                                                 
                                </div> 

                                <!--TABELA-->
                                <div class="dataTables_wrapper no-footer">
                                   <div class="table-scrollable">
                                        <table class="table table-striped table-hover table-bordered dataTable no-footer conteudoTabelas" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th style="width:15%" tabindex="0" rowspan="1" colspan="1" style="width: 15%;">
                                                        Bandeira
                                                    </th>
                                                    <th style="width:15%" tabindex="1" rowspan="1" colspan="1" style="width: 20%;">
                                                        Transação
                                                    </th>
                                                    <th style="width:10%" tabindex="2" rowspan="1" colspan="1" style="width: 5%;">
                                                        Quantidade
                                                    </th>
                                                    <th style="width:10%" tabindex="3" rowspan="1" colspan="1" style="width: 5%;">
                                                        Valores
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="resumo in resumos_movimento">
                                                    <!-- BANDEIRA -->
                                                    <td>
                                                      {{resumo.bandeira}}
                                                    </td>
                                                    <!-- TRANSAÇÃO -->
                                                    <td>
                                                       {{resumo.transacao}} 
                                                    </td>
                                                    <!-- QUANTIDADE -->
                                                    <td>
                                                        {{resumo.quantidade}}
                                                    </td>
                                                    <!-- VALORES -->
                                                    <td>
                                                       {{resumo.valor}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> 
                                </div> 
                                <!--FIM TABELA-->

                                <!-- RODAPÉ : Exibição dos resultados e paginação -->
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <div class="dataTables_info" role="status" aria-live="polite">
                                            <strong>Exibindo os registros {{filtro.faixa_registros}}</strong>
                                        </div>
                                    </div>
                                    <!--PAGINAÇÃO-RODAPÉ-->
                                    <div class="col-xs-4 col-sm-4 col-md-3">
                                        <div class="pagination-panel centralizarPaginacao"> Página 
                                            <a href="javascript:;" ng-click="retrocedePagina()"
                                               class="btn btn-sm default prev" 
                                               ng-class="{disabled: filtro.pagina <= 1}" 
                                               title="Página anterior">
                                                    <i class="fa fa-angle-left"></i>
                                            </a>
                                            <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                                                   maxlength="4" style="text-align:center; margin: 0 5px;"
                                                   ng-model="paginaInformada" valid-integer-number
                                                   ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                                                   ng-blur="atualizaPaginaDigitada()">
                                                <a href="javascript:;" ng-click="avancaPagina()"
                                                   class="btn btn-sm default next"
                                                   ng-class="{disabled: filtro.pagina >= filtro.total_paginas}"
                                                   title="Próxima página">
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                                de <span class="pagination-panel-total">{{filtro.total_paginas}}</span>
                                        </div>
                                    </div>
                                    <!-- FIM PAGINAÇÃO -->
                                </div> 
                                <!-- FIM RODAPÉ -->
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <!-- FIM TABELA -->
    </div>
    <!-- END TABLE PORTLET-->    
</div>