body {
    background: url('../img/fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover; 
}

.centro{
    position: absolute;
    width: 60%;
    height: 200px;    
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color:#7e1416; 
    padding-top: 20px;
    margin-top: 15%;
    margin-left: 10%;    
    border-radius: 10px;
}

.conteudo{
    text-align: center;
}

.img{
    width: 201px;
    height: 47px    
}



