<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="administrativo-monitor-cargasCtrl" ng-init="administrativo_monitorCargasInit()">   
    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Monitor<i class="fa fa-caret-right"></i>
             Monitor de Cargas
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">  
                <!--TITULO-->
                <div class="portlet-title">
                    <div class="caption">
                        <!--i class="fa fa-cogs font-green-sharp"></i-->
                        <span class="caption-subject font-green-sharp bold uppercase">Filtros</span>
                    </div>                    
                </div>
                <!-- CORPO -->
                <div class="portlet-body" ng-show="exibeTela">
                    <!-- FILTROS -->
                    <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="row">                       
                            <div class="col-md-8 col-sm-12">
                                <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_ajax_paginate">
                                </div>
                                <div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="table-group-actions pull-right">
                                <span> </span>
                                </div>
                            </div>
                        </div>

                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer conteudoTabelas" id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="15%">
                                             Mês/Ano
                                        </th>
                                        <th tabindex="1" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="30%">
                                             Status 
                                        </th>
                                        <th tabindex="2" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="30%">
                                             Filial
                                        </th>
                                        <th tabindex="3" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="15%">
                                             Adquirente
                                        </th>
                                        <th tabindex="4" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="10%">
                                             Ações de Filtro
                                        </th>                                
                                    </tr>
                                    <tr role="row" class="filter">  
                                        <!-- Mês/Ano -->
                                        <td rowspan="1" colspan="1">
                                            <div class="input-group date date-picker margin-bottom-5"
                                                 data-date-format="mm/yyyy">
                                                <input type="text" 
                                                       class="form-control form-filter input-sm" 
                                                       readonly="" 
                                                       style="cursor: pointer" 
                                                       ng-click="exibeCalendario($event)" 
                                                       placeholder="Início" 
                                                       ng-model="filtro.data" 
                                                       ng-change="alterouData()" 
                                                       datepicker-mode="'month'"
                                                       datepicker-options="{minMode: 'month'}"
                                                       datepicker-append-to-body="true" 
                                                       datepicker-popup="MMMM yyyy" 
                                                       is-open="abrirCalendario" 
                                                       ng-required="true" 
                                                       show-button-bar="false" 
                                                       show-weeks="false" 
                                                       required="required">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-sm default" 
                                                        type="button" 
                                                        ng-click="exibeCalendario($event)">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <!--STATUS-->
                                        <td rowspan="1" colspan="1">
                                            <select style="width: 90%;" class="form-control input-sm input-inline"
                                                    ng-model="filtro.status"
                                                    ng-options="status as status.nome for status in statuscarga">
                                                <option value="">TODOS</option>
                                            </select>
                                        </td>
                                        <!--FILIAL-->
                                        <td rowspan="1" colspan="1">
                                            <select class="form-control form-filter input-sm comboBoxFiltros"
                                                    ng-disabled="filiais.length == 0"
                                                    ng-model="filtro.filial"
                                                    ng-change="alterouFilial()"
                                                    ng-options="filial as getNomeAmigavelFilial(filial) for filial in filiais">
                                                <option value="">TODAS</option>
                                            </select>
                                            <i class="fa fa-question-circle"
                                               ng-show="!usuariologado.grupoempresa"
                                               popover-placement="bottom"
                                               popover="É necessário selecionar uma empresa"
                                               popover-trigger="mouseenter"></i>
                                        </td>
                                        <!-- ADQUIRENTE -->
                                        <td rowspan="1" colspan="1">
                                            <select class="form-control form-filter input-sm comboBoxFiltros"
                                                    ng-disabled="!filtro.filial || filtro.filial === null"
                                                    ng-model="filtro.adquirente"
                                                    ng-change="alterouAdquirente()"
                                                    ng-options="adquirente as (adquirente.nmOperadora | uppercase) for adquirente in adquirentes">
                                                <option value="">TODAS</option>
                                            </select>
                                             <i class="fa fa-question-circle"
                                                ng-show="!usuariologado.grupoempresa || !filtro.filial || filtro.filial === null"
                                                popover-placement="bottom"
                                                popover="É necessário selecionar uma filial"
                                                popover-trigger="mouseenter"></i>
                                        </td>
                                        <!--AÇÕES-->
                                        <td rowspan="1" colspan="1">
                                            <div class="margin-bottom-5">
                                                <button class="btn btn-sm red filter-submit margin-bottom"
                                                        ng-click="buscaListaMonitor()">
                                                    <i class="fa fa-search"></i>
                                                    Buscar
                                                </button>
                                            </div>
                                            <button class="btn btn-sm grey filter-cancel"
                                                    ng-click="resetaFiltros()">
                                                <i class="fa fa-times"></i>
                                                Limpar
                                            </button>
                                        </td>
                                    </tr>                   
                                </thead>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="dataTables_paginate paging_bootstrap_extended">
                                </div>
                                <div class="dataTables_info">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIM CORPO -->
            </div>
        </div>
    </div>
    <!-- FIM PORTLET FILTROS -->
    
    <!-- PORTLET TABELA -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">
                <!--TITULO-->
                <div class="portlet-title">
                    <div class="caption">								
                        <span class="caption-subject font-green-sharp bold uppercase"
                              ng-bind="'Monitor de Cargas - ' + getAnoMesFiltrado()">
                        </span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" 
                           href="javascript:;" 
                           ng-click="fullScreenClick()"
                           title="{{telaEstaEmFullScreen() ? 'Tela Normal' : 'Tela Cheia'}}"></a>
                        <div class="btn-group element-hidden"> <!-- NÃO EXIBE PQ AINDA NÃO TEM WEBAPI -->
                            <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                    Export to Excel </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to CSV </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to XML </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Print Invoices </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- CORPO -->
                <div class="portlet-body" ng-show="exibeTela">
                    <div class="table-scrollable">
                        <table class="table table-striped table-hover table-bordered dataTable no-footer" role="grid">
                            <thead class="fonteTabelaMonitoramentoCargas">
                                <tr role="row">
                                    <th ng-show="!usuariologado.grupoempresa">
                                        Empresa
                                    </th>
                                    <th rowspan="1" colspan="1" style="width: 10%;">
                                       Filial / Adquirente
                                    </th>
                                    <th ng-repeat="dia in diasMesFiltrado" rowspan="1" colspan="1" style="width: 3%;">
                                        {{dia}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="fonteTabelaMonitoramentoCargas" id="tabelaMonitorCargas">
                                <tr role="row" class="odd conteudoTabelas"
                                    ng-repeat="loginoperadora in monitorCargas">
                                    <!-- GRUPO EMPRESA -->
                                    <td ng-show="!usuariologado.grupoempresa">
                                        {{(loginoperadora.grupoempresa.ds_nome | uppercase) || ''}}
                                    </td>
                                    <!-- FILIAL / OPERADORA -->
                                    <td style="text-align:left"
                                        ng-bind="getNomeLoginOperadoraAmigavel(loginoperadora.empresa, loginoperadora.operadora)">
                                    </td>
                                    <td ng-repeat="logExecution in loginoperadora.logExecution">
                                        <!--i class="fa fa-key" style="color: #daa520"></i-->
                                        <i ng-show="logExecution.statusExecution"
                                           class="fa"
                                           ng-class="{'fa-spin fa-spinner' : logExecution.statusExecution === '0', 'fa-check-square' : logExecution.statusExecution === '1', 'fa-times-circle' : logExecution.statusExecution === '2', 'fa-rotate-right' : logExecution.statusExecution === '3', 'fa-key' : logExecution.statusExecution === '4', 'fa-upload' : logExecution.statusExecution === '7'}"
                                           title="{{logExecution.statusExecution === '0' ? 'Em execução' : logExecution.statusExecution === '1' ? 'Executado com sucesso em ' + getDataTimeString(logExecution.dtaExecucaoFim) :  logExecution.statusExecution === '2' ? 'Execução com erro em ' + getDataTimeString(logExecution.dtaExecucaoFim) : logExecution.statusExecution === '3' ? 'Execução será reprocessada' : logExecution.statusExecution === '4' ? 'Execução com erro de senha em ' + getDataTimeString(logExecution.dtaExecucaoFim) : logExecution.statusExecution === '7' ? 'Pronto para execução' : ''}}">
                                        </i>
                                    </td>
                            <!-- 'fa-spin fa-spinner': status === '0' // em execução
                                 'fa-check-square' : statusExecution === '1' // executado com sucesso
                                 'fa-times-circle' : statusExecution === '2' // executado com erro
                                 'fa-rotate-right' : statusExecution === '3' // re-executar
                                 'fa-key' : statusExecution === '4' // executado com erro de senha
                                 'fa-upload' : statusExecution === '7' // elegível -->
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
            <!--FIM TABLE PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>

