<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="administrativo-usuariosCtrl" ng-init="administrativoUsuariosInit()">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Gestão de Acessos<i class="fa fa-caret-right"></i>
             Usuários
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">
                        Cadastro de Usuário - <span class="step-title">Etapa {{tabCadastro}} de 4 </span>
                        </span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal" id="submit_form"> <!--action="javascript:;" -->
                        <div class="form-wizard">
                            <div class="form-body">
                                <ul class="nav nav-pills nav-justified steps">
                                    <li ng-class="{ active:tabCadastroSelecionada(1) }">
                                        <a href ng-click="setTabCadastro(1)" data-toggle="tab" class="step">
                                        <span class="number">
                                        1 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> Dados pessoais </span>
                                        </a>
                                    </li>
                                    <li ng-class="{ active:tabCadastroSelecionada(2) }">
                                        <a href ng-click="setTabCadastro(2)" data-toggle="tab" class="step">
                                        <span class="number">
                                        2 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> Dados da conta </span>
                                        </a>
                                    </li>
                                    <li ng-class="{ active:tabCadastroSelecionada(3) }">
                                        <a href ng-click="setTabCadastro(3)" data-toggle="tab" class="step active">
                                        <span class="number">
                                        3 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> Privilégios </span>
                                        </a>
                                    </li>
                                    <li ng-class="{ active:tabCadastroSelecionada(4) }">
                                        <a href ng-click="setTabCadastro(4)" data-toggle="tab" class="step">
                                        <span class="number">
                                        4 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> Confirmação </span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="bar" class="progress progress-striped" role="progressbar">
                                    <div class="progress-bar progress-bar-success">
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="alert alert-danger display-none">
                                        <button class="close" data-dismiss="alert"></button>
                                        Por favor, corrija os erros.
                                    </div>
                                    <div class="alert alert-success display-none">
                                        <button class="close" data-dismiss="alert"></button>
                                        Concluído!
                                    </div>
                                    <div class="tab-pane" ng-class="{ active:tabCadastroSelecionada(1) }">
                                        <h3 class="block">Forneça seus dados pessoais</h3>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Nome <span class="required">
                                            * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="pessoa.nome"/>
                                                <!--span class="help-block">
                                                Provide your username </span-->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Data de Nascimento</label>
                                            <div class="col-md-4">
                                               <input type="text" placeholder="DD/MM/YYYY" maxlength="10" class="form-control" ng-model="pessoa.data_nasc"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Telefone </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="pessoa.telefone"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Ramal </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="pessoa.ramal"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" ng-class="{ active:tabCadastroSelecionada(2) }">
                                        <h3 class="block">Forneça os dados da conta</h3>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Login <span class="required">
                                            * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="usuario.login"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">E-mail <span class="required">
                                            * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="usuario.email"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Grupo Empresa </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="usuario.grupoempresa"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Empresa </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="usuario.empresa"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" ng-class="{ active:tabCadastroSelecionada(3) }">
                                        <h3 class="block">Forneça os privilégios</h3>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Privilégios <span class="required">
                                            * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <div class="checkbox-list">
                                                    <label>
                                                    <input type="checkbox"/> ROLE 1 </label>
                                                    <label>
                                                    <input type="checkbox"/> ROLE 2 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" ng-class="{ active:tabCadastroSelecionada(4) }">
                                        <h3 class="block">Confirme seus dados</h3>
                                        <h4 class="form-section">Dados pessoais</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Nome:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static" ng-model="pessoa.nome"></p>
                                            </div>
                                        </div>                                    
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Data de Nascimento:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static" ng-model="pessoa.data_nasc">
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Telefone:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static" ng-model="pessoa.telefone"></p>
                                            </div>
                                        </div>                                    
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Ramal:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static" ng-model="pessoa.ramal">
                                                </p>
                                            </div>
                                        </div>
                                        <h4 class="form-section">Dados da conta</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Login:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static" ng-model="usuario.login">
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">E-mail:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static" ng-model="usuario.email">
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Grupo Empresa:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static" ng-model="usuario.grupoempresa">
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Empresa:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static" ng-model="usuario.empresa">
                                                </p>
                                            </div>
                                        </div>
                                        <h4 class="form-section">Privilégios</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Privilégios:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static" ng-model="roles">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <a href="javascript:;" class="btn default button-previous">
                                        <i class="m-icon-swapleft"></i> Voltar </a>
                                        <a href="javascript:;" class="btn blue button-next">
                                        Continuar <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                        <a href="javascript:;" class="btn green button-submit">
                                        Enviar <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
