<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="administrativo-modulos-funcionalidadesCtrl" 
     ng-init="administrativoModulosFuncionalidadesInit()">
    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Gestão de Acessos<i class="fa fa-caret-right"></i>
             Módulos e Funcionalidades
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">
                
                <!-- TOPO : Nome 'Módulo menu' e botões de 'Opções' e FullScreen -->
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">Módulos e Funcionalidades</span>
                    </div>
                    <div class="actions">
                        <!-- FULLSCREEN -->
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" 
                           data-original-title="" title=""></a>
                        <!-- OPÇÕES -->
                        <div class="btn-group">
                            <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                    Export to Excel </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to CSV </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to XML </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Print Invoices </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- CORPO : Busca e JSTREE -->
                <div class="portlet-body">
                    <!-- TOPO : Busca -->
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 barrapesquisa">
                                <div class="dataTables_filter">
                                    <label>
                                        <span class="seperator"></span>Pesquisar 
                                    </label>
                                    <label>
                                        <input type="text" 
                                               class="form-control input-inline ng-tree-search" 
                                               placeholder="Buscar" 
                                               ng-model="busca"
                                               ng-init="busca=''"
                                               ng-keyup="($event.keyCode == 13 || ($event.keyCode == 8 && !busca)) && buscaModuloJSTree(busca)">
                                    </label>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <!-- CONTEUDO -->
                    <div class="row">                    
                        <div class="col-sm-6">
                            <js-tree id="jstree" tree-data="scope" tree-model="modulos"
                                 tree-plugins="contextmenu,unique,search" 
                                 tree-contextmenu="contextMenu"
                                 tree-events="select_node:selecionaModulo"></js-tree>                            
                        </div>
                        <div class="col-sm-6" ng-show="moduloSelecionado && moduloSelecionado.parent !== '#'">
                            <!-- FIM - JS TREE -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <button type="submit" class="btn btn-icon-only red fa fa-plus botoesAdicionar"
                                                ng-click="cadastraNovoMetodo()">
                                            
                                        </button>
                                    </div>    
                                    <div>
                                        <div class="col-sm-8">
                                            <div class="vertical-center">
                                                <label>Funcionalidades de {{moduloSelecionado.text}}</label>
                                            </div>
                                        </div>                                  
                                    </div>
                                </div>     
                                <select class="form-control form-controlModuloseFuncionalidades" size="6"
                                                ng-model="funcionalidadeSelecionada"
                                                ng-options="method as method.ds_method for method in moduloSelecionado.data.methods"> 
                                            <option style="display:none" value="">Funcionalidade</option>
                                            <!-- data-ng-attr-size="{{moduloSelecionado.data.methods.length}}" --> 
                                </select>                                       
                            </div>                                              
                            <div class="col-sm-9">
                                <!--button type="submit" class="btn green"
                                        ng-click="cadastraNovoMetodo()">
                                    Adicionar
                                </button-->
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-2">
                                        <button type="button" class="btn default"
                                        ng-show="funcionalidadeSelecionada"
                                        ng-click="alteraNomeMetodo()">Alterar
                                        <i class="fa fa-pencil"></i>    
                                        </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn green"
                                        ng-show="funcionalidadeSelecionada"
                                        ng-click="excluirMetodo()">Remover
                                        <i class="fa fa-times"></i>    
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
                <!-- END TABLE PORTLET -->
            </div>
            <!-- END PORTLET LIGHT -->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
