<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="administrativo-modulos-funcionalidadesCtrl" ng-init="administrativoModulosFuncionalidadesInit()">
    
    <!-- BEGIN MODAL FUNCIONALIDADES -->
    <!--div class="modal fade ng-scope" id="modalFuncionalidades" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="min-width: 700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{roleSelecionada.RoleName}}</h4>
                </div>
                <div class="modal-body height-auto" style="min-width: 500px">
                    <div class="skin skin-square scroller" style="min-height: 300px" 
                         data-always-visible="1" data-rail-visible1="1">
                        <label><strong>Módulos e Funcionalidades</strong></label>
                        
                        <ul class="list-unstyled">
                            <li ng-repeat="controller in controllers">
                                <checkbox normal ng-model="controller.selecionado" 
                                                 ng-change="handleCheckController(controller)">
                                </checkbox>
                                <label>
                                    <button class="btn btn-link" style="color: black !important"
                                       ng-disabled="!controller.selecionado"
                                       popover-animation="true"
                                       popover-placement="right"
                                       popover-trigger="click"
                                       popover-title="Permissões de {{controller.ds_controller}}"
                                       popover-template="'methodsController.html'">          
                                        {{controller.ds_controller}}
                                    </button> 
                                    <script type="text/ng-template" id="methodsController.html">
                                        <ul class="list-unstyled" 
                                             ng-repeat="method in controller.methods">
                                            <li>
                                                <checkbox normal 
                                                    ng-model="method.selecionado" 
                                                    ng-change="handleCheckMethod(method, controller)">
                                                </checkbox>
                                                {{method.ds_method}}
                                            </li>
                                         </ul>
                                    </script>
                                </label>
                                <ul class="list-unstyled">
                                    <li ng-repeat="controller1 in controller.subControllers">
                                        <checkbox normal ng-model="controller1.selecionado" 
                                                   ng-change="handleCheckController([controller1, controller])">
                                        </checkbox>
                                        <label>
                                            <button class="btn btn-link" style="color: black !important"
                                               ng-disabled="!controller1.selecionado"
                                               popover-animation="true"
                                               popover-placement="right"
                                               popover-title="Permissões de {{controller1.ds_controller}}"
                                               popover-template="'methodsController1.html'">          
                                                {{controller1.ds_controller}}
                                            </button> 
                                            <script type="text/ng-template" id="methodsController1.html">
                                                <ul class="list-unstyled" 
                                                     ng-repeat="method1 in controller1.methods">
                                                    <li>
                                                        <checkbox normal 
                                                            ng-model="method1.selecionado" 
                                                            ng-change="handleCheckMethod(method1, controller1)">
                                                        </checkbox>
                                                        {{method1.ds_method}}
                                                    </li>
                                                 </ul>
                                            </script>
                                        </label>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="controller2 in controller1.subControllers">
                                                <checkbox normal ng-model="controller2.selecionado" 
                                                   ng-change="handleCheckController([controller2, controller1, controller])">
                                                </checkbox>
                                                <label>
                                                    <button class="btn btn-link" style="color: black !important"
                                                       ng-disabled="!controller2.selecionado"
                                                       popover-animation="true"
                                                       popover-placement="right"
                                                       popover-title="Permissões de {{controller2.ds_controller}}"
                                                       popover-template="'methodsController2.html'">          
                                                        {{controller2.ds_controller}}
                                                    </button> 
                                                    <script type="text/ng-template" id="methodsController2.html" >
                                                        <ul class="list-unstyled" 
                                                             ng-repeat="method2 in controller2.methods">
                                                            <li>
                                                                <checkbox normal 
                                                                    ng-model="method2.selecionado" 
                                                                    ng-change="handleCheckMethod(method2, controller2)">
                                                                </checkbox>
                                                                {{method2.ds_method}}
                                                            </li>
                                                         </ul>
                                                    </script>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul> 
                            </li>
                        </ul>
                        
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-3">
                            <button type="button" 
                                    class="btn btn-success"
                                    ng-click="salvaPermissoes()">
                                Salvar
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-warning"
                                    popover-placement="top"
                                    popover="Retoma as permissões previamente salvas, sem alterações"
                                    popover-trigger="mouseenter"
                                    ng-click="resetaPermissoes()">
                                Resetar
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" data-dismiss="modal" class="btn default">Fechar</button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL FUNCIONALIDADES -->
    
    
    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Gestão de Acessos<i class="fa fa-caret-right"></i>
             Módulos e Funcionalidades
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">
                <!-- TOPO : Nome 'Módulo menu' e botões de 'Opções' e FullScreen -->
                <div class="portlet-title">
                    <div class="caption">
                        <!--i class="fa fa-cogs font-green-sharp"></i-->
                        <span class="caption-subject font-green-sharp bold uppercase">Módulos e Funcionalidades</span>
                    </div>
                    <div class="actions">
                        <!-- FULLSCREEN -->
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" 
                           data-original-title="" title=""></a>
                        <!-- OPÇÕES -->
                        <div class="btn-group">
                            <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                    Export to Excel </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to CSV </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to XML </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Print Invoices </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- CORPO : Botão 'Novo Privilégio' e Tabela -->
                <div class="portlet-body">
                    <!-- TOPO DA TABELA COM BOTÃO 'Novo Módulo' -->
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="btn-group">
                                    <a href="javascript:;" ng-click="exibeCadastroNovoModuloMenu()">
                                        <button class="btn red">
                                        Novo Módulo <i class="fa fa-plus"></i>
                                    </button></a>
                                </div>
                            </div> 
                            <div class="col-md-5 col-sm-12">
                                <div class="dataTables_filter">
                                    <label>
                                        <span class="seperator"></span>Pesquisar 
                                            <input type="text" 
                                                   class="form-control input-inline ng-tree-search" 
                                                   placeholder="Buscar" 
                                                   ng-model="busca"
                                                   ng-init="busca=''"
                                                   ng-keyup="($event.keyCode == 13 || ($event.keyCode == 8 && !busca)) && buscaModuloJSTree(busca)">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TABELA -->
                    <!--div class="dataTabl es_wrapper no-footer"-->
                    <div class="row">
                        <div class="col-sm-6">
                            <js-tree id="jstree" tree-data="scope" tree-model="modulos"
                                 tree-plugins="contextmenu,unique,search" 
                                 tree-contextmenu="contextMenu"
                                 tree-events="select_node:selecionaModulo"></js-tree>                            
                        </div>
                        <div class="col-sm-6">
                            <!-- FIM - JS TREE -->
                            <div class="form-group">
                                <label>Funcionalidades</label>
                                <select class="form-control"
                                        size="6"
                                        ng-model="funcionalidadeSelecionada"
                                        ng-options="method as method.ds_method for method in moduloSelecionado.data.methods"> 
                                    <option style="display:none" value="">Funcionalidade</option>
                                    <!-- data-ng-attr-size="{{moduloSelecionado.data.methods.length}}" --> 
                                </select>
                            </div>
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Adicionar</button>
                                <button type="button" class="btn default">Alterar</button>
                                <button type="button" class="btn default">Remover</button>
							</div>
                        </div>
                    </div>         
                </div>
                <!-- END TABLE PORTLET -->
            </div>
            <!-- END PORTLET LIGHT -->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
