<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="administrativo-modulos-funcionalidadesCtrl" 
     ng-init="administrativoModulosFuncionalidadesInit()">
    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Gestão de Acessos<i class="fa fa-caret-right"></i>
             Módulos e Funcionalidades
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">
   
                <!-- TOPO : Nome 'Módulo menu' e botões de 'Opções' e FullScreen -->
                <div class="portlet-title">
                    <div class="caption">
                        <!--i class="fa fa-cogs font-green-sharp"></i-->
                        <span class="caption-subject font-green-sharp bold uppercase">Módulos e Funcionalidades</span>
                    </div>
                    <div class="actions">
                        <!-- FULLSCREEN -->
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" 
                           data-original-title="" title=""></a>
                        <!-- OPÇÕES -->
                        <div class="btn-group">
                            <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                    Export to Excel </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to CSV </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to XML </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Print Invoices </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- CORPO : Botão 'Novo Privilégio' e Tabela -->
                <div class="portlet-body">
                    <!-- TOPO DA TABELA COM BOTÃO 'Novo Módulo' -->
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="btn-group">
                                    <a href="javascript:;" ng-click="cadastraModuloMenu()">
                                        <button class="btn red">
                                        Novo Módulo <i class="fa fa-plus"></i>
                                    </button></a>
                                </div>
                            </div> 
                            <div class="col-md-5 col-sm-12">
                                <div class="dataTables_filter">
                                    <label>
                                        <span class="seperator"></span>Pesquisar 
                                            <input type="text" 
                                                   class="form-control input-inline ng-tree-search" 
                                                   placeholder="Buscar" 
                                                   ng-model="busca"
                                                   ng-init="busca=''"
                                                   ng-keyup="($event.keyCode == 13 || ($event.keyCode == 8 && !busca)) && buscaModuloJSTree(busca)">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TABELA -->
                    <!--div class="dataTables_wrapper no-footer"-->
                    <div class="row">
                    
                       <!-- MODAIS -->    
                        
                       <!-- MODAL INPUT -->
                       <div class="modal fade bs-modal-sm" id="modalInput" role="dialog"
                            data-backdrop="static" data-keyboard="false">
                           <div class="modal-dialog modal-sm">
                               <div class="modal-content">
                                   <div class="modal-header">
                                       <h4 class="modal-title modal-cabecalho">{{input.titulo}}</h4>
                                   </div>
                                   <div class="modal-body modal-corpo" style="text-align: center">
                                        {{input.mensagem}}
                                        <input class="form-control" type="text" ng-model="input.text">
                                   </div>
                                   <div class="modal-footer">
                                       <div class="col-sm-4 col-sm-offset-1">
                                           <button type="button" class="btn default" data-dismiss="modal">
                                               {{input.textoCancela}}
                                           </button>
                                       </div>                           
                                       <div class="col-sm-4 col-sm-offset-1">
                                           <button type="button" class="btn blue"
                                                   ng-click="input.funcaoConfirma($event)">
                                               {{input.textoConfirma}}
                                           </button>                                
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <!-- END MODAL INPUT -->
                        
                        <!-- MODAL ALERT -->
                       <div class="modal fade bs-modal-sm" id="modalAlerta" role="dialog"
                            data-backdrop="static" data-keyboard="false">
                           <div class="modal-dialog modal-sm">
                               <div class="modal-content">
                                   <div class="modal-header">
                                       <h4 class="modal-title modal-cabecalho">{{alerta.titulo}}</h4>
                                   </div>
                                   <div class="modal-body modal-corpo" style="text-align: center">
                                        {{alerta.mensagem}}
                                   </div>
                                   <div class="modal-footer">                           
                                       <div class="col-sm-4 col-sm-offset-1">
                                           <button type="button" class="btn blue"
                                                   ng-click="alerta.funcaoOk($event)">
                                               {{alerta.textoOk}}
                                           </button>                                
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <!-- END MODAL ALERT -->
                        
                        <!-- END MODAIS -->
                        
                        <div class="col-sm-6">
                            <js-tree id="jstree" tree-data="scope" tree-model="modulos"
                                 tree-plugins="contextmenu,unique,search" 
                                 tree-contextmenu="contextMenu"
                                 tree-events="select_node:selecionaModulo"></js-tree>                            
                        </div>
                        <div class="col-sm-6">
                            <!-- FIM - JS TREE -->
                            <div class="form-group">
                                <label>Funcionalidades</label>
                                <select class="form-control"
                                        size="6"
                                        ng-model="funcionalidadeSelecionada"
                                        ng-options="method as method.ds_method for method in moduloSelecionado.data.methods"> 
                                    <option style="display:none" value="">Funcionalidade</option>
                                    <!-- data-ng-attr-size="{{moduloSelecionado.data.methods.length}}" --> 
                                </select>
                            </div>
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">Adicionar</button>
                                <button type="button" class="btn default">Alterar</button>
                                <button type="button" class="btn default">Remover</button>
							</div>
                        </div>
                    </div>         
                </div>
                <!-- END TABLE PORTLET -->
            </div>
            <!-- END PORTLET LIGHT -->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
