<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="administrativo-acesso-usuariosCtrl" ng-init="administrativoAcessoUsuariosInit()">   
    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Logs<i class="fa fa-caret-right"></i>
             Acesso de Usuários
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">  
                
                <!-- MODAL INPUT -->
               <div class="modal fade bs-modal-sm modal-input" id="modalLog" role="dialog"
                    data-backdrop="static" data-keyboard="false">
                   <div class="modal-dialog modal-sm">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h4 class="modal-title modal-cabecalho">{{log.login}}</h4>
                           </div>
                           <div class="modal-body modal-corpo" style="text-align: left">
                                HTTP: {{log.codResposta}}
                                URL: {{log.dsUrl}}
                                PARAMETROS: {{log.dsParametros}}
                                FILTROS: {{log.dsFiltros}}
                                JSON: {{log.dsJson}}
                                MENSAGEM DE ERRO: {{log.msgErro}}
                           </div>
                           <!--div class="modal-footer">
                               <div class="col-sm-4 col-sm-offset-1">
                                   <button type="button" class="btn default" data-dismiss="modal">
                                       {{input.textoCancela}}
                                   </button>
                               </div>                           
                               <div class="col-sm-4 col-sm-offset-1">
                                   <button type="button" class="btn blue"
                                           ng-click="inputCadastro.funcao()">
                                       {{input.textoConfirma}}
                                   </button>                                
                               </div>
                           </div-->
                       </div>
                   </div>
               </div>
               <!-- END MODAL INPUT -->
                
                <!-- TOPO : Nome 'Privilégios' e botões de 'Opções' e FullScreen -->
                <div class="portlet-title">
                    <div class="caption">
                        <!--i class="fa fa-cogs font-green-sharp"></i-->
                        <span class="caption-subject font-green-sharp bold uppercase">Acesso de Usuários</span>
                    </div>                    
                    <div class="actions">
                        <!-- FULLSCREEN -->
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" 
                           href="javascript:;" ng-click="fullScreenClick()"
                           title="{{telaEstaEmFullScreen() ? 'Tela Normal' : 'Tela Cheia'}}"></a>
                        <!-- OPÇÕES -->
                        <div class="btn-group element-hidden"> <!-- NÃO EXIBE PQ AINDA NÃO TEM WEBAPI -->
                            <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                    Export to Excel </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to CSV </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to XML </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Print Invoices </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- CORPO : Botão 'Novo Privilégio' e Tabela -->
                <div class="portlet-body">
                    <!-- TABELA -->
                    <div class="dataTables_wrapper no-footer">
                        <!-- EXIBIÇÃO E PESQUISA -->
                       <div class="row">
                            <!-- EXIBIÇÃO --> 
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="dataTables_length">
                                    <label>
                                        <span class="seperator"></span>Exibindo 
                                        <select name="datatable_products_length" aria-controls="datatable_products" 
                                                class="form-control input-xsmall input-sm input-inline"
                                                ng-model="filtroitens_pagina"
                                                ng-change="alterouItensPagina()"
                                                ng-options="item for item in itens_pagina">                                            
                                        </select> registros de {{filtrototal_registros}}
                                    </label>
                                </div>
                            </div>
                            <!--PAGINAÇÃO-TOPO-->
                            <div class="col-xs-4 col-sm-4 col-md-3">
                                <div class="pagination-panel centralizarPaginacao"> Página 
                                    <a href="javascript:;" ng-click="retrocedePagina()"
                                       class="btn btn-sm default prev" 
                                       ng-class="{disabled: filtropagina <= 1}" 
                                       title="Página anterior">
                                            <i class="fa fa-angle-left"></i>
                                    </a>
                                    <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                                           maxlength="4" style="text-align:center; margin: 0 5px;"
                                           ng-model="paginaInformada" valid-integer-number
                                           ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                                           ng-blur="atualizaPaginaDigitada()">
                                    <a href="javascript:;" ng-click="avancaPagina()"
                                       class="btn btn-sm default next"
                                       ng-class="{disabled: filtropagina >= filtrototal_paginas}"
                                       title="Próxima página">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                     de <span class="pagination-panel-total">{{filtrototal_paginas}}</span>
                                </div>
                            </div>    
                            <!-- PESQUISA -->
                            <div class="col-xs-4 col-sm-4 col-md-5">
                                <div class="dataTables_filter">
                                    <label>
                                        <div class="col-sm-5" 
                                             style="padding-right: 1px;padding-left: 1px;">
                                            <span class="seperator"></span>Pesquisar 
                                            <select aria-controls="datatable_products" 
                                                    class="form-control input-sm input-inline"
                                                    ng-model="filtro.campo_busca"
                                                    ng-options="campo as campo.nome for campo in camposBusca | filter:{ativo:true}">
                                                <option style="display: none" value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-7" style="padding-right: 1px; padding-left: 1px;">
                                            <div class="input-group input-icon right">
                                                <i class="fa fa-times" style="right:50px;cursor:pointer"
                                                   ng-click="resetaBusca()"
                                                   ng-show="filtrobusca"></i>
                                                <input type="text" 
                                                   class="form-control input-inline" 
                                                   placeholder="Buscar" 
                                                   ng-model="busca"
                                                   ng-keyup="($event.keyCode == 13 || ($event.keyCode == 8 && !busca)) && filtraUsuarios()">
												<span class="input-group-addon">
                                                    <i class="fa fa-search" style="cursor:pointer"
                                                           ng-click="filtraUsuarios()"></i>
												</span>
											</div>
                                        </div>    
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- TABELA -->
                        <div class="row">
                           <div class="col-sm-12">
                                <div class="row tableAcessoUsuarios">
                                    <div class="col-sm-2">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Login
                                        </div>    
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Data de Acesso
                                        </div>    
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Aplicação
                                        </div>    
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Módulo
                                        </div>    
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Resposta
                                        </div>    
                                    </div>
                               </div>
                            </div>
                        </div>   
                        <!-- CONTEUDO -->
                        <div class="row" ng-repeat="log in logs">    
                            <div class="col-sm-12">
                                <div class="row tableAcessoUsuarios">
                                    
                                    <!--LOGIN USUÁRIO-->
                                    <div class="col-sm-2">
                                        <div class="componentesTableAcessoUsuarios">
                                        {{log.user.ds_login}}
                                        </div>    
                                    </div>
                                    
                                    <!--DATA DO ULTIMO ACESSO-->
                                    <div class="col-sm-2">
                                        <div class="componentesTableAcessoUsuarios"
                                             ng-bind="getDataTimeString(log.dtAcesso)">
                                        </div>    
                                    </div>
                                    
                                    <!--APLICAÇÃO-->
                                    <div class="col-sm-1">
                                        <div class="componentesTableAcessoUsuarios">
                                        {{log.dsAplicacao | uppercase}}
                                        </div>    
                                    </div>
                                    
                                    <!--MÓDULO-->
                                    <div class="col-sm-5">
                                        <div class="componentesTableAcessoUsuarios">
                                        {{log.controller.path | lowercase}}
                                        </div>    
                                    </div>
                                    
                                    <!-- RESPOSTA -->
                                    <div class="col-sm-2">
                                        <div class="componentesTableAcessoUsuarios"
                                             ng-bind="getResposta(log)">
                                        </div>    
                                    </div>
                               </div>
                            </div>
                        </div>  
                       
                        <!-- RODAPÉ : Exibição dos resultados e paginação -->
                        <div class="row" style="margin: 10px 0 20px 0">
                            <div class="col-md-4 col-sm-12">
                                <div class="dataTables_info" role="status" aria-live="polite">
                                    <strong>Exibindo os registros {{privilegio.faixa_registros}}</strong>
                                </div>
                            </div>
                            <!--PAGINAÇÃO-RODAPÉ-->
                            <div class="pagination-panel centralizarPaginacao col-md-3 col-sm-12"> Página 
                                <a href="javascript:;" ng-click="retrocedePagina()"
                                   class="btn btn-sm default prev" 
                                   ng-class="{disabled: privilegio.pagina <= 1}" 
                                   title="Página anterior">
                                        <i class="fa fa-angle-left"></i>
                                </a>
                                <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                                       maxlength="4" style="text-align:center; margin: 0 5px;"
                                       ng-model="paginaInformada" valid-integer-number
                                       ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                                       ng-blur="atualizaPaginaDigitada()">
                                <a href="javascript:;" ng-click="avancaPagina()"
                                   class="btn btn-sm default next"
                                   ng-class="{disabled: privilegio.pagina >= privilegio.total_paginas}"
                                   title="Próxima página">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                 de <span class="pagination-panel-total">{{privilegio.total_paginas}}</span>
                            </div>
                            <!-- FIM PAGINAÇÃO -->
                        </div>
                        <!-- FIM RODAPÉ -->
                    </div>
                </div>
                <!-- FIM TABELA -->
            </div>
            <!-- END TABLE PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>

