<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="administrativo-acoes-usuariosCtrl" ng-init="administrativoAcoesUsuariosInit()">   
    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Logs<i class="fa fa-caret-right"></i>
             Ações de Usuários
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">  
                
                <!-- MODAL INPUT -->
               <div class="modal fade bs-modal-sm modal-input" 
                    id="modalLog" 
                    aria-hidden="true"
                    >
                   <div class="modal-dialog modal-sm" style="width:400px">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h4 class="modal-title modal-cabecalho">{{log.user.ds_login}}</h4>
                           </div>
                           <div class="modal-body modal-corpo modalAcessoDeUsuarios" style="text-align: left">
                               <div class="row">
                                    <div class="col-sm-12">
                                        <label>HTTP:</label>{{log.codResposta}}    
                                   </div>
                                   <div class="col-sm-12">
                                        <label>URL:</label>{{log.dsUrl}}    
                                   </div>
                                   <div class="col-sm-12">
                                        <label>PARAMETROS:</label>{{log.dsParametros}}    
                                   </div>
                                   <div class="col-sm-12">
                                        <label>FILTROS:</label>{{log.dsFiltros}}    
                                   </div>
                                   <div class="col-sm-12">
                                        <label>JSON:</label>{{log.dsJson}}    
                                   </div>
                                   <div class="col-sm-12">
                                        <label>MENSAGEM DE ERRO:</label>{{log.msgErro}}    
                                   </div>
                               </div>
                            </div>
                           <div class="modal-footer">
                               <div class="col-sm-6 col-sm-offset-2">
                                   <button type="button" class="btn default" data-dismiss="modal">
                                       Fechar
                                   </button>
                               </div>                           
                               <!--div class="col-sm-4 col-sm-offset-1">
                                   <button type="button" class="btn blue"
                                           ng-click="inputCadastro.funcao()">
                                       {{input.textoConfirma}}
                                   </button>                                
                               </div-->
                           </div>
                       </div>
                   </div>
               </div>
               <!-- END MODAL INPUT -->
                
                <!-- TOPO : Nome 'Ações de Usuários' e botões de 'Opções' e FullScreen -->
                <div class="portlet-title">
                    <div class="caption">
                        <!--i class="fa fa-cogs font-green-sharp"></i-->
                        <span class="caption-subject font-green-sharp bold uppercase">Ações de Usuários</span>
                    </div>                    
                    <div class="actions">
                        <!-- FULLSCREEN -->
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" 
                           href="javascript:;" ng-click="fullScreenClick()"
                           title="{{telaEstaEmFullScreen() ? 'Tela Normal' : 'Tela Cheia'}}"></a>
                        <!-- OPÇÕES -->
                        <div class="btn-group element-hidden"> <!-- NÃO EXIBE PQ AINDA NÃO TEM WEBAPI -->
                            <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">
                                    Export to Excel </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to CSV </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Export to XML </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="javascript:;">
                                    Print Invoices </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- CORPO : Botão 'Novo Privilégio' e Tabela -->
                <div class="portlet-body">
                    <!-- TABELA -->
                    <div class="dataTables_wrapper no-footer">
                        <!-- EXIBIÇÃO E PESQUISA -->
                       <div class="row">
                            <!-- EXIBIÇÃO --> 
                            <div class="col-md-4 col-sm-12">
                                <div class="dataTables_length">
                                    <label>
                                        <span class="seperator"></span>Exibindo 
                                        <select name="datatable_products_length" aria-controls="datatable_products" 
                                                class="form-control input-xsmall input-sm input-inline"
                                                ng-model="filtroitens_pagina"
                                                ng-change="alterouItensPagina()"
                                                ng-options="item for item in itens_pagina">                                            
                                        </select> registros de {{filtrototal_registros}}
                                    </label>
                                </div>
                            </div>
                            <!--PAGINAÇÃO-TOPO-->
                            <div class="pagination-panel centralizarPaginacao col-md-3 col-sm-12"> Página 
                                <a href="javascript:;" ng-click="retrocedePagina()"
                                   class="btn btn-sm default prev" 
                                   ng-class="{disabled: filtropagina <= 1}" 
                                   title="Página anterior">
                                        <i class="fa fa-angle-left"></i>
                                </a>
                                <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                                       maxlength="4" style="text-align:center; margin: 0 5px;"
                                       ng-model="paginaInformada" valid-integer-number
                                       ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                                       ng-blur="atualizaPaginaDigitada()">
                                <a href="javascript:;" ng-click="avancaPagina()"
                                   class="btn btn-sm default next"
                                   ng-class="{disabled: filtropagina >= filtrototal_paginas}"
                                   title="Próxima página">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                 de <span class="pagination-panel-total">{{filtrototal_paginas}}</span>
                            </div>
                            <!-- PESQUISA -->
                            <div class="col-md-5 col-sm-12">
                                <div class="dataTables_filter">
                                    <label>
                                        <div class="col-sm-5" 
                                             style="padding-right: 1px;padding-left: 1px;">
                                            <span class="seperator"></span>Pesquisar 
                                            <select aria-controls="datatable_products" 
                                                    class="form-control input-sm input-inline"
                                                    ng-model="filtro.campo_busca"
                                                    ng-options="campo as campo.nome for campo in camposBusca | filter:{ativo:true}">
                                                <option style="display: none" value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-7" style="padding-right: 1px; padding-left: 1px;">
                                            <div class="input-group input-icon right">
                                                <i class="fa fa-times" style="right:50px;cursor:pointer"
                                                   ng-click="resetaBusca()"
                                                   ng-show="filtrobusca"></i>
                                                <input type="text" 
                                                   class="form-control input-inline" 
                                                   placeholder="Buscar" 
                                                   ng-model="busca"
                                                   ng-keyup="($event.keyCode == 13 || ($event.keyCode == 8 && !busca)) && filtraUsuarios()">
												<span class="input-group-addon">
                                                    <i class="fa fa-search" style="cursor:pointer"
                                                           ng-click="filtraUsuarios()"></i>
												</span>
											</div>
                                        </div>    
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- TABELA -->
                        
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover table-bordered dataTable no-footer" 
                                   id="sample_editable_1"
                                   role="grid"
                                   aria-describedby="sample_editable_1_info">
				                <thead>
                                    <tr role="row">
                                        <th class="" 
                                            tabindex="0"
                                            aria-controls="sample_editable_1" 
                                            rowspan="1" 
                                            colspan="1" 
                                            aria-sort="ascending" 
                                            aria-label="Username:activate to sort column ascending" 
                                            style="width: 15%;">
									 Login
								        </th>
                                        <th class="" 
                                            tabindex="0" 
                                            aria-controls="sample_editable_1" 
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Full Name: activate to sort column ascending" 
                                            style="width: 14%;">
									 Data de Acesso
								        </th>
                                        <th class="" 
                                            tabindex="0" 
                                            aria-controls="sample_editable_1"
                                            rowspan="1" 
                                            colspan="1"
                                            aria-label="Points: activate to sort column ascending" 
                                            style="width: 5%;">
									 Aplicação
								        </th>
                                        <th class="" 
                                            tabindex="0" 
                                            aria-controls="sample_editable_1"
                                            rowspan="1"
                                            colspan="1" 
                                            aria-label="Notes: activate to sort column ascending" 
                                            style="width: 25%;">
									 URL
								        </th>
                                        <th class="" 
                                            tabindex="0"
                                            aria-controls="sample_editable_1" 
                                            rowspan="1" 
                                            colspan="1"
                                            aria-label="Edit: activate to sort column ascending" 
                                            style="width: 15%;">
									 Ação
								        </th>
                                        <th class="" 
                                            tabindex="0" 
                                            aria-controls="sample_editable_1"
                                            rowspan="1"
                                            colspan="1" 
                                            aria-label="Delete: activate to sort column ascending" 
                                            style="width: 7%;">
									 Status
								        </th>
                                    </tr>
							    </thead>
                                <tbody>
                                    <tr role="row" class="odd conteudoAcoesUsuarios" ng-repeat="log in logs">
                                        <td class="">                                            
                                            <div class="col-sm-2">
                                                <div class="">
                                                    {{log.user.ds_login}}
                                                </div>    
                                            </div>                                            
                                        </td>
                                        <td class="">
                                            <div ng-bind="getDataTimeString(log.dtAcesso)">
                                            </div> 
                                        </td>
                                        <td class="">
                                            <div class="">
                                                {{log.dsAplicacao | uppercase}}
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="">
                                                {{log.dsUrl | lowercase}}
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="">
                                                {{log.method.ds_method | uppercase}}
                                            </div>
                                        </td>
                                        <td class="">
                                            <div class="">
                                                <button class="btn"
                                                        ng-click="detalhaLog(log)"
                                                        ng-class="{'btn btn-icon-only green' : logSucesso(log), 'btn btn-icon-only red': !logSucesso(log)}">
                                                    <i class="fa" 
                                                       ng-class="{'fa-check-circle' : logSucesso(log), 'fa-times-circle': !logSucesso(log)}"></i>
                                                </button>                                            
                                            </div> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <!--VERSÃO COM GRID-- >
                        <div class="row">
                           <div class="col-sm-12">
                                <div class="row tableAcessoUsuarios">
                                    <div class="col-sm-2">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Login
                                        </div>    
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Data de Acesso
                                        </div>    
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Aplicação
                                        </div>    
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        URL
                                        </div>    
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Ação
                                        </div>    
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="cabecalhoTableAcessoUsuarios">
                                        Status
                                        </div>    
                                    </div>
                               </div>
                            </div>
                        </div>   
                        <!-- CONTEUDO -- >
                        <div class="row" ng-repeat="log in logs">    
                            <div class="col-sm-12">
                                <div class="row tableAcessoUsuarios">
                                    
                                    <!--LOGIN USUÁRIO-- >
                                    <div class="col-sm-2">
                                        <div class="componentesTableAcessoUsuarios">
                                        {{log.user.ds_login}}
                                        </div>    
                                    </div>
                                    
                                    <!--DATA DO ULTIMO ACESSO-- >
                                    <div class="col-sm-2">
                                        <div class="componentesTableAcessoUsuarios"
                                             ng-bind="getDataTimeString(log.dtAcesso)">
                                        </div>    
                                    </div>
                                    
                                    <!--APLICAÇÃO-- >
                                    <div class="col-sm-1">
                                        <div class="componentesTableAcessoUsuarios">
                                        {{log.dsAplicacao | uppercase}}
                                        </div>    
                                    </div>
                                    
                                    <!--URL-- >
                                    <div class="col-sm-4">
                                        <div class="componentesTableAcessoUsuarios">
                                        {{log.dsUrl | lowercase}}
                                        </div>    
                                    </div>
                                    
                                    <!-- AÇÃO -- >
                                    <div class="col-sm-2">
                                        <div class="componentesTableAcessoUsuarios">
                                        {{log.method.ds_method | uppercase}}
                                        </div>    
                                    </div>
                                    
                                    <!--BOTÃO DE VISUALIZAÇÃO-- >
                                    <div class="col-sm-1">
                                        <div class="componentesTableAcessoUsuarios">
                                            <button class="btn btn-icon-only default"
                                                    ng-click="detalhaLog(log)">
                                                <i class="fa" 
                                                   ng-class="{'fa-check-circle' : logSucesso(log), 'fa-times-circle': !logSucesso(log)}"></i>
                                            </button>                                            
                                        </div>    
                                    </div>
                               </div>
                            </div>
                        </div>
                        <! --FIM DA VERÃO GRID-->

                        <!-- RODAPÉ : Exibição dos resultados e paginação -->
                        <div class="row" style="margin: 10px 0 20px 0">
                            <div class="col-md-4 col-sm-12">
                                <div class="dataTables_info" role="status" aria-live="polite">
                                    <strong>Exibindo os registros {{privilegio.faixa_registros}}</strong>
                                </div>
                            </div>
                            <!--PAGINAÇÃO-RODAPÉ-->
                            <div class="pagination-panel centralizarPaginacao col-md-3 col-sm-12"> Página 
                                <a href="javascript:;" ng-click="retrocedePagina()"
                                   class="btn btn-sm default prev" 
                                   ng-class="{disabled: privilegio.pagina <= 1}" 
                                   title="Página anterior">
                                        <i class="fa fa-angle-left"></i>
                                </a>
                                <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                                       maxlength="4" style="text-align:center; margin: 0 5px;"
                                       ng-model="paginaInformada" valid-integer-number
                                       ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                                       ng-blur="atualizaPaginaDigitada()">
                                <a href="javascript:;" ng-click="avancaPagina()"
                                   class="btn btn-sm default next"
                                   ng-class="{disabled: privilegio.pagina >= privilegio.total_paginas}"
                                   title="Próxima página">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                 de <span class="pagination-panel-total">{{privilegio.total_paginas}}</span>
                            </div>
                            <!-- FIM PAGINAÇÃO -->
                        </div>
                        <!-- FIM RODAPÉ -->
                    </div>
                </div>
                <!-- FIM TABELA -->
            </div>
            <!-- END TABLE PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>

