<!-- 

    Atos Capital - www.atoscapital.com.br
   
    suporte@atoscapital.com.br
 
 
    Card Services > Conciliação > Conciliação de Vendas
 

    Versão 1.0.2 - 01/04/2016
    - Index no modelo da conciliação de venda
     
    Versão 1.0.1 - 07/10/2015
        - Criação das abas : POS TRANSAÇÃO, POR POS E POR ADQUIRENTE.
 
    Versão 1.0 - 03/09/2015
-->

<div class="container" ng-controller="card-services-conciliacao-vendasCtrl" 
     ng-init="cardServices_conciliacaoVendasInit()">    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Card Services<i class="fa fa-caret-right"></i>
             Conciliação<i class="fa fa-caret-right"></i>
             Conciliação de Vendas
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="portlet light" print-remove> 
        <div class="portlet-title">
            <div class="caption">								
                <span class="caption-subject font-green-sharp bold uppercase">Filtros</span>						
            </div>
            <div class="actions">


            </div>
        </div>
        <div class="portlet-body" ng-show="exibeTela">
            <!-- PORTLET BODY FILTRO INSIDE -->
            <div class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                <div class="row"> 
                    <div class="col-md-8 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_ajax_paginate">
                        </div>
                        <div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="table-group-actions pull-right">
                            <span> </span>
                        </div>
                    </div>
                </div>
                <!--div class="table-scrollable"-->
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer conteudoTabelas" 
                           id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                        <thead>
                            <tr role="row" class="heading">
                                <th tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="20%">
                                     Data
                                </th>
                                <th tabindex="1" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="30%">
                                     Filial 
                                </th>
                                <th tabindex="2" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="20%">
                                     Adquirente 
                                </th>
                                <th tabindex="3" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="20%">
                                     Tipo
                                </th>
                                <th tabindex="4" aria-controls="datatable_ajax" rowspan="1" colspan="1"  width="10%">
                                     Ações
                                </th>                                
                            </tr>
                            <tr role="row" class="filter"> 
                                <!-- DATA -->
                                <td rowspan="1" colspan="1">                                    
                                    <div class="input-group date date-picker margin-bottom-5"
                                         data-date-format="dd/mm/yyyy">
                                        <input type="text" 
                                               class="form-control form-filter input-sm" 
                                               readonly="" 
                                               style="cursor: pointer" 
                                               ng-click="exibeCalendarioDataMin($event)" 
                                               placeholder="Início" 
                                               ng-model="filtro.datamin" 
                                               ng-change="alterouDataMin()" 
                                               datepicker-append-to-body="true" 
                                               datepicker-popup="dd MMMM yyyy" 
                                               is-open="abrirCalendarioDataMin" 
                                               ng-required="true" 
                                               show-button-bar="false" 
                                               show-weeks="false" 
                                               required="required">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" 
                                                type="button"
                                                ng-click="exibeCalendarioDataMin($event)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="input-group"> <!--  date date-picker margin-bottom-5" -->
                                        <input type="text" 
                                               class="form-control form-filter input-sm" 
                                               readonly="" 
                                               style="cursor: pointer" 
                                               ng-click="exibeCalendarioDataMax($event)" 
                                               placeholder="Fim" 
                                               ng-model="filtro.datamax" 
                                               ng-change="alterouDataMax()" 
                                               datepicker-popup="dd MMMM yyyy" 
                                               is-open="abrirCalendarioDataMax" 
                                               datepicker-append-to-body="true"
                                               ng-required="false" 
                                               current-text="Hoje" 
                                               clear-text="Limpar" 
                                               close-text="Fechar" 
                                               show-button-bar="true" 
                                               show-weeks="false">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" 
                                                    type="button"
                                                    ng-click="exibeCalendarioDataMax($event)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>                                                      
                                </td>
                                <!-- FILIAL -->
                                <td rowspan="1" colspan="1">
                                    <select class="form-control form-filter input-sm comboBoxFiltros"
                                            ng-disabled="filiais.length == 0"
                                            ng-model="filtro.filial"
                                            ng-change="alterouFilial()"
                                            ng-options="filial as getNomeAmigavelFilial(filial) for filial in filiais">
                                        <option value="">TODAS</option>
                                    </select>
                                    <i class="fa fa-question-circle"
                                        ng-show="!usuariologado.grupoempresa"
                                        popover-placement="bottom"
                                        popover="É necessário selecionar uma empresa"
                                        popover-trigger="mouseenter"></i> 
                                </td>
                                <!-- ADQUIRENTE -->
                                <td rowspan="1" colspan="1">
                                    <select class="form-control form-filter input-sm comboBoxFiltros"
                                            ng-disabled="adquirentes.length === 0"
                                            ng-model="filtro.adquirente"
                                            ng-change="alterouAdquirente()"
                                            ng-options="adquirente as (adquirente.nmAdquirente | uppercase) for adquirente in adquirentes">
                                        <option value="">TODAS</option>
                                    </select>
                                </td>
                                <!-- TIPO -->
                                <td rowspan="1" colspan="1">
                                    <div class="row">
                                        <select style="width: 80%;"
                                                aria-controls="datatable_products"
                                                class="form-control input-sm input-inline"
                                                ng-model="filtro.tipo"
                                                ng-change="alterouTipo()"
                                                ng-options="tipo as (tipo.nome | uppercase) for tipo in tipos">
                                            <option value="">TODOS</option>
                                        </select>
                                    </div>
                                    <div class="row" style="margin-top:10px;"
                                         ng-class="{'element-hidden' : !isTipoPreConciliado()}">
                                        <div class="col-sm-4 col-md-4" style="margin-right: -15px;">
                                            <checkbox normal ng-model="filtro.considerarGrupo"></checkbox>
                                        </div>
                                        <div class="col-sm-8 col-md-8" style="text-align:left;">
                                            <label>Pré-conciliar com outras filiais</label>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="1" colspan="1">
                                    <div class="margin-bottom-5">
                                        <button class="btn btn-sm red filter-submit margin-bottom"
                                                ng-click="buscaDadosConciliacao()">
                                            <i class="fa fa-search"></i> 
                                            Buscar
                                        </button>
                                    </div>
                                    <button class="btn btn-sm grey filter-cancel"
                                            ng-click="limpaFiltros()">
                                        <i class="fa fa-times"></i> 
                                        Limpar
                                    </button>
                                </td>
                            </tr>                       
                        </thead>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap_extended">
                        </div>
                        <div class="dataTables_info">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- DADOS DA CONCILIAÇÃO -->
    <div class="portlet light">
        
         <!-- MODAL VENDAS -->
       <div class="modal fade bs-modal-sm modal-input" 
            id="modalVendas" aria-hidden="true">
           <div class="modal-dialog modal-sm" style="width:1000px">
               <div class="modal-content">
                   <div class="modal-header">
                       <h4 class="modal-title modal-cabecalho">Busca vendas</h4>
                   </div>
                   <div class="modal-body modal-corpo modalAcessoDeUsuarios" style="text-align: center">
                         <!-- DADOS DO RECEBÍVEL PARCELA -->
                         <table border=0>
                             <tbody class="centralizarVertical">
                                 <tr role="row">
                                     <td rowspan="1" colspan="1"                                      
                                         style="width: 10%; text-align:center">
                                         <label>Venda</label>
                                     </td>
                                     <td rowspan="1" colspan="1"                                      
                                         style="width: 10%; text-align:center">
                                         <label>Valor</label>
                                     </td>
                                     <td rowspan="1" colspan="1"                                      
                                         style="width: 10%; text-align:center">
                                         <label>Parcelas</label>
                                     </td>
                                     <td rowspan="1" colspan="1"                                      
                                         style="width: 40%; text-align:center">
                                         <label>Bandeira</label>
                                     </td>
                                     <td rowspan="1" colspan="1"                                      
                                         style="width: 10%; text-align:center">
                                         <label>NSU</label>
                                     </td>
                                     <td rowspan="2" colspan="1"                                      
                                         style="width: 20%; text-align:center">
                                         <!--span style="margin-right: 20px" title="Buscar pelo NSU">
                                             <a href="javascript:;" class="btn btn-icon-only default"
                                                    ng-click="buscaTEF()">
                                                 <i class="fa fa-search"></i>
                                             </a>
                                         </span>												 
                                         <label style="margin-right: 20px">Pesquisar no TEF</label-->
                                     </td>
                                 </tr>
                                 <tr role="row">
                                     <td ng-bind="getDataString(modalBuscaVendas.venda.Data)"></td>
                                     <td>{{modalBuscaVendas.venda.Valor | currency:'R$'}}</td>
                                     <td>{{modalBuscaVendas.venda.Parcelas}}</td>
                                     <td>{{modalBuscaVendas.venda.Bandeira | uppercase}}</td>
                                     <td>{{("000000000000" + modalBuscaVendas.venda.Nsu).slice(-12)}}</td>
                                 </tr>
                             </tbody>
                         </table>
										 
                         <!-- TABELA TEF -->
                         <!--div style="margin-top: 50px" ng-show="statusPesquisaTef">
                             <div class="row">
                                <label class="col-sm-12" style="width: 10%;">TEF</label></div>
                                 <div class="col-xs-12 col-sm-12 col-md-12">
                                     <div class="table-scrollable">
                                 <table class="table table-striped table-hover table-bordered dataTable no-footer conteudoTabelas"
                                                role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th tabindex="0" rowspan="1" colspan="1"                                      
                                                        style="width: 10%; text-align:center; font-size: 100%">
                                                        Data
                                                </th>
                                                <th tabindex="1" rowspan="1" colspan="1"                                          
                                                        style="width: 10%; font-size: 100%">
                                                        Filial
                                                </th>
                                                <th tabindex="2" rowspan="1" colspan="1"                                          
                                                        style="width: 5%; font-size: 100%">
                                                         Bandeira
                                                </th>                                    
                                                <th tabindex="3" rowspan="1" colspan="1"                                         
                                                        style="width: 10%; font-size: 100%">
                                                         Cartão
                                                </th>
                                                <th tabindex="4" rowspan="1" colspan="1"                                          
                                                        style="width: 5%; font-size: 100%">
                                                         Valor(R$)
                                                </th>
                                                <th tabindex="5" rowspan="1" colspan="1"                                          
                                                        style="width: 10%; font-size: 100%">
                                                         Parcelas
                                                </th>
                                                <th tabindex="6" rowspan="1" colspan="1"                                        
                                                        style="width: 10%; font-size: 100%">
                                                         Tipo
                                                </th>
                                                <th tabindex="7" rowspan="1" colspan="1"                                        
                                                        style="width: 10%; font-size: 100%">
                                                         NSU HOST
                                                </th>
                                                <th tabindex="8" rowspan="1" colspan="1"                                        
                                                        style="width: 10%; font-size: 100%">
                                                         PDV
                                                </th>
                                                <th tabindex="9" rowspan="1" colspan="1"                                        
                                                        style="width: 10%; font-size: 100%">
                                                         Autorizador
                                                </th>
                                                <th tabindex="10" rowspan="1" colspan="1"                                        
                                                        style="width: 10%; font-size: 100%">
                                                         Status
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="centralizarVertical">
                                            <tr role="row" class="odd" ng-repeat="dados in dadosTef">
                                                <td style="text-align:center; font-size: 80%" ng-bind="getDataString(dados.dtVenda)"></td>
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.empresa.ds_fantasia | uppercase}}
                                                </td>
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.dsBandeira | uppercase}}
                                                </td>                                    
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.nrCartao}}
                                                </td>
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.vlVenda | currency:'R$'}}
                                                </td>
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.qtParcelas}}
                                                </td>
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.tipoProduto | uppercase}}
                                                </td>
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.nrNSUHost}}
                                                </td>
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.nrPDVTEF}}
                                                </td>
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.tbRedeTEF.dsRedeTef | uppercase}}
                                                </td>
                                                <td style="text-align:center; font-size: 80%">
                                                    {{dados.dsEstadoTransacaoTef | uppercase}}
                                                </td>
                                            </tr> 
                                        </tbody>
                                         <tfoot>
                                             <tr>
                                                 <td colspan="11">
                                                     <span class="glyphicon glyphicon-chevron-up btn btn-sm grey filter-cancel" 
                                                                 ng-click="limparTef()">
                                                     </span>
                                                 </td>
                                             </tr>
                                         </tfoot>
                                     </table>
                                 </div>
                             </div>
                         </div-->
                         <!-- FIM TABLEA TEF -->
                       
                       <!-- FILIAL DE CONSULTA -->
                       <div class="row" style="margin-top: 50px">
                           <div class="col-sm-2"></div>
                           <div class="col-sm-8"> 
                               <label style="margin-right: 20px">Filial</label>
                               <select class="form-control form-filter input-sm comboBoxFiltros"
                                       style="width: 60%"
                                       ng-model="modalBuscaVendas.filial"
                                       ng-options="filial as getNomeAmigavelFilial(filial) for filial in filiais">
                                    <option value="" style="display: none"></option>
                               </select>
                               <span style="margin-right: 20px" title="Buscar venda">
                                    <a href="javascript:;" class="btn btn-icon-only default"
                                       ng-click="buscaVendasFilial(modalBuscaVendas.filial.nu_cnpj)"
                                       ng-disabled="!usuarioPodeAlterarDadosConciliacaoVendas()">
                                        <i class="fa fa-search"></i>
                                    </a>
                              </span>
                          </div>
                          <div class="col-sm-2"></div>
                     </div>
                       
                       <!-- TABELA -->
                       <div style="margin-top: 50px">
                           <table class="table table-striped table-hover table-bordered dataTable no-footer conteudoTabelas"
                                  role="grid">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 20%">
                                            Data Venda
                                        </th>
                                        <th style="width: 15%">
                                            Valor
                                        </th>
                                        <th style="width: 10%">
                                             Parcelas
                                        </th>                                    
                                        <th style="width: 30%">
                                             Bandeira
                                        </th>
                                        <th style="width: 10%">
                                             NSU
                                        </th>
                                        <th style="width: 15%">
                                             Ações
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="centralizarVertical">
                                    <tr role="row" class="odd" 
                                        ng-repeat="venda in modalBuscaVendas.vendas">
                                        <td style="text-align:center"
                                            ng-bind="getDataString(venda.Data)">
                                        </td>  
                                        <td style="text-align:center">
                                              {{venda.Valor | currency:'R$'}}
                                        </td>
                                        <td style="text-align:center">
                                           {{venda.Parcelas}}
                                        </td>                            
                                        <td style="text-align:center">
                                            {{venda.Bandeira | uppercase}}
                                        </td>
                                        <td style="text-align:center">
                                           {{venda.Nsu}}
                                        </td>
                                        <td style="text-align:center">
                                           <button class="btn-group" ng-click="conciliarVenda(venda)">
                                                Conciliar
                                            </button>
                                        </td>
                                    </tr> 
                                    <tr role="row" 
                                        ng-show="!modalBuscaVendas.buscandovendas && modalBuscaVendas.vendas.length === 0">
                                        <td colspan="8" class="linhaTotalRelatorios">
                                            Nenhum venda encontrada
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                       </div>
                   </div>
                   <div class="modal-footer">
                       <!--div class="col-sm-4">
                           <button type="button" class="btn default" print-btn>
                               Imprimir
                           </button>
                       </div-->
                       <div class="col-sm-12" align="center">
                           <button align="center" ng-click="statusPesquisaTef = false" type="button" class="btn default" data-dismiss="modal">
                               Fechar
                           </button>
                       </div>                           
                   </div>
               </div>
           </div>
       </div>
       <!-- FIM - MODAL VENDAS -->
        
        
        <div class="portlet-title">
            <div class="caption">								
                <span class="caption-subject font-green-sharp bold uppercase">Conciliação de Vendas</span>
            </div>
            <div class="actions" print-remove>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" 
                   href="javascript:;" 
                   ng-click="fullScreenClick()"
                   title="{{telaEstaEmFullScreen() ? 'Tela Normal' : 'Tela Cheia'}}"></a>
                <div class="btn-group">
                    <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;"
                               ng-click="print()">
                            Imprimir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="portlet-body" print-section print-landscape ng-show="exibeTela"> 
            <div class="row">
                <!--EXIBIÇÃO-->
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="dataTables_length">
                        <label>
                            <span class="seperator"></span>Exibindo 
                            <select name="datatable_products_length" aria-controls="datatable_products" 
                                    class="form-control input-xsmall input-sm input-inline"
                                    ng-model="filtro.itens_pagina"
                                    ng-change="alterouItensPagina()" print-remove
                                    ng-options="item for item in itens_pagina">                                            
                            </select>
                            <span print-only>
                                {{filtro.itens_pagina}}
                            </span> registros de {{filtro.total_registros}}
                        </label>
                    </div>   
                </div>
                <!--PAGINAÇÃO-->
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <div class="pagination-panel centralizarPaginacao"> Página 
                        <a href="javascript:;" ng-click="retrocedePagina()"
                           class="btn btn-sm default prev" 
                           ng-class="{disabled: filtro.pagina <= 1}" 
                           title="Página anterior" print-remove>
                                <i class="fa fa-angle-left"></i>
                        </a>
                        <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                               maxlength="4" style="text-align:center; margin: 0 5px;"
                               ng-model="paginaInformada" valid-integer-number
                               ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                               ng-blur="atualizaPaginaDigitada()" print-remove>
                        <span print-only>
                                {{paginaInformada}}
                            </span> 
                        <a href="javascript:;" ng-click="avancaPagina()"
                           class="btn btn-sm default next"
                           ng-class="{disabled: filtro.pagina >= filtro.total_paginas}"
                           title="Próxima página" print-remove>
                            <i class="fa fa-angle-right"></i>
                        </a>
                            de <span class="pagination-panel-total">{{filtro.total_paginas}}</span>
                    </div>
                </div>  
                <div class="col-xs-4 col-sm-4 col-md-4" print-remove>
                    <!--button class="btn btn-warning" 
                       ng-disabled="!temElementosPreConciliados()"
                       ng-click="conciliaPreConciliados()">
                       Conciliar Pré-Conciliados
                    </button-->
                    <button class="btn btn-danger" style="padding-left: 10px" 
                       ng-disabled="!filtro.filial || filtro.filial === null"
                       ng-click="conciliaTefNsu()">
                       Conciliar TEF-NSU
                    </button>
                    <button class="btn btn-primary" style="padding-left: 10px" 
                       ng-disabled="!filtro.adquirente || filtro.adquirente === null"
                       title="Efetua a correção no ERP das vendas conciliadas com recebíveis, considerando o filtro selecionado"
                       ng-click="corrigeVendas()">
                       Corrige Vendas
                    </button>
                </div>  
            </div>
            
            <div class="row" print-hide style="margin-top: 20px">
                <div class="col-xs-4 col-sm-4 col-md-4"></div>
                <div class="col-xs-4 col-sm-4 col-md-3"></div>
                <div class="col-xs-4 col-sm-4 col-md-5">
                    
                    <div class="dataTables_filter"> 

                        <div class="col-md-5">
                            <div class="dataTables_length">
                                <label>
                                    <span class="seperator"></span>NSU
                                </label>                                         
                            </div>                                    
                        </div> 
                        <div class="col-md-7 input-group input-icon right">
                            <i class="fa fa-times" style="right:50px;cursor:pointer"
                               ng-show="filtro.nsu"
                               ng-click="resetaBuscaNSU()"></i>
                            <input type="text" 
                               class="form-control input-inline" 
                               placeholder="NSU" 
                               ng-model="filtro.nsu"
                               ng-keyup="($event.keyCode == 13 || ($event.keyCode == 8 && !filtro.nsu)) && buscaDadosConciliacao()">
                            <span class="input-group-addon">
                                <i class="fa fa-search" style="cursor:pointer"
                                   ng-click="buscaDadosConciliacao()"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
         
        
            <div class="table-container" style="margin-bottom:50px">
                
                <!--CUPONS-->
                <div class="row" ng-repeat="dado in dadosconciliacao">
                    <!--1º CUPOM (CARGA)-->
                    <div class="col-md-5 col-sm-5" print-avoid-break
                         ng-class="{'element-hidden' : dado.Recebimento === null}">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4 col-sm-12"
                                 ng-class="{'cupomConciliacaoVendas cupomAzulConciliacaoBancaria' : dado.Recebimento !== null && dado.Conciliado === 1, 'cupomConciliacaoVendas cupomVermelhoConciliacaoBancaria' : dado.Recebimento !== null && dado.Conciliado === 3, 'cupomConciliacaoVendas cupomLaranjaConciliacaoBancaria' : dado.Recebimento !== null && dado.Conciliado === 2}">
                                <!--HEAD-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--TITULO DO CUPON -->
                                        <div class="row vendaCumponsConciliacaoBancaria">
                                            <!--TIPO DO CUPON-->
                                            <div class="col-md-12 conteudoCuponsConciliacaobancaria"
                                                 ng-bind="dado.Recebimento !== null ? 'Vendas - Adquirente' : ''">
                                            </div>
                                        </div>
                                        <!--SUBTITULO DO CUPON -->
                                        <div class="row vendaCumponsConciliacaoBancariaICard">
                                            <div class="col-md-12 col-sm-12 conteudoCuponsConciliacaobancaria"
                                                 ng-bind="dado.Recebimento !== null ? dado.Recebimento.Filial : ''"> 
                                            </div>
                                        </div>                                 
                                    </div>
                                </div>
                                <!--BODY-->                   
                                <!--DIVISÓRIA DOS TIPOS DE CUPONS-->
                                <div class="row">   
                                    <div class="col-md-12 col-sm-12 conteudoCuponsConciliacaobancaria"
                                         ng-bind="dado.Recebimento !== null ? '=============================' : ''">
                                    </div>
                                </div>
                                <!--DATA DA VENDA-->
                                <div class="row"
                                     ng-init="incrementaContRecebimentos(dado.Recebimento)">
                                    <div class="col-md-6 col-sm-6">
                                        <label ng-bind="dado.Recebimento !== null ? 'Data da Venda:' : ''"></label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados"
                                         ng-bind="dado.Recebimento !== null ? getDataString(dado.Recebimento.Data) : ''">
                                    </div>
                                </div>
                                <!-- PARCELAS -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label ng-bind="dado.Recebimento !== null ? 'Parcelas:' : ''"></label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados"
                                         ng-bind="dado.Recebimento !== null ? dado.Recebimento.Parcelas : ''">
                                    </div>
                                </div>
                                <!--ADQUIRENTE -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label ng-bind="dado.Recebimento !== null ? 'Adquirente:' : ''"></label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados"
                                         ng-bind="dado.Recebimento !== null ? dado.Adquirente : ''">
                                    </div>                      
                                </div> 
                                <!--BANDEIRA -->
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <label ng-bind="dado.Recebimento !== null ? 'Bandeira:' : ''"></label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 alinhamentoDados"
                                         ng-bind="dado.Recebimento !== null ? dado.Recebimento.Bandeira : ''">
                                    </div>                      
                                </div> 
                                <!--VALOR-->
                                <div class="row">
                                    <!--VALOR-->
                                    <div class="col-md-6 col-sm-6">
                                        <label ng-bind="dado.Recebimento !== null ? 'Valor:' : ''"></label>
                                    </div>
                                    <!--RESULTADO DO VALOR-->
                                    <div class="col-md-6 col-sm-6 alinhamentoDados">
                                        <label ng-show="dado.Recebimento !== null">
                                            {{dado.Recebimento.Valor | currency:'R$'}}
                                        </label>
                                    </div>                                              
                                </div>  
                                <!--NSU-->
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <label ng-bind="dado.Recebimento !== null ? 'NSU:' : ''"></label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 alinhamentoDados">
                                        <label>{{dado.Recebimento.Nsu || ''}}</label>
                                    </div>                                              
                                </div>
                                <!--RESUMO VENDAS-->
                                <div class="row" ng-show="dado.Recebimento !== null && dado.Recebimento.CodResumoVendas && dado.Recebimento.CodResumoVendas !== null">
                                    <!--RESUMO-->
                                    <div class="col-md-4 col-sm-4">
                                        <label ng-bind="dado.Recebimento !== null ? 'Resumo:' : ''"></label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 alinhamentoDados">
                                        <label>{{dado.Recebimento.CodResumoVendas || ''}}</label>
                                    </div>                                              
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--BOTÕES-->
                    <div class="col-md-2 col-sm-2 btnConciliacaoBancaria" print-hide>
                        <div class="row" ng-init="incrementaTotalPreConciliados(dado.Conciliado === 2)"
                             ng-class="{'element-hidden' : dado.Conciliado === 3 && dado.Venda === null}">
                            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-4"
                                 title="{{dado.Conciliado === 1 ? 'Desfazer conciliação' : dado.Conciliado === 2 ? 'Conciliar' : dado.Conciliado === 3 && dado.Recebimento === null ? 'Buscar venda' : ''}}">
                                <a href="javascript:;" class="btn btn-icon-only default"
                                   ng-click="dado.Conciliado === 1 ? desconcilia(dado) : dado.Conciliado === 2 ? concilia(dado) : dado.Conciliado === 3 && dado.Recebimento === null  ? buscaVendas(dado) : 0"
                                   ng-disabled="!usuarioPodeAlterarDadosConciliacaoVendas()">
                                    <i class="fa"
                                       ng-class="{'fa-undo': dado.Conciliado === 1, 'fa-arrow-left': dado.Conciliado === 2, 'fa-search' : dado.Conciliado === 3 && dado.Recebimento === null}"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!--2º CUPOM(VENDA ERP)-->
                    <div class="col-md-5 col-sm-5" print-avoid-break
                         ng-class="{'element-hidden' : dado.Venda === null}">
                        <div class="row">
                            <div class="col-md-8 col-sm-12"
                                 ng-class="{'cupomConciliacaoVendas cupomAzulConciliacaoBancaria' : dado.Venda !== null && dado.Conciliado === 1, 'cupomConciliacaoVendas cupomVermelhoConciliacaoBancaria' : dado.Venda !== null && dado.Conciliado === 3, 'cupomConciliacaoVendas cupomLaranjaConciliacaoBancaria' : dado.Venda !== null && dado.Conciliado === 2}">
                                <!--HEAD-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--TITULO DO CUPON -->
                                        <div class="row vendaCumponsConciliacaoBancaria">
                                            <!--TIPO DO CUPON-->
                                            <div class="col-md-12 conteudoCuponsConciliacaobancaria"
                                                 ng-bind="dado.Venda !== null ? 'Vendas - Cliente' : ''">
                                            </div>
                                        </div>
                                        <!--SUBTITULO DO CUPON -->
                                        <div class="row vendaCumponsConciliacaoBancariaICard">
                                            <div class="col-md-12 col-sm-12 conteudoCuponsConciliacaobancaria"
                                                 ng-bind="dado.Venda !== null ? dado.Venda.Filial : ''"> 
                                            </div>
                                        </div>                                 
                                    </div>
                                </div>
                                <!--BODY-->                   
                                <!--DIVISÓRIA DOS TIPOS DE CUPONS-->
                                <div class="row">   
                                    <div class="col-md-12 col-sm-12 conteudoCuponsConciliacaobancaria"
                                         ng-bind="dado.Venda !== null ? '=============================' : ''">
                                    </div>
                                </div>
                                <!--DATA DA VENDA-->
                                <div class="row"
                                     ng-init="incrementaContVendas(dado.Venda)">
                                    <div class="col-md-6 col-sm-6">
                                        <label ng-bind="dado.Venda !== null ? 'Data:' : ''"></label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados"
                                         ng-bind="dado.Venda !== null ? getDataString(dado.Venda.Data) : ''">
                                    </div>
                                </div>
                                <!-- PARCELAS -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label ng-bind="dado.Venda !== null ? 'Parcelas:' : ''"></label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados"
                                         ng-bind="dado.Venda !== null ? dado.Venda.Parcelas : ''">
                                    </div>
                                </div>
                                <!--ADQUIRENTE -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label ng-bind="dado.Venda !== null ? 'Adquirente:' : ''"></label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 alinhamentoDados"
                                         ng-bind="dado.Venda !== null ? dado.Adquirente : ''">
                                    </div>                      
                                </div> 
                                <!--BANDEIRA -->
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <label ng-bind="dado.Venda !== null ? 'Bandeira:' : ''"></label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 alinhamentoDados"
                                         ng-bind="dado.Venda !== null ? dado.Venda.Bandeira : ''">
                                    </div>                      
                                </div> 
                                <!--VALOR-->
                                <div class="row">
                                    <!--VALOR-->
                                    <div class="col-md-6 col-sm-6">
                                        <label ng-bind="dado.Venda !== null ? 'Valor:' : ''"></label>
                                    </div>
                                    <!--RESULTADO DO VALOR-->
                                    <div class="col-md-6 col-sm-6 alinhamentoDados">
                                        <label ng-show="dado.Venda !== null">
                                            {{dado.Venda.Valor | currency:'R$'}}
                                        </label>
                                    </div>                                              
                                </div> 
                                <!--NSU-->
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <label ng-bind="dado.Venda !== null ? 'NSU:' : ''"></label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 alinhamentoDados">
                                        <label>{{dado.Venda.Nsu || ''}}</label>
                                    </div>                                              
                                </div>
                                <!--BOTÃO CORRIGE -->
                                <div class="row" style="text-align:center"
                                     ng-show="dado.Conciliado === 1">
                                    <div class="col-md-12">
                                        <button class="btn green"
                                                style="margin-bottom:-25px" print-remove
                                                ng-click="corrigeVenda(dado)">
                                            Corrige Venda ERP    
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                <!--FIM CUPONS-->
                
                
                <!-- TOTAIS - VALORES -->
                <div class="row" style="margin-top:30px" print-section>
                    <!-- RECEBIMENTO -->
                    <div class="col-md-12 col-sm-12" style="text-align:center">
                        <label style="font-weight:bolder">
                            TOTAL:&nbsp;{{totais.valorTotal | currency:'R$'}}
                        </label>    
                    </div>
                </div>
                <!-- TOTAIS - REGISTROS -->
                <div class="row" style="margin-top:30px" print-section>
                    <!-- RECEBIMENTO PARCELA -->
                    <div class="col-md-5 col-sm-5" style="text-align:center">
                        <label style="font-weight:bolder">
                            CARGAS:&nbsp;{{totais.contRecebimentos}}
                        </label>    
                    </div>
                    <!-- ESPAÇO DOS BOTOÕES -->
                    <div class="col-md-2 col-sm-2">
                    </div>
                    <!-- VENDSA ERP -->
                    <div class="col-md-5 col-sm-5" style="text-align:center">
                        <label style="font-weight:bolder">
                            VENDAS:&nbsp;{{totais.contVendas}}
                        </label>
                    </div>
                </div>
            </div>

            <!-- RODAPÉ : Exibição dos resultados e paginação -->
            <div class="row" print-remove>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="dataTables_info" role="status" aria-live="polite">
                        <strong>Exibindo os registros {{filtro.faixa_registros}}</strong>
                    </div>
                </div>
                <!--PAGINAÇÃO-RODAPÉ-->
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <div class="pagination-panel centralizarPaginacao"> Página 
                        <a href="javascript:;" ng-click="retrocedePagina()"
                           class="btn btn-sm default prev" 
                           ng-class="{disabled: filtro.pagina <= 1}" 
                           title="Página anterior">
                                <i class="fa fa-angle-left"></i>
                        </a>
                        <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                               maxlength="4" style="text-align:center; margin: 0 5px;"
                               ng-model="paginaInformada" valid-integer-number
                               ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                               ng-blur="atualizaPaginaDigitada()">
                            <a href="javascript:;" ng-click="avancaPagina()"
                               class="btn btn-sm default next"
                               ng-class="{disabled: filtro.pagina >= filtro.total_paginas}"
                               title="Próxima página">
                                <i class="fa fa-angle-right"></i>
                            </a>
                            de <span class="pagination-panel-total">{{filtro.total_paginas}}</span>
                    </div>
                </div>
                <!-- FIM PAGINAÇÃO -->
            </div>   
        </div>
    </div>
</div>