<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="card-services-dados-acessoCtrl" ng-init="cardServices_dadosAcessoInit()">    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Card Services<i class="fa fa-caret-right"></i>
             Consolidação<i class="fa fa-caret-right"></i>
             Dados de Acesso
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="portlet light"> 
        <div class="portlet-title">
            <div class="caption">								
                <span class="caption-subject font-green-sharp bold uppercase">Filtros</span>						
            </div>
            <div class="actions">


            </div>
        </div>
        <div class="portlet-body">
            <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                <div class="row">                       
                    <div class="col-md-8 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_ajax_paginate">
                        </div>
                        <div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="table-group-actions pull-right">
                        <span> </span>
                        </div>
                    </div>
                </div>
                <!--div class="table-scrollable"-->
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer conteudoTabelas" id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="8%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                     Data
                                </th>
                                <th width="11%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                     Filiais 
                                </th>
                                <th width="5%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                     Adquirentes
                                </th>
                                <th width="8%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                     Bandeiras
                                </th>
                                <th width="8%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                     Status
                                </th>
                                <th width="1%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                     Opções
                                </th>
                            </tr>
                            <tr role="row" class="filter">
                                <td rowspan="1" colspan="1">                                    
                                    <div class="input-group date date-picker margin-bottom-5">
                                        <!--input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="Início"-->
                                        <input type="text" class="form-control form-filter input-sm" 
                                               readonly style="cursor: pointer"
                                               ng-click="exibeCalendarioDataMin($event)"
                                               placeholder="Início" 
                                               ng-model="datamin"
                                               ng-change="alterouDataMin()"
                                               datepicker-append-to-body=true
                                               datepicker-popup="dd MMMM yyyy"
                                               is-open="abrirCalendarioDataMin" 
                                               min-date="2000-01-01"
                                               ng-required="true" 
                                               show-button-bar="false"
                                               show-weeks="false" />
                                        <span class="input-group-btn">
                                        <button class="btn btn-sm default" type="button" ng-click="exibeCalendarioDataMin($event)"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control form-filter input-sm" 
                                               readonly style="cursor: pointer" 
                                               ng-click="exibeCalendarioDataMax($event)"
                                               placeholder="Fim" 
                                               ng-model="datamax" 
                                               ng-change="alterouDataMax()"
                                               datepicker-popup="dd MMMM yyyy" 
                                               is-open="abrirCalendarioDataMax" 
                                               datepicker-append-to-body=true
                                               min-date="2000-01-01"
                                               ng-required="false" 
                                               current-text="Hoje" 
                                               clear-text="Limpar" 
                                               close-text="Fechar" 
                                               show-button-bar="true"
                                               show-weeks="false" />
                                        <span class="input-group-btn">
                                        <button class="btn btn-sm default" type="button" ng-click="exibeCalendarioDataMax($event)"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>                                            
                                </td>
                                <td rowspan="1" colspan="1">
                                    <select name="order_status" class="form-control form-filter input-sm">
                                        <option value="">Todas</option>
                                        <option value="pending">Pending</option>
                                        <option value="closed">Closed</option>
                                        <option value="hold">On Hold</option>
                                        <option value="fraud">Fraud</option>
                                    </select>
                                </td>
                                <td rowspan="1" colspan="1">
                                    <select name="order_status" class="form-control form-filter input-sm">
                                        <option value="">Todas</option>
                                        <option value="pending">Pending</option>
                                        <option value="closed">Closed</option>
                                        <option value="hold">On Hold</option>
                                        <option value="fraud">Fraud</option>
                                    </select>
                                </td>
                                <td rowspan="1" colspan="1">
                                    <select name="order_status" class="form-control form-filter input-sm">
                                        <option value="">Todas</option>
                                        <option value="pending">Pending</option>
                                        <option value="closed">Closed</option>
                                        <option value="hold">On Hold</option>
                                        <option value="fraud">Fraud</option>
                                    </select>
                                </td>
                                <td rowspan="1" colspan="1">
                                    <select name="order_status" class="form-control form-filter input-sm">
                                        <option value="">Todas</option>
                                        <option value="pending">Pending</option>
                                        <option value="closed">Closed</option>
                                        <option value="hold">On Hold</option>
                                        <option value="fraud">Fraud</option>
                                    </select>
                                </td>
                                <td rowspan="1" colspan="1">
                                    <div class="margin-bottom-5">
                                        <button class="btn btn-sm red filter-submit margin-bottom" ng-click="showModalConfirmacao('Meu titulo')"><i class="fa fa-search"></i> Buscar</button>
                                    </div>
                                    <button class="btn btn-sm grey filter-cancel"><i class="fa fa-times"></i> Limpar</button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap_extended">
                        </div>
                        <div class="dataTables_info">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">								
                <span class="caption-subject font-green-sharp bold uppercase">INFORMAÇÕES</span>
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" 
                   href="javascript:;" data-original-title="" title=""></a>
                <div class="btn-group element-hidden"> <!-- NÃO EXIBE PQ AINDA NÃO TEM WEBAPI -->
                    <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                            Export to Excel </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                            Export to CSV </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                            Export to XML </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="javascript:;">
                            Print Invoices </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-container">
                <div id="datatable_products_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="dataTables_length" id="datatable_products_length">
                                <label><span class="seperator"></span>Exibindo 
                                    <select name="datatable_products_length" aria-controls="datatable_products" class="form-control input-xsmall input-sm input-inline">
                                           <option value="10">10</option>
                                           <option value="20">20</option>
                                           <option value="50">50</option>
                                           <option value="100">100</option>
                                           <option value="150">150</option>
                                    </select> registros
                                </label>
                            </div>
                            <div class="dataTables_info" id="datatable_products_info" role="status" aria-live="polite"></div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="table-group-actions pull-right">
                                <span></span>
                                <form class="search-form ng-pristine ng-valid">
                                    <div class="input-group">
                                        <input type="text" class="form-control ng-pristine ng-valid ng-touched" placeholder="Buscar" 
                                               ng-model="gempresa" 
                                               typeahead-focus-first="false" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--CUPONS AZUIS-->
            <div class="row">
                <!--CUPONS CARD SERVICES- CONCILIAÇÃO VENDAS-->
                <div class="col-sm-3 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 cuponAzulConciliacaoVendas">
                            <div class="row">
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>CIELO</strong>                            
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>VIA ESTABELECIMENTO</strong>
                                </div>
                                <div class="col-sm-12" Style="text-align:center; margin-top:10px">
                                     AVENIDA PAULISTA, Nº8765
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    SÃO PAULO
                                </div>
                                <div class="col-sm-12" Style="margin-top:15px">
                                     POS=896547
                                </div>
                                <div class="col-sm-6">
                                    01/02/2013
                                </div>
                                <div class="col-sm-6">
                                    18:00
                                </div>
                                <div class="col-sm-6">
                                     AUT=999999
                                </div>
                                <div class="col-sm-6">
                                    DOC=123456
                                </div>
                                <div class="col-sm-12">
                                    TERM:
                                </div>
                                <div class="col-sm-12">
                                    9015622
                                </div>
                                <div class="col-sm-12">
                                   MASTERCARD
                                </div>                        
                                <div class="col-sm-12">
                                    XXXXXXXXXXXXXXX4569
                                </div>                        
                                <div class="col-sm-12">
                                    CREDITO A VISTA
                                </div>                        
                                <div class="col-sm-6">
                                    VALOR:
                                </div>
                                <div class="col-sm-6">
                                    50,00
                                </div>                                
                            </div>                            
                        </div>
                    </div>
                </div>
                <!--BOTÃO CHECK-->
                <div class="col-sm-2 botaoCheckCociliacaoVendas">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="javascript:;" class="btn btn-icon-only default">
                                        <i class="fa fa-check"></i>
                                     </a>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <!--CUPONS CARD SERVICES- CONCILIAÇÃO VENDAS-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 cuponAzulConciliacaoVendas">
                            <div class="row">
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>CIELO</strong>                            
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>VIA ESTABELECIMENTO</strong>
                                </div>
                                <div class="col-sm-12" Style="text-align:center; margin-top:10px">
                                     AVENIDA PAULISTA, Nº8765
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    SÃO PAULO
                                </div>
                                <div class="col-sm-12" Style="margin-top:15px">
                                     POS=896547
                                </div>
                                <div class="col-sm-6">
                                    01/02/2013
                                </div>
                                <div class="col-sm-6">
                                    18:00
                                </div>
                                <div class="col-sm-6">
                                     AUT=999999
                                </div>
                                <div class="col-sm-6">
                                    DOC=123456
                                </div>
                                <div class="col-sm-12">
                                    TERM:
                                </div>
                                <div class="col-sm-12">
                                    9015622
                                </div>
                                <div class="col-sm-12">
                                   MASTERCARD
                                </div>                        
                                <div class="col-sm-12">
                                    XXXXXXXXXXXXXXX4569
                                </div>                        
                                <div class="col-sm-12">
                                    CREDITO A VISTA
                                </div>                        
                                <div class="col-sm-6">
                                    VALOR:
                                </div>
                                <div class="col-sm-6">
                                    50,00
                                </div>                                
                            </div>                            
                        </div>
                    </div>
                </div>                
            </div> 
            <!--CUPONS LARANJAS-->
            <div class="row">
                <!--CUPONS CARD SERVICES- CONCILIAÇÃO VENDAS-->
                <div class="col-sm-3 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 cuponLaranjaConciliacaoVendas">
                            <div class="row">
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>CIELO</strong>                            
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>VIA ESTABELECIMENTO</strong>
                                </div>
                                <div class="col-sm-12" Style="text-align:center; margin-top:10px">
                                     AVENIDA PAULISTA, Nº8765
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    SÃO PAULO
                                </div>
                                <div class="col-sm-12" Style="margin-top:15px">
                                     POS=896547
                                </div>
                                <div class="col-sm-6">
                                    01/02/2013
                                </div>
                                <div class="col-sm-6">
                                    18:00
                                </div>
                                <div class="col-sm-6">
                                     AUT=999999
                                </div>
                                <div class="col-sm-6">
                                    DOC=123456
                                </div>
                                <div class="col-sm-12">
                                    TERM:
                                </div>
                                <div class="col-sm-12">
                                    9015622
                                </div>
                                <div class="col-sm-12">
                                   MASTERCARD
                                </div>                        
                                <div class="col-sm-12">
                                    XXXXXXXXXXXXXXX4569
                                </div>                        
                                <div class="col-sm-12">
                                    CREDITO A VISTA
                                </div>                        
                                <div class="col-sm-6">
                                    VALOR:
                                </div>
                                <div class="col-sm-6">
                                    50,00
                                </div>                                
                            </div>                            
                        </div>
                    </div>
                </div>
                <!--BOTÃO CHECK-->
                <div class="col-sm-2 botaoCheckCociliacaoVendas">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-4">
                            <div class="row"  style="margin-bottom:15px;">
                                <div class="col-sm-12">
                                    <a href="javascript:;" class="btn btn-icon-only default">
                                        <i class="fa fa-times"></i>
                                     </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="javascript:;" class="btn btn-icon-only default">
                                        <i class="fa fa-search"></i>
                                     </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>                                
            </div>
            <!--CUPONS VERMELHOS-->
            <div class="row">
                <!--CUPONS CARD SERVICES- CONCILIAÇÃO VENDAS-->
                <div class="col-sm-3 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 cuponVermelhoConciliacaoVendas">
                            <div class="row">
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>CIELO</strong>                            
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>VIA ESTABELECIMENTO</strong>
                                </div>
                                <div class="col-sm-12" Style="text-align:center; margin-top:10px">
                                     AVENIDA PAULISTA, Nº8765
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    SÃO PAULO
                                </div>
                                <div class="col-sm-12" Style="margin-top:15px">
                                     POS=896547
                                </div>
                                <div class="col-sm-6">
                                    01/02/2013
                                </div>
                                <div class="col-sm-6">
                                    18:00
                                </div>
                                <div class="col-sm-6">
                                     AUT=999999
                                </div>
                                <div class="col-sm-6">
                                    DOC=123456
                                </div>
                                <div class="col-sm-12">
                                    TERM:
                                </div>
                                <div class="col-sm-12">
                                    9015622
                                </div>
                                <div class="col-sm-12">
                                   MASTERCARD
                                </div>                        
                                <div class="col-sm-12">
                                    XXXXXXXXXXXXXXX4569
                                </div>                        
                                <div class="col-sm-12">
                                    CREDITO A VISTA
                                </div>                        
                                <div class="col-sm-6">
                                    VALOR:
                                </div>
                                <div class="col-sm-6">
                                    50,00
                                </div>                                
                            </div>                            
                        </div>
                    </div>
                </div>
                <!--BOTÃO CHECK-->
                <div class="col-sm-2 botaoCheckCociliacaoVendas">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="javascript:;" class="btn btn-icon-only default">
                                        <i class="fa fa-arrow-right"></i>
                                     </a>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <!--CUPONS CARD SERVICES- CONCILIAÇÃO VENDAS-->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 cuponVermelhoConciliacaoVendas">
                            <div class="row">
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>CIELO</strong>                            
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    <strong>VIA ESTABELECIMENTO</strong>
                                </div>
                                <div class="col-sm-12" Style="text-align:center; margin-top:10px">
                                     AVENIDA PAULISTA, Nº8765
                                </div>
                                <div class="col-sm-12" Style="text-align:center">
                                    SÃO PAULO
                                </div>
                                <div class="col-sm-12" Style="margin-top:15px">
                                     POS=896547
                                </div>
                                <div class="col-sm-6">
                                    01/02/2013
                                </div>
                                <div class="col-sm-6">
                                    18:00
                                </div>
                                <div class="col-sm-6">
                                     AUT=999999
                                </div>
                                <div class="col-sm-6">
                                    DOC=123456
                                </div>
                                <div class="col-sm-12">
                                    TERM:
                                </div>
                                <div class="col-sm-12">
                                    9015622
                                </div>
                                <div class="col-sm-12">
                                   MASTERCARD
                                </div>                        
                                <div class="col-sm-12">
                                    XXXXXXXXXXXXXXX4569
                                </div>                        
                                <div class="col-sm-12">
                                    CREDITO A VISTA
                                </div>                        
                                <div class="col-sm-6">
                                    VALOR:
                                </div>
                                <div class="col-sm-6">
                                    50,00
                                </div>                                
                            </div>                            
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>