<!DOCTYPE html>
<!-- 

    Atos Capital - www.atoscapital.com.br
   
    suporte@atoscapital.com.br
 
 
    Website - Tela de impressão de relatórios

    Versão 1.0.2 - 03/02/2016
    - Imprimindo tela de Recebíveis Futuros

    Versão 1.0.1 - 02/02/2016
    - Imprimindo tela de Relatórios de Conciliação
    
    Versão 1.0 - 25/01/2016
-->
<html lang="pt-BR" class="no-js" ng-app="card-services-impressao-relatorios" print-landscape print-section>
	<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8">
		<title>Atos Capital - Impressão de Relatórios</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta content="" name="description">
		<meta content="" name="author">
		<!-- PREVENT BROWSER CACHE -->
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="0"/>
		
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<!--link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"-->
		<link href="../../../lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="../../../lib/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
		<link href="../../../lib/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../../lib/uniform/uniform.default.css" rel="stylesheet" type="text/css">
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN THEME STYLES -->
		<link href="../../../lib/css/components-rounded.css?v=1.0" id="style_components" rel="stylesheet" type="text/css">
		<link href="../../../lib/css/plugins.css?v=1.0" rel="stylesheet" type="text/css">
		<link href="../../../css/custom.css?v=1.0" rel="stylesheet" type="text/css">
		<link href="../../../css/fontes.css?v=1.0" rel="stylesheet" type="text/css">
		<link href="../../../manutencao/css/estilo.css?v=1.0" rel="stylesheet" type="text/css">
		<!-- END THEME STYLES -->
		<link rel="shortcut icon" href="../../../img/favicon.jpg"> 
		<!-- STYLE -->
		<style>
			
			body{
				background: #cccccc;
				margin: 10mm 15mm 10mm 15mm;
			}
			
			page[size="A8"] {
				background: white;
				width: 29.7cm;
				height: 21cm;
				display: block;
				margin: 0 auto;
				padding: 10mm 15mm 10mm 15mm;
				margin-bottom: 0.5cm;
				box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
			}
			
			table { 
				border: 1px solid #eee;
				page-break-before: auto;
				margin-left: auto;
				margin-right: auto;
			}
			
			tr { 
				border: 1px solid #eee;
				text-align: center;
			}
			
			th {
				border: 1px solid #eee; 
				text-align: center;
				font-weight: bold;
				padding: 10px;
			}
			
			td {
				border: 1px solid #eee; 
				text-align: center;
				padding: 10px;
				font-size: 85%
			}
			
			/* STYLE PARA IMPRESSÃO */
			@media print {
				body, page[size="A8"] {
					margin: 0;
					box-shadow: 0;
				}
				@page 
				{
					size:  auto;   /* auto is the initial value */
					margin: 0mm;  /* this affects the margin in the printer settings */
				}
				
				html
				{
					background-color: #FFFFFF; 
					margin: 0px;  /* this affects the margin on the html before sending to printer */
				}
				
				table { 
					border: 1px solid #eee;
					page-break-before: auto;
				}
				
				tr { 
					border: 1px solid #eee;
					text-align: center;
				}
				
				th {
					border: 1px solid #eee; 
					text-align: center;
					font-weight: bold;
					padding: 10px;
				}
				
				td {
					border: 1px solid #eee; 
					text-align: center;
					padding: 10px;
				}
			}
		</style>
		<!--<style type="text/css" media="print">
			@page { 
				size: landscape; 
			}
		</style>
		<style type="text/css" media="print">
			@page{
				-webkit-transform: rotate(-90deg); 
				-moz-transform:rotate(-90deg);
				filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			}
		</style>
		<style type="text/css" media="print">
			.page
			{
				-webkit-transform: rotate(-90deg); 
				-moz-transform:rotate(-90deg);
				filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			}
		</style>
		<style type="text/css" media="print">
			@media screen and (orientation: landscape) {
				#toolbar {
					position: fixed;
					width: 2.65em;
					height: 100%;
				}
				
				p {
					margin-left: 2em;
				}
				
				li + li {
					margin-top: .5em;
				}
			}
		</style>-->
		<!-- END STYLE -->
	</head>
	<!-- END HEAD -->
	
	<!-- BEGIN BODY -->
	<body ng-class="{'manutencao' : manutencao }" 
				ng-controller="card-services-impressao-relatoriosCtrl" 
				ng-init="cardServices_impressaoRelatoriosInit()"
				print-section>
		
		<!-- MANUTENÇÃO -->
		<div class="centro" ng-show="manutencao" ng-cloak>
			<div class="conteudo">        
				Desculpe-nos pelo transtorno<br><br>
				Estamos trabalhando para que o sistema <br><br>
				volte a funcionar o mais breve possível.
			</div>    
		</div>
		
		<div ng-show="!manutencao" ng-cloak>
			<page size="{{page}}" ng-if="nomeRelatorio == 'Relatório de Recebíveis Futuros'">
				<!-- TABELA PADRÃO RELATÓRIO RECEBÍVEIS FUTUROS -->
				<table print-avoid-break style="{{style}}">
					<thead>
						<tr>
							<th colspan="{{nColunas + 3}}">
								<a ng-click="imprime()"><span style="font-size: 22px" class="glyphicon glyphicon-print large"></span></a>
							</th>
						</tr>
						<tr>
							<th colspan="{{nColunas}}" rowspan="3">
								<img ng-src="http://www.atoscapital.com.br/portal/img/AtosCapital.jpg" title="Atos Capital" class="logo-default"
										 width="320px" height="100px" align="center">
							</th>
							<th colspan="3">{{nomeEmpresa | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="3">{{nomeFilial | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="3">{{data | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="{{nColunas + 3}}"></th>
						</tr>
						<tr>
							<th colspan="{{nColunas + 3}}">{{nomeRelatorio | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="3" ng-if="nNiveis != 1"></th>
							<th rowspan="1" colspan="1" ng-repeat="coluna in colunas">{{coluna}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="competencia in relatorio">
							<td colspan="3"><span class="glyphicon glyphicon-chevron-right"></span></td>
							<!-- COMPETÊNCIA -->
							<td>{{competencia.competencia | uppercase}}</td>
							<!-- VALOR BRUTO -->
							<td>{{competencia.valorBruto | currency:'R$'}}</td>
							<!-- VALOR DESCONTADO -->
							<td>{{competencia.valorDescontado | currency:'R$'}}</td>
							<!-- ANTECIPAÇÕES -->
							<td>{{competencia.valorAntecipacaoBancaria | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{competencia.valorLiquido | currency:'R$'}}</td>
						</tr>
						<!-- LINHA EXPANSÍVEL -->
						<tr ng-repeat-start="adquirente in competencia.adquirentes"> 
							<td></td>
							<td colspan="2"><span class="glyphicon glyphicon-chevron-right"></span></td>
							<!-- ADQUIRENTE -->
							<td>{{adquirente.adquirente | uppercase}}</td>
							<!-- VALOR BRUTO -->
							<td>{{adquirente.valorBruto | currency:'R$'}}</td>
							<!-- VALOR DESCONTADO -->
							<td>{{adquirente.valorDescontado | currency:'R$'}}</td>
							<!-- ANTECIPAÇÕES -->
							<td>{{adquirente.valorAntecipacaoBancaria | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{adquirente.valorLiquido | currency:'R$'}}</td>
						</tr>
						<!-- LINHA EXPANSÍVEL -->
						<tr ng-repeat-end ng-repeat="dia in adquirente.dias">
							<td></td>
							<td></td>
							<td colspan="1"><span class="glyphicon glyphicon-chevron-right"></span></td>
							<td ng-bind="getDataString(dia.data)"></td>
							<!-- VALOR BRUTO -->
							<td>{{dia.valorBruto | currency:'R$'}}</td>
							<!-- VALOR DESCONTADO -->
							<td>{{dia.valorDescontado | currency:'R$'}}</td>
							<!-- ANTECIPAÇÕES -->
							<td>{{dia.valorAntecipacaoBancaria | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{dia.valorLiquido | currency:'R$'}}</td>
						</tr>
						<tr ng-repeat-end></tr>
					</tbody>
					<tfoot>
						<tr>
							<!-- TOTAL NF-e -->
							<td colspan="4">Total Exibido</td> 
							<td>{{total.valorBruto | currency:'R$'}}</td> 
							<td>{{total.valorDescontado | currency:'R$'}}</td> 
							<td>{{total.valorAntecipacaoBancaria | currency:'R$'}}</td>
							<td>{{total.valorLiquido | currency:'R$'}}</td>
						</tr>
					</tfoot>
				</table>
				<!-- FIM TABELA PADRÃO RELATÓRIO RECEBÍVEIS FUTUROS -->
			</page>
			<page size="{{page}}" ng-if="nomeRelatorio == 'Relatório de Recebíveis Vendas'">
				<!-- TABELA PADRÃO RELATÓRIO RECEBÍVEIS VENDAS -->
				<table print-avoid-break  style="">
					<thead>
						<tr>
							<th colspan="{{nColunas + 3}}">
								<a ng-click="imprime()"><span style="font-size: 22px" class="glyphicon glyphicon-print large"></span></a>
							</th>
						</tr>
						<tr>
							<th colspan="{{nColunas}}" rowspan="3">
								<img ng-src="http://www.atoscapital.com.br/portal/img/AtosCapital.jpg" title="Atos Capital" class="logo-default"
										 width="320px" height="100px" align="center">
							</th>
							<th colspan="5">{{nomeEmpresa | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="5">{{nomeFilial | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="5">{{data | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="{{nColunas + 3}}"></th>
						</tr>
						<tr>
							<th colspan="{{nColunas + 3}}">{{nomeRelatorio | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="3" ng-if="nNiveis != 1"></th>
							<th rowspan="1" colspan="1" ng-repeat="coluna in colunas">{{coluna}}</th>
							<th rowspan="1" colspan="2" ng-repeat="coluna in colunas2">{{coluna}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="competencia in relatorio">
							<td colspan="3"><span class="glyphicon glyphicon-chevron-right"></span></td>
							<!-- COMPETÊNCIA -->
							<td>{{competencia.diaVenda}}</td>
							<!-- VALOR BRUTO -->
							<td>{{competencia.valorBruto | currency:'R$'}}</td>
							<!-- VALOR DESCONTADO -->
							<td>{{competencia.valorDescontado | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{competencia.valorLiquido | currency:'R$'}}</td>
							<!-- VALOR RECEBIDO -->
							<td>{{competencia.valorRecebido | currency:'R$'}}</td>
							<!-- % RECEBIDO -->
							<td>{{(competencia.valorRecebido*100)/competencia.valorLiquido | number:2}}%</td>
							<!-- VALOR A RECEBER -->
							<td>{{competencia.valorAReceber | currency:'R$'}}</td>
							<!-- % A RECEBER -->
							<td>{{(competencia.valorAReceber*100)/competencia.valorLiquido | number:2}}%</td>
						</tr>
						<!-- LINHA EXPANSÍVEL -->
						<tr ng-repeat-start="adquirente in competencia.adquirentes"> 
							<td></td>
							<td colspan="2"><span class="glyphicon glyphicon-chevron-right"></span></td>
							<!-- ADQUIRENTE -->
							<td>{{adquirente.adquirente | uppercase}}</td>
							<!-- VALOR BRUTO -->
							<td>{{adquirente.valorBruto | currency:'R$'}}</td>
							<!-- VALOR DESCONTADO -->
							<td>{{adquirente.valorDescontado | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{adquirente.valorLiquido | currency:'R$'}}</td>
							<!-- VALOR RECEBIDO -->
							<td>{{adquirente.valorRecebido | currency:'R$'}}</td>
							<!-- % RECEBIDO -->
							<td>{{(adquirente.valorRecebido*100)/adquirente.valorLiquido | number:2}}%</td>
							<!-- VALOR A RECEBER -->
							<td>{{adquirente.valorAReceber | currency:'R$'}}</td>
							<!-- % A RECEBER -->
							<td>{{(adquirente.valorAReceber*100)/adquirente.valorLiquido | number:2}}%</td>
						</tr>
						<!-- LINHA EXPANSÍVEL -->
						<tr ng-repeat-end ng-repeat="bandeira in adquirente.bandeiras">
							<td></td>	
							<td></td>
							<td colspan="1"><span class="glyphicon glyphicon-chevron-right"></span></td>
							<td>{{bandeira.bandeira | uppercase}}</td>
							<!-- VALOR BRUTO -->
							<td>{{bandeira.valorBruto | currency:'R$'}}</td>
							<!-- VALOR DESCONTADO -->
							<td>{{bandeira.valorDescontado | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{bandeira.valorLiquido | currency:'R$'}}</td>
							<!-- VALOR RECEBIDO -->
							<td>{{bandeira.valorRecebido | currency:'R$'}}</td>
							<!-- % RECEBIDO -->
							<td>{{(bandeira.valorRecebido*100)/bandeira.valorLiquido | number:2}}%</td>
							<!-- VALOR A RECEBER -->
							<td>{{bandeira.valorAReceber | currency:'R$'}}</td>
							<!-- % A RECEBER -->
							<td>{{(bandeira.valorAReceber*100)/bandeira.valorLiquido | number:2}}%</td>
						</tr>
						<tr ng-repeat-end></tr>
					</tbody>
					<tfoot>
						<tr>
							<!-- TOTAL NF-e -->
							<td colspan="4" align="right">Total Exibido</td> 
							<td>{{total.valorBruto | currency:'R$'}}</td> 
							<td>{{total.valorDescontado | currency:'R$'}}</td> 
							<td>{{total.valorLiquido | currency:'R$'}}</td> 
							<td>{{total.valorRecebido | currency:'R$'}}</td>
							<td>{{(total.valorRecebido*100)/total.valorLiquido | number:2}}%</td>
							<td>{{total.valorAReceber | currency:'R$'}}</td>
							<td>{{(total.valorAReceber*100)/total.valorLiquido | number:2}}%</td>
						</tr>
					</tfoot>
				</table>
				<!-- FIM TABELA PADRÃO RELATÓRIO RECEBÍVEIS VENDAS -->
			</page>
			<!-- TABELA PADRÃO RELATÓRIO CONCILIAÇÃO -->
			<page ng-if="nomeRelatorio == 'Relatório de Conciliação'">
				<table print-avoid-break style="{{style}}">
					<thead style="{{styleThead}}">
						<tr>
							<th colspan="{{nColunas + 3}}">
								<a ng-click="imprime()"><span style="font-size: 22px" class="glyphicon glyphicon-print large"></span></a>
							</th>
						</tr>
						<tr>
							<th colspan="{{nColunas}}" rowspan="3">
								<img ng-src="http://www.atoscapital.com.br/portal/img/AtosCapital.jpg" title="Atos Capital" class="logo-default"
										 width="320px" height="100px" align="center">
							</th>
							<th colspan="3">{{nomeEmpresa | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="3">{{nomeFilial | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="3">{{data | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="{{nColunas + 3}}"></th>
						</tr>
						<tr>
							<th colspan="{{nColunas + 3}}">{{nomeRelatorio | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="3" ng-if="nNiveis != 1"></th>
							<th rowspan="1" colspan="1" ng-repeat="coluna in colunas">{{coluna}}</th>
						</tr>
					</thead>
					<tbody style="{{styleTbody}}">
						<tr ng-repeat-start="competencia in relatorio">
							<td colspan="3" style="padding: 5px;"><span class="glyphicon glyphicon-chevron-right"></span></td>
							<!-- COMPETÊNCIA -->
							<td>{{competencia.competencia}}</td>
							<!-- TAXA MÉDIA -->
							<td>{{competencia.taxaMedia | number:2}}%</td>
							<!-- VENDAS -->
							<td>{{competencia.vendas | currency:'R$'}}</td>
							<!-- TAXA ADM -->
							<td>{{competencia.valorDescontadoTaxaADM | currency:'R$'}}</td>
							<!-- AJUSTES CRÉDITO -->
							<td>{{competencia.ajustesCredito | currency:'R$'}}</td>
							<!-- AJUSTES DÉBITO -->
							<td>{{competencia.ajustesDebito | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{competencia.valorLiquido | currency:'R$'}}</td>
							<!-- VALOR DESCONTADO ANTECIPAÇÃO -->
							<td>{{competencia.valorDescontadoAntecipacao | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO TOTAL -->
							<td>{{competencia.valorLiquidoTotal | currency:'R$'}}</td>
							<!-- EXTRATOS BANCÁRIOS -->
							<td>{{competencia.extratoBancario | currency:'R$'}}</td>
							<!-- DIFERENÇA -->
							<td>{{competencia.diferenca | currency:'R$'}}</td>
							<!-- STATUS -->
							<td>{{competencia.status || ''}}</td>
						</tr>
						<!-- LINHA EXPANSÍVEL -->
						<tr ng-repeat-start="adquirente in competencia.adquirentes">
							<td style="padding: 5px;"></td>
							<td style="padding: 5px;" colspan="2"><span class="glyphicon glyphicon-chevron-right"></span></td>
							<!-- ADQUIRENTE -->
							<td>{{adquirente.adquirente | uppercase}}</td>
							<!-- TAXA MÉDIA -->
							<td>{{adquirente.taxaMedia | number:2}}%</td>
							<!-- VENDAS -->
							<td>{{adquirente.vendas | currency:'R$'}}</td>
							<!-- TAXA ADM -->
							<td>{{adquirente.valorDescontadoTaxaADM | currency:'R$'}}</td>
							<!-- AJUSTES CRÉDITO -->
							<td>{{adquirente.ajustesCredito | currency:'R$'}}</td>
							<!-- AJUSTES DÉBITO -->
							<td>{{adquirente.ajustesDebito | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{adquirente.valorLiquido | currency:'R$'}}</td>
							<!-- VALOR DESCONTADO ANTECIPAÇÃO -->
							<td>{{adquirente.valorDescontadoAntecipacao | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO TOTAL -->
							<td>{{adquirente.valorLiquidoTotal | currency:'R$'}}</td>
							<!-- EXTRATOS BANCÁRIOS -->
							<td>{{adquirente.extratoBancario | currency:'R$'}}</td>
							<!-- DIFERENÇA -->
							<td>{{adquirente.diferenca | currency:'R$'}}</td>
							<!-- STATUS -->
							<td>{{adquirente.status || ''}}</td>
						</tr>
						<!-- LINHA EXPANSÍVEL -->
						<tr ng-repeat-end ng-repeat="bandeira in adquirente.bandeiras">
							<td style="padding: 5px;"></td>
							<td style="padding: 5px;"></td>
							<td style="padding: 5px;" colspan="1"><span class="glyphicon glyphicon-chevron-right"></span></td>
							<td>{{bandeira.bandeira | uppercase}}</td>
							<!-- TAXA MÉDIA -->
							<td>{{bandeira.taxaMedia | number:2}}%</td>
							<!-- VENDAS -->
							<td>{{bandeira.vendas | currency:'R$'}}</td>
							<!-- TAXA ADM -->
							<td>{{bandeira.valorDescontadoTaxaADM | currency:'R$'}}</td>
							<!-- AJUSTES CRÉDITO -->
							<td>{{bandeira.ajustesCredito | currency:'R$'}}</td>
							<!-- AJUSTES DÉBITO -->
							<td>{{bandeira.ajustesDebito | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{bandeira.valorLiquido | currency:'R$'}}</td>
							<!-- VALOR DESCONTADO ANTECIPAÇÃO -->
							<td>{{bandeira.valorDescontadoAntecipacao | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO TOTAL -->
							<td>{{bandeira.valorLiquidoTotal | currency:'R$'}}</td>
							<!-- EXTRATOS BANCÁRIOS -->
							<td>{{bandeira.extratoBancario | currency:'R$'}}</td>
							<!-- DIFERENÇA -->
							<td>{{bandeira.diferenca | currency:'R$'}}</td>
							<!-- STATUS -->
							<td>{{bandeira.status || ''}}</td>
						</tr>
						<tr ng-repeat-end></tr>
					</tbody>
				</table>
			</page>
			<!-- CONCILIAÇÃO BANCÁRIA -->
			<page size="" ng-if="nomeRelatorio == 'Conciliação Bancária'">
				<!-- TABELA PADRÃO RELATÓRIO RECEBÍVEIS FUTUROS -->
				<table print-avoid-break style="margin-top: 0.5cm; margin-right: auto; margin-left: auto;">
					<thead>
						<tr>
							<th colspan="{{nColunas}}">
								<a ng-click="imprime()"><span style="font-size: 22px" class="glyphicon glyphicon-print large"></span></a>
							</th>
						</tr>
						<tr>
							<th colspan="{{nColunas - 2}}" rowspan="3">
								<img ng-src="http://www.atoscapital.com.br/portal/img/AtosCapital.jpg" title="Atos Capital" class="logo-default"
										 width="320px" height="100px" align="center">
							</th>
							<th colspan="3">{{nomeEmpresa | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="3">{{nomeFilial | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="3">{{data | uppercase}}</th>
						</tr>
						<tr>
							<th colspan="{{nColunas}}"></th>
						</tr>
						<tr>
							<th colspan="{{nColunas}}">{{nomeRelatorio | uppercase}}</th>
						</tr>
						<tr>
							<th rowspan="1" colspan="1" ng-repeat="coluna in colunas">{{coluna}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in relatorio">
							<!-- DATA -->
							<td ng-bind="formataDataConcilicaoBancaria(item.Data)"></td>
							<!-- ADQUIRENTE -->
							<td>{{item.Adquirente | uppercase}}</td>
							<!-- BANDEIRA -->
							<td>{{item.Bandeira | uppercase}}</td>
							<!-- LOTE -->
							<td ng-bind="verificaLote(item.Lote)"></td>
							<!-- VALOR BRUTO -->
							<td>{{item.ValorTotalBruto | currency:'R$'}}</td>
							<!-- VALOR LÍQUIDO -->
							<td>{{item.ValorTotalRecebimento | currency:'R$'}}</td>
							<!-- STATUS -->
							<td ng-bind="verificaStatus(item.Conciliado)"></td>
						</tr>
					</tbody>
				</table>
				<!-- 3 = Não conciliado
						 2 = Pré-conciliado
						 1 = Conciliado -->
				<!-- FIM TABELA PADRÃO RELATÓRIO RECEBÍVEIS FUTUROS -->
			</page>
		</div>
		<!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
		<!-- JQUERY -->
		<script src="../../../lib/jquery.min.js" type="text/javascript"></script>
		<script src="../../../lib/jquery-migrate.min.js" type="text/javascript"></script>
		<script src="../../../lib/jquery-ui.min.js" type="text/javascript"></script>
		<!-- END JQUERY --> 
		<!-- BEGIN CORE PLUGINS -->
		<script src="../../../lib/bootstrap/bootstrap.min.js" type="text/javascript"></script>
		<script src="../../../lib/bootstrap/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
		<script src="../../../lib/jquery.slimscroll.min.js" type="text/javascript"></script>
		<script src="../../../lib/jquery.blockui.min.js" type="text/javascript"></script>
		<script src="../../../lib/uniform/jquery.uniform.min.js" type="text/javascript"></script>
		<!-- END CORE PLUGINS --> 
		<!-- ANGULAR -->
		<script src="../../../lib/angularjs/angular.min.js" type="text/javascript"></script>
		<script src="../../../lib/angularjs/angular-locale_pt-br.js" type="text/javascript"></script>
		<script src="../../../lib/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>  
		<!-- END - ANGULAR --> 
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="../../../lib/metronic/metronic.js?v=1.0" type="text/javascript"></script>
		<!-- END PAGE LEVEL SCRIPTS -->
		<!-- ANGULAR SCRIPTS -->
		<script src="../../../js/utils.js?v=1.0" type="text/javascript"></script>     
		<script src="../../js/webapi.js?v=1.0" type="text/javascript"></script>
		<script src="js/card-services.impressao.relatorios.js?v=1.0" type="text/javascript"></script>
		<!-- END ANGULAR SCRIPTS -->
		<!-- END JAVASCRIPTS -->    		
	</body>
	<!-- END BODY -->	
</html>