<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="conta-alterar-senhaCtrl" ng-init="contaAlterarSenhaInit()">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Minha Conta<i class="fa fa-caret-right"></i>
             Alterar Senha
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="portlet light" style="min-height: 350px">                   
        Alterar senha
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
