<!-- 

    Atos Capital - www.atoscapital.com.br
   
    suporte@atoscapital.com.br
 
 
    Administrativo > Gestão de Acessos > Consulta Parâmetros


    Versão 1.0.1 - 02/12/2015
    - Filtro por status dos dados de acesso
  
    Versão 1.0 - 17/11/2015
-->

<div class="container" ng-controller="administrativo-consulta-parametrosCtrl" 
     ng-init="administrativo_consultaParametrosInit()">    
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Gestão de Acessos<i class="fa fa-caret-right"></i>
             Consulta Parâmetros
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
 		<div class="row">
        <div class="col-md-12">
            <!-- BEGIN TABLE PORTLET-->
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">Filtros</span>
                    </div>
                </div>
                <div class="portlet-body" ng-show="exibeTela">
                    <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="dataTables_paginate paging_bootstrap_extended" id="datatable_ajax_paginate">
                                </div>
                                <div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="table-group-actions pull-right">
                                    <span> </span>
                                </div>
                            </div>
                        </div>
                        <!--div class="table-scrollable"-->
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer conteudoTabelas" id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="8%" tabindex="0" rowspan="1" colspan="1">
                                            Filiais
                                        </th>
																			<th width="8%" tabindex="0" rowspan="1" colspan="1">
                                            Adquirentes
                                        </th>
																			<th width="8%" tabindex="0" rowspan="1" colspan="1">
                                            Status da senha
                                        </th>
                                        <th width="4%" tabindex="1" rowspan="1" colspan="1">
                                            Opções
                                        </th>
                                    </tr>
                                    <tr role="row" class="filter">
                                        <!-- FILIAIS -->
                                        <td rowspan="1" colspan="1" style="text-align: center">
                                            <select class="form-control form-filter input-sm filtros" 
																										ng-model="busca"
																										ng-change="alterouFilial()"
																										ng-disabled="filiais.length == 0">
                                                <!--option value="">Todas</option-->
																							<option value="">TODOS</option>
																							<option ng-repeat="filial in filiais | unique:'empresa.ds_fantasia'">{{filial.empresa.ds_fantasia | uppercase}}</option>
                                            </select>
                                            <i class="fa fa-question-circle"
                                               ng-show="!usuariologado.grupoempresa"
                                               popover-placement="bottom"
                                               popover="É necessário selecionar uma empresa"
                                               popover-trigger="mouseenter"></i>
                                        </td>
																			<!-- ADQUIRENTES -->
																			<td rowspan="1" colspan="1" style="text-align: center">
                                            <select class="form-control form-filter input-sm filtros" 
																										ng-model="buscaAdquirente"
																										ng-disabled="filiais.length == 0">
                                                <!--option value="">Todas</option-->
																							<option value ="">TODOS</option>
																							<option ng-repeat="adquirente in adquirentes | unique:'tbAdquirente.nmAdquirente'">{{adquirente.tbAdquirente.nmAdquirente | uppercase}}</option>
                                            </select>
                                            <i class="fa fa-question-circle"
                                               ng-show="!usuariologado.grupoempresa"
                                               popover-placement="bottom"
                                               popover="É necessário selecionar uma empresa"
                                               popover-trigger="mouseenter"></i>
                                        </td>
																			<!-- STATUS -->
																			<td rowspan="1" colspan="1" style="text-align: center">
                                            <select class="form-control form-filter input-sm filtros"
																										ng-model="buscaStatus"
																										ng-disabled="filiais.length == 0">
																							<!--option value="">Todas</option-->
																							<option value="">TODOS</option>
																							<option value="1">VÁLIDO</option>
																							<option value="0">INVÁLIDO</option>
																				</select>
																				<i class="fa fa-question-circle"
																					 ng-show="!usuariologado.grupoempresa"
																					 popover-placement="bottom"
																					 popover="É necessário selecionar uma empresa"
																					 popover-trigger="mouseenter"></i>
																			</td>
																			<!--BUSCAR E LIMPAR-->
																			<td rowspan="1" colspan="1">
																				<div class="margin-bottom-5">
																						<button class="btn btn-sm red filter-submit margin-bottom"
																										ng-click="filtraParametros()"
																										ng-disabled="filiais.length == 0">
																								<i class="fa fa-search"></i> Buscar
																						</button>
																				</div>
																				<button class="btn btn-sm grey filter-cancel"
																								ng-click="resetaBusca()"
																								ng-disabled="filiais.length == 0">
																						<i class="fa fa-times"></i>
																						Limpar
																				</button>
                                      </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="dataTables_paginate paging_bootstrap_extended">
                                </div>
                                <div class="dataTables_info">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TABLE PORTLET-->
        </div>
    </div>
    <!-- BEGIN TABLE PORTLET-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">                        
                <span class="caption-subject font-green-sharp bold uppercase">Consulta Parâmetros</span>
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" 
                   href="javascript:;" ng-click="fullScreenClick()"
                   title="{{telaEstaEmFullScreen() ? 'Tela Normal' : 'Tela Cheia'}}"></a>
                <div class="btn-group element-hidden"> <!-- NÃO EXIBE PQ AINDA NÃO TEM WEBAPI -->
                    <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i> Opções <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                            Export to Excel </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                            Export to CSV </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                            Export to XML </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="javascript:;">
                            Print Invoices </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="portlet-body" ng-show="exibeTela">
            <!-- EXIBIÇÃO E PESQUISA -->
            <div class="row" style="border-bottom:0px solid #EAEAEA">
                <!-- EXIBIÇÃO --> 
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="dataTables_length">
                        <label>
                            <span class="seperator"></span>Exibindo 
                            <select name="datatable_products_length" aria-controls="datatable_products" 
                                    class="form-control input-xsmall input-sm input-inline"
                                    ng-model="parametro.itens_pagina"
                                    ng-change="alterouItensPagina()"
                                    ng-options="item for item in itens_pagina">                                            
                            </select> registros de {{parametro.total_registros}}
                        </label>
                    </div>
                </div>
                <!--PAGINAÇÃO-TOPO-->
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <div class="pagination-panel centralizarPaginacao"> Página 
                        <a href="javascript:;" ng-click="retrocedePagina()"
                           class="btn btn-sm default prev" 
                           ng-class="{disabled: parametro.pagina <= 1}" 
                           title="Página anterior">
                                <i class="fa fa-angle-left"></i>
                        </a>
                        <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                               maxlength="4" style="text-align:center; margin: 0 5px;"
                               ng-model="paginaInformada" valid-integer-number
                               ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                               ng-blur="atualizaPaginaDigitada()">
                        <a href="javascript:;" ng-click="avancaPagina()"
                           class="btn btn-sm default next"
                           ng-class="{disabled: parametro.pagina >= parametro.total_paginas}"
                           title="Próxima página">
                            <i class="fa fa-angle-right"></i>
                        </a>
                         de <span class="pagination-panel-total">{{parametro.total_paginas}}</span>
                    </div>
                </div>    
                <!-- PESQUISA -->
                <!-- <div class=" col-sm-4  col-xs-4 col-md-5">
                    <div class="dataTables_filter">                            
                        <div class="col-md-7 col-sm-12 col-md-offset-5" style="padding-right: 1px; padding-left: 1px;">
                            <label>
                                <div class="input-group input-icon right" ng-hide="usuariologado.empresa">
                                    <i class="fa fa-times" style="right:50px;cursor:pointer"
                                       ng-click="resetaBusca()"
                                       ng-show="parametro.busca"></i>
                                    <input type="text" 
                                       class="form-control input-inline" 
                                       placeholder="Buscar" 
                                       ng-model="busca"
                                       ng-keyup="($event.keyCode == 13 || ($event.keyCode == 8 && !busca)) && filtraParametros()">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search" style="cursor:pointer"
                                           ng-click="filtraParametros()"></i>
                                    </span>
                                </div> 
                            </label>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- TABELA -->
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover table-bordered dataTable no-footer conteudoTabelas"
                           role="grid">
                        <thead>
                            <tr role="row">
															<th tabindex="0" rowspan="1" colspan="1" style="width: 7%;">CNPJ</th>
															<th tabindex="1" rowspan="1" colspan="1" style="width: 18%;">Fantasia</th>
															<th tabindex="2" rowspan="1" colspan="1" style="width: 7%;">Adquirentes</th>
															<th tabindex="2" rowspan="1" colspan="1" style="width: 7%;">Status da senha</th>
															<!--<th tabindex="2" rowspan="1" colspan="1" style="width: 10%;">Data Início</th>                      
															<th tabindex="2" rowspan="1" colspan="1" style="width: 10%;">Data Fim</th>-->                      
															<th tabindex="3" rowspan="1" colspan="1" style="width: 5%;">Estabelecimento</th>
															<th tabindex="4" rowspan="1" colspan="1" style="width: 3%;">Estabelecimento Consulta</th>
															<th tabindex="5" rowspan="1" colspan="1" style="width: 20%;">Conta Corrente</th>
                           </tr>
                        </thead>
                        <tbody class="centralizarVertical">
													<div>
                            <tr role="row" class="odd" ng-repeat="parametro in parametros">
															<td style="text-align:center">{{parametro.empresa.nu_cnpj}}</td>
															<td style="text-align:center">{{parametro.empresa.ds_fantasia | uppercase}}</td>
															<td style="text-align:center">{{parametro.tbAdquirente.nmAdquirente | uppercase}}</td>
															<td style="text-align:center">
																<span ng-if="parametro.status == 0" class='glyphicon glyphicon-remove' style="color: #F3565D">
																	<!-- <span class="glyphicon glyphicon-remove" ></span> -->
																</span>
															</td>
															<td style="text-align:center">{{parametro.cdEstabelecimento}}</td>
															<td style="text-align:center">{{parametro.cdEstabelecimentoConsulta}}</td>
															<td style="text-align:center">{{parametro.tbContaCorrente.banco.NomeExtenso | uppercase}} / {{parametro.tbContaCorrente.nrAgencia}} / {{parametro.tbContaCorrente.nrConta}}</td>
                            </tr>
													</div>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- RODAPÉ : Exibição dos resultados e paginação -->
            <div class="row">
                <div class=" col-sm-4  col-xs-4 col-md-4">
                    <div class="dataTables_info" role="status" aria-live="polite">
                        <strong>Exibindo os registros {{parametro.faixa_registros}}</strong>
                    </div>
                </div>
                <!--PAGINAÇÃO-RODAPÉ-->
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <div class="pagination-panel centralizarPaginacao"> Página 
                        <a href="javascript:;" ng-click="retrocedePagina()"
                           class="btn btn-sm default prev" 
                           ng-class="{disabled: parametro.pagina <= 1}" 
                           title="Página anterior">
                                <i class="fa fa-angle-left"></i>
                        </a>
                        <input type="text" class="pagination-panel-input form-control input-mini input-inline input-sm" 
                               maxlength="4" style="text-align:center; margin: 0 5px;"
                               ng-model="paginaInformada" valid-integer-number
                               ng-keypress="($event.which === 13) ? alteraPagina() : 0"
                               ng-blur="atualizaPaginaDigitada()">
                        <a href="javascript:;" ng-click="avancaPagina()"
                           class="btn btn-sm default next"
                           ng-class="{disabled: parametro.pagina >= parametro.total_paginas}"
                           title="Próxima página">
                            <i class="fa fa-angle-right"></i>
                        </a>
                         de <span class="pagination-panel-total">{{parametro.total_paginas}}</span>
                    </div>
                </div>    
                <!-- FIM PAGINAÇÃO -->
            </div>
            <!-- FIM RODAPÉ -->
        </div>                
    </div>
    <!-- END TABLE PORTLET-->
    
</div>