<!-- 
/*
 *  Atos Capital - www.atoscapital.com.br
 *  
 *  suporte@atoscapital.com.br
 *
 */
-->

<div class="container" ng-controller="administrativo-usuarios-cadastroCtrl" 
     ng-init="administrativoUsuariosCadastroInit()"
     ng-show="temPermissao" ng-cloak>
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="javascript:;" ng-click="goHome()">Início</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
             Administrativo<i class="fa fa-caret-right"></i>
             Gestão de Acessos<i class="fa fa-caret-right"></i>
             <a href="javascript:;" ng-click="goAdministrativoUsuarios()">Usuários</a><i class="fa fa-circle"></i>
             {{tela.tipo}}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light" id="form_wizard_1">
                
                <!-- MODAL GRUPO EMPRESA VENDEDOR -->
                <div class="modal fade ng-scope" id="modalFuncionalidades" tabindex="-1" 
                     aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" style="min-width: 700px">
                        <div class="modal-content">
                            <div class="modal-header">                    
                                <h4 class="modal-title modal-cabecalho">Titulo</h4>
                            </div>
                            <div class="modal-body height-auto" style="min-width: 500px">                                
                                <!-- CONTEÚDO -->
                                 <div class="skin skin-square scroller caption-subject font-green-sharp bold" 
                                     style="min-height: 300px" 
                                     data-always-visible="1" data-rail-visible1="1">
                                    
                                    <!--BUSCAR EMPRESA-->
                                    <div class="col-sm-6" style="padding-right: 1px; padding-left: 1px; text-align: center;">
                                        <label style="text-align:center"><strong>Buscar Empresa</strong></label>
                                        <label>
                                            <div class="input-group input-icon right">
                                                <i class="fa fa-times" style="right:50px;cursor:pointer"
                                                   ng-click="resetaBusca()"
                                                   ng-show="privilegio.busca"></i>
                                                <input type="text" 
                                                   class="form-control input-inline" 
                                                   placeholder="Buscar" 
                                                   ng-model="privilegio.busca"
                                                   ng-keyup="($event.keyCode == 13 || ($event.keyCode == 8 && !privilegio.busca)) && buscaPrivilegios()">
												<span class="input-group-addon">
                                                    <i class="fa fa-search" style="cursor:pointer"
                                                           ng-click="buscaPrivilegios()"></i>
												</span>
											</div> 
                                        </label>
                                        <label>
                                            <button class="btn red">Associar
                                            <i class="fa fa-mail-forward"></i>
                                            </button>
                                        </label>
                                    </div>
                                    <!--EMPRESAS ASSOCIADAS-->                                    
                                    <div class="col-md-6" style="text-align:center">
                                        <label style="text-align:center"><strong>Empresas Associadas</strong>
                                        </label>
                                        <select class="form-control" 
                                                size="12" 
                                                ng-model="" 
                                                ng-options=""
                                                style="width:100%">            
                                        </select>
                                        <label style="margin-top:10px">
                                            <button class="btn grey">desassociar
                                            <i class="fa fa-times"></i>
                                            </button>
                                        </label>
                                    </div>
                                </div> 
                                <!--FIM CONTEÚDO-->
                                
                                <!-- BOTÕES -->
                                <div class="modal-footer">
                                    <div class="col-md-3">
                                        <button type="button" 
                                                class="btn btn-success"
                                                ng-click="salvaPermissoes()">
                                            Salvar
                                        </button>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn green"
                                                popover-placement="top"
                                                popover="Retoma as permissões previamente salvas, sem alterações"
                                                popover-trigger="mouseenter"
                                                ng-click="resetaPermissoes()">
                                            Resetar
                                        </button>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" data-dismiss="modal" class="btn default">Fechar</button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
                <!-- END MODAL GRUPO EMPRESA VENDEDOR-->
                
                
                
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">
                        {{tela.tipo}} de Usuário - <span class="step-title">Etapa {{tabCadastro}} de 4 </span>
                        </span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal" name="formCadastroUsuario" novalidate> <!--action="javascript:;" -->
                        <div class="form-wizard">
                            <div class="form-body">
                                <ul class="nav nav-pills nav-justified steps">
                                    <li ng-class="{ active:tabCadastroSelecionada(1) }">
                                        <a href="javascript:;" ng-click="setTabCadastro(1)" data-toggle="tab" class="step">
                                        <span class="number">
                                        1 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> Dados pessoais </span>
                                        </a>
                                    </li>
                                    <li ng-class="{ active:tabCadastroSelecionada(2) }">
                                        <a href="javascript:;" ng-click="setTabCadastro(2)" data-toggle="tab" class="step">
                                        <span class="number">
                                        2 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> Dados da conta </span>
                                        </a>
                                    </li>
                                    <li ng-class="{ active:tabCadastroSelecionada(3) }">
                                        <a href="javascript:;" ng-click="setTabCadastro(3)" data-toggle="tab" class="step active">
                                        <span class="number">
                                        3 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> Privilégios </span>
                                        </a>
                                    </li>
                                    <li ng-class="{ active:tabCadastroSelecionada(4) }">
                                        <a href="javascript:;" ng-click="setTabCadastro(4)" data-toggle="tab" class="step">
                                        <span class="number">
                                        4 </span>
                                        <span class="desc">
                                        <i class="fa fa-check"></i> Confirmação </span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- PROGRESS -->
                                <div id="bar" class="progress progress-striped" role="progressbar">
                                    <div class="progress-bar progress-bar-success">
                                    </div>
                                </div>
                                <!-- CONTEUDO -->
                                <div class="tab-content">
                                    <!-- DADOS PESSOAIS -->
                                    <div class="tab-pane" ng-class="{ active:tabCadastroSelecionada(1) }">
                                        <h3 class="block">Forneça seus dados pessoais</h3>
                                        <!-- NOME -->
                                        <div class="form-group" ng-class="{ 'has-error' : formCadastroUsuario.pessoaNome.$invalid && !formCadastroUsuario.pessoaNome.$pristine }">
                                            <label class="control-label col-md-3">Nome <span class="required">
                                            * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" 
                                                       placeholder="Nome Sobrenome" 
                                                       class="form-control" 
                                                       ng-model="pessoa.nome" 
                                                       ng-blur="atualizaProgressoDoCadastro()" 
                                                       name="pessoaNome" required/>
                                                <span style="color:red" ng-show="formCadastroUsuario.pessoaNome.$dirty && formCadastroUsuario.pessoaNome.$invalid">
                                                    <span ng-show="formCadastroUsuario.pessoaNome.$error.required">Nome é obrigatório!</span>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- DATA DE NASCIMENTO -->
                                        <div class="form-group" ng-class="{ 'has-error' : formCadastroUsuario.pessoaDataNasc.$invalid && !formCadastroUsuario.pessoaDataNasc.$pristine }">
                                            <label class="control-label col-md-3">Data de Nascimento</label>
                                            <div class="col-md-4">
                                               <input type="text" placeholder="DD/MM/YYYY" maxlength="10" class="form-control" 
                                                      ng-model="pessoa.data_nasc" ng-change="validaData()" name="pessoaDataNasc" 
                                                      ng-pattern='/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/\d{4}$/'
                                                      input-data
                                                      ng-blur="atualizaProgressoDoCadastro()"
                                                      onDrag="return false" 
                                                      onDrop="return false" 
                                                      onPaste="return false" 
                                                      autocomplete=off/>
                                                <!--div class="input-group margin-bottom-5">
                                                    <input type="text" readonly style="cursor: pointer"
                                                           ng-click="exibeCalendarioDataNasc($event)"
                                                           class="form-control form-filter input-sm" 
                                                           placeholder="Data de Nascimento" 
                                                           ng-model="pessoa.data_nasc"
                                                           ng-change="alterouDataNasc()"
                                                           datepicker-popup="dd MMMM yyyy"
                                                           is-open="abrirCalendarioDataNasc" 
                                                           show-button-bar="false"
                                                           show-weeks="false" >
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-sm default" 
                                                                type="button" 
                                                                ng-click="exibeCalendarioDataNasc($event)">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div-->
                                                
                                                <span style="color:red" ng-show='formCadastroUsuario.pessoaDataNasc.$dirty && (formCadastroUsuario.pessoaDataNasc.$error.pattern || !dataValida())'>Data de Nascimento informada é inválida!</span>
                                            </div>
                                        </div>
                                        <!-- TELEFONE -->
                                        <div class="form-group" ng-class="{ 'has-error' : formCadastroUsuario.pessoaTelefone.$invalid && !formCadastroUsuario.pessoaTelefone.$pristine }">
                                            <label class="control-label col-md-3">Telefone </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="pessoa.telefone" 
                                                       maxlength="15" ng-minlength="10" ng-pattern="/\(\d{2}\)\d{8}\d?/"
                                                       name="pessoaTelefone" placeholder="(79)12345678" valid-telefone
                                                       ng-blur="atualizaProgressoDoCadastro()" />
                                                <span style="color:red" ng-show="formCadastroUsuario.pessoaTelefone.$dirty && formCadastroUsuario.pessoaTelefone.$invalid">
                                                    <span ng-show="formCadastroUsuario.pessoaTelefone.$error.minlength">Telefone deve conter no mínimo 10 dígitos!</span>
                                                    <span ng-show="formCadastroUsuario.pessoaTelefone.$error.pattern">Telefone informado é inválido!</span>    
                                                </span>
                                            </div>
                                        </div>
                                        <!-- RAMAL -->
                                        <div class="form-group" ng-class="{ 'has-error' : formCadastroUsuario.pessoaRamal.$invalid && !formCadastroUsuario.pessoaRamal.$pristine }">
                                            <label class="control-label col-md-3">Ramal </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="pessoa.ramal"
                                                       maxlength="4" ng-minlength="2" valid-integer-number
                                                       name="pessoaRamal" placeholder="1234"
                                                       ng-blur="atualizaProgressoDoCadastro()"/>
                                                <span style="color:red" ng-show="formCadastroUsuario.pessoaRamal.$dirty && formCadastroUsuario.pessoaRamal.$invalid">
                                                    <span ng-show="formCadastroUsuario.pessoaRamal.$error.minlength">Ramal deve conter no mínimo 2 dígitos!</span>
                                                    <span ng-show="formCadastroUsuario.pessoaRamal.$error.pattern">Ramal deve ser composto apenas de números!</span>    
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- DADOS DA CONTA -->
                                    <div class="tab-pane" ng-class="{ active:tabCadastroSelecionada(2) }">
                                        <h3 class="block">Forneça os dados da conta</h3>
                                        <!-- LOGIN -->
                                        <div class="form-group" ng-class="{ 'has-error' : formCadastroUsuario.usuarioLogin.$invalid && !formCadastroUsuario.usuarioLogin.$pristine }">
                                            <label class="control-label col-md-3">Login <span class="required">
                                            * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <div class="input-icon right">
                                                    <i id="icon-login" class="fa" 
                                                       ng-class="{'fa-check': loginValido(), 'fa-warning': !loginValido()}" 
                                                       style="display:none" ng-hide="validandoLogin"></i>
                                                    <input type="text" 
                                                           placeholder="login" 
                                                           class="form-control" 
                                                           ng-model="usuario.login" 
                                                           ng-blur="validaLogin()" 
                                                           name="usuarioLogin" valid-username
                                                           ng-minlength="3" ng-maxlength="20" required/>
                                                    <span style="color:red" ng-show="formCadastroUsuario.usuarioLogin.$dirty && formCadastroUsuario.usuarioLogin.$invalid">
                                                    <span ng-show="formCadastroUsuario.usuarioLogin.$error.required">Login é obrigatório!</span>
                                                    <span ng-show="formCadastroUsuario.usuarioLogin.$error.minlength">Login deve conter no mínimo três caracteres!</span>
                                                    <span ng-show="formCadastroUsuario.usuarioLogin.$error.maxlength">Login deve conter no máximo vinte caracteres!</span>    
                                                    </span>
                                                </div>
                                            </div>
                                            <img ng-src="../img/loading-atos.gif" style="margin-top: 10px" ng-show="validandoLogin"/><label id="labelLoginEmUso" class="control-label" hidden><strong>Login já está em uso!</strong></label>
                                        </div>
                                        <!-- E-MAIL -->
                                        <div class="form-group" ng-class="{ 'has-error' : formCadastroUsuario.usuarioEmail.$invalid && !formCadastroUsuario.usuarioEmail.$pristine }">
                                            <label class="control-label col-md-3">E-mail <span class="required">
                                            * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <div class="input-icon right">
                                                    <i id="icon-email" class="fa" ng-class="{'fa-check': emailValido(), 'fa-warning': !emailValido()}" style="display:none" ng-hide="validandoEmail"></i>
                                                    <input type="email" 
                                                           placeholder="email@email.com" 
                                                           class="form-control" 
                                                           ng-model="usuario.email" 
                                                           ng-blur="validaEmail()"
                                                           style="text-transform: lowercase;"
                                                           name="usuarioEmail" required/>
                                                    <span style="color:red" ng-show="formCadastroUsuario.usuarioEmail.$dirty && formCadastroUsuario.usuarioEmail.$invalid">
                                                    <span ng-show="formCadastroUsuario.usuarioEmail.$error.required">E-mail é obrigatório!</span>
                                                    <span ng-show="formCadastroUsuario.usuarioEmail.$error.email">Endereço de e-mail é inválido!                                                       </span>
                                                </div>
                                            </div>
                                            <img ng-src="../img/loading-atos.gif" style="margin-top: 10px" ng-show="validandoEmail"/><label id="labelEmailEmUso" class="control-label" hidden><strong>E-mail já está em uso!</strong></label>
                                        </div>
                                        <!-- GRUPO EMPRESA -->
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Empresa </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" 
                                                       placeholder="Digite o nome da empresa" 
                                                       ng-disabled="grupoempresa"
                                                       ng-model="usuario.grupoempresa"
                                                       ng-blur="atualizaProgressoDoCadastro()"
                                                       ng-keydown="($event.which == 8) ? usuario.empresa = '' : 0"
                                                       onfocus="this.select();" 
                                                       onmouseup="return false;"
                                                       typeahead-on-select="selecionouGrupoEmpresa()"
                                                       typeahead-focus-first=false
                                                       typeahead-min-length='3'
                                                       typeahead-wait-ms="500"
                                                       typeahead="grupoempresa as grupoempresa.ds_nome for grupoempresa in buscaGrupoEmpresas($viewValue)" />
                                            </div>
                                            <img ng-src="../img/loading-atos.gif" style="margin-top: 10px" ng-show="pesquisandoGruposEmpresas"/>
                                        </div>
                                        <!-- EMPRESA -->
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Filial </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" 
                                                       ng-disabled="!usuario.grupoempresa.ds_nome || empresas.length == 0" 
                                                       placeholder="Digite o nome da filial" 
                                                       ng-model="usuario.empresa"
                                                       ng-blur="atualizaProgressoDoCadastro()"
                                                       onfocus="this.select();" onmouseup="return false;"
                                                       focus-me="empresas.length > 0"
                                                       popover="Caso deseje associar todas, não selecionar uma filial específica"
                                                       popover-trigger="focus"
                                                       popover-placement="right"
                                                       popover-append-to-body="true"
                                                       typeahead-focus ng-trim="false"
                                                       typeahead-focus-first=true
                                                       typeahead="empresa as empresa.ds_fantasia for empresa in empresas  | filter:$viewValue:emptyOrMatch" />
                                            </div>
                                            <img ng-src="../img/loading-atos.gif" style="margin-top: 10px" ng-show="pesquisandoEmpresas"/>
                                        </div>
                                    </div>
                                    <!-- PRIVILÉGIOS -->
                                    <div class="tab-pane" ng-class="{ active:tabCadastroSelecionada(3) }">
                                        <h3 class="block">Forneça o privilégio</h3>
                                        <div class="form-group" name="formRoles" >
                                            <label class="control-label col-md-3">Privilégios <span class="required">
                                            * </span>
                                            </label>
                                            <div class="col-md-3">
                                                <!--div class="checkbox-list" ng-repeat="role in roles">
                                                    <label class="checkbox">
                                                        <checkbox normal ng-change="handleRole()"
                                                               ng-model="role.selecionado">
                                                        </checkbox>&nbsp;{{role.RoleName}}
                                                    </label>
                                                </div-->
                                                <div class="radio-list" ng-repeat="role in roles">
                                                    <label class="radio">
                                                        <input type="radio" ng-value="role"
                                                               ng-model="$parent.roleSelecionada"
                                                               ng-change="handleRole()">
                                                        &nbsp;{{role.RoleName}}
                                                    </label>
                                                </div>
                                                <span style="color:red" ng-show="!roleSelecionada">
                                                    <strong>Selecione um privilégio</strong>
                                                </span>
                                            </div>
                                            <div class="col-md-6" ng-show="roleSelecionada">
                                                <label style="text-align : center; font-weight: bolder">
                                                    Módulos
                                                </label>
                                                <!--select class="form-control" size="6"
                                                        ng-model="modulo"
                                                        ng-change=""
                                                        ng-options="controller as controller.ds_controller for controller in roleSelecionada.Controllers">
                                                    <option style="display:none" value="">Página inicial</option>
                                                </select--> 
                                                <!-- MODULOS -->
                                                <div>
                                                    <ul class="list-unstyled">
                                                        <li ng-repeat="controller in roleSelecionada.Controllers">
                                                            <button class="btn btn-link" 
                                                                    style="color: black !important"
                                                                    title="{{{true: 'Página Inicial', false: ''}[controller.principal]}}"
                                                                    popover-animation="true"
                                                                    popover-placement="right"
                                                                    popover-trigger="click"
                                                                    popover-title="Permissões de {{controller.ds_controller}}"
                                                                    popover-template="'methodsController.html'"> 
                                                                {{controller.ds_controller}}
                                                                <i class="fa fa-home"
                                                                    ng-show="controller.principal">
                                                                </i>
                                                            </button>
                                                            <script type="text/ng-template" id="methodsController.html">
                                                                <ul class="list-unstyled">
                                                                    <li ng-repeat-start="method in controller.methods">
                                                                        {{method.ds_method}}
                                                                    </li>
                                                                    <li class="divider" ng-repeat-end></li> 
                                                                 </ul>
                                                            </script>
                                                            <ul class="list-unstyled">
                                                                <li ng-repeat="subcontroller in controller.subControllers">
                                                                    <button class="btn btn-link" 
                                                                            style="color: black !important"
                                                                            title="{{{true: 'Página Inicial', false: ''}[subcontroller.principal]}}"
                                                                            popover-animation="true"
                                                                            popover-placement="right"
                                                                            popover-trigger="click"
                                                                            popover-title="Permissões de {{subcontroller.ds_controller}}"
                                                                            popover-template="'methodsSubcontroller.html'"> 
                                                                        {{subcontroller.ds_controller}}
                                                                        <i class="fa fa-home"
                                                                           ng-show="subcontroller.principal">
                                                                        </i>
                                                                    </button>
                                                                    <script type="text/ng-template" id="methodsSubcontroller.html">
                                                                        <ul class="list-unstyled">
                                                                            <li ng-repeat-start="method in subcontroller.methods">
                                                                                {{method.ds_method}}
                                                                            </li>
                                                                            <li class="divider" ng-repeat-end></li> 
                                                                         </ul>
                                                                    </script>
                                                                    <ul class="list-unstyled">
                                                                        <li ng-repeat="subcontroller2 in subcontroller.subControllers">
                                                                            <button class="btn btn-link" 
                                                                                    style="color: black !important"
                                                                                    title="{{{true: 'Página Inicial', false: ''}[subcontroller2.principal]}}"
                                                                                    popover-animation="true"
                                                                                    popover-placement="right"
                                                                                    popover-trigger="click"
                                                                                    popover-title="Permissões de {{subcontroller2.ds_controller}}"
                                                                                    popover-template="'methodsSubcontroller2.html'"> 
                                                                                {{subcontroller2.ds_controller}}
                                                                                <i class="fa fa-home"
                                                                                   ng-show="subcontroller2.principal">
                                                                                </i>
                                                                            </button>
                                                                            <script type="text/ng-template" id="methodsSubcontroller2.html">
                                                                                <ul class="list-unstyled">
                                                                                    <li ng-repeat-start="method in subcontroller2.methods">
                                                                                        {{method.ds_method}}
                                                                                    </li>
                                                                                    <li class="divider" ng-repeat-end></li> 
                                                                                 </ul>
                                                                            </script>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- FIM MÓDULOS -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- CONFIRMAÇÃO -->
                                    <div class="tab-pane" ng-class="{ active:tabCadastroSelecionada(4) }">
                                        <h3 class="block">Confirme seus dados</h3>
                                        <h4 class="form-section">Dados pessoais</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Nome:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">
                                                    <strong>{{pessoa.nome}}</strong>
                                                </p>
                                            </div>
                                        </div>                                    
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Data de Nascimento:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">
                                                    <strong>{{getDataDeNascimento()}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Telefone:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">
                                                    <strong>{{pessoa.telefone}}</strong>
                                                </p>
                                            </div>
                                        </div>                                    
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Ramal:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">
                                                    <strong>{{pessoa.ramal}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <h4 class="form-section">Dados da conta</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Login:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">
                                                    <strong>{{usuario.login}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">E-mail:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">
                                                    <strong>{{usuario.email}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Empresa:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">
                                                    <strong>{{usuario.grupoempresa.ds_nome || ''}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Filial:</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">
                                                    <strong>{{usuario.empresa.ds_fantasia || ''}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <h4 class="form-section">Privilégios</h4>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Privilégio:</label>
                                            <div class="col-md-4">
                                                <!--div ng-repeat="role in roles | filter:{selecionado:true}">
                                                    <strong>{{role.RoleName}}</strong>
                                                    <i class="fa fa-home"
                                                       ng-show="rolePrincipal.RoleId === role.RoleId"></i>
                                                </div-->
                                                <p class="form-control-static">
                                                    <strong>{{roleSelecionada.RoleName || ''}}</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- BOTÕES -->
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <a href="javascript:;" ng-click="goAdministrativoUsuarios()" class="btn grey button-previous">
										  <i class="fa fa-times" ng-disabled="cadastrando"></i> Cancelar 
                                        </a>
                                        <a href="javascript:;" ng-click="setTabAnterior()" 
                                           class="btn botaoVoltar button-previous" 
                                           ng-class="{'element-hidden': tabCadastroSelecionada(1)}">
                                            <i class="m-icon-swapleft"></i> Voltar 
                                        </a>
                                        <a href="javascript:;" ng-click="setProximaTab()" 
                                           class="btn blue button-next" 
                                           ng-class="{'element-hidden': tabCadastroSelecionada(4)}">
                                            Continuar <i class="m-icon-swapright m-icon-white"></i>
                                        </a>
                                        <a href="javascript:;" ng-click="armazenaInformacoesDoUsuario()"
                                           class="btn button-submit"
                                           ng-class="{ 'red' : ehCadastro(), 'green': !ehCadastro()}"
                                           ng-show="tabCadastroSelecionada(4) && !cadastrando">
                                            {{tela.acao}} 
                                            <i class="fa" ng-class="{'fa-plus' : ehCadastro(), 'fa-edit' : !ehCadastro()}"></i>
                                        </a>
                                        <img ng-src="../img/loading-atos.gif" style="margin-top: 10px" ng-show="cadastrando"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
